# COVID-19 data to dashboard

In this project I am going to create a dashboard with epidemiology COVID-19 data taking from the official UK government website for data and insights on coronavirus (COVID-19). 


![Image of Yaktocat](https://octodex.github.com/images/yaktocat.png)

Step 1. Convert the different CSV files into SQL format.

Step 2. Create a dashboard with the SQL created in the previous step.

In [1]:
import pandas as pd

In [3]:


pd.read_csv('/home/genetics/Desktop/Manuel_project/SQL project/SQL2Dashboard/Covid-19/Patients admitted to hospital.csv')

,areaType,areaName,areaCode,date,newAdmissions,cumAdmissions
0,overview,United Kingdom,K02000001,2021-05-02,120,463596
1,overview,United Kingdom,K02000001,2021-05-01,98,463476
2,overview,United Kingdom,K02000001,2021-04-30,109,463378
3,overview,United Kingdom,K02000001,2021-04-29,100,463269
4,overview,United Kingdom,K02000001,2021-04-28,108,463169
...,...,...,...,...,...,...
401,overview,United Kingdom,K02000001,2020-03-27,2227,12835
402,overview,United Kingdom,K02000001,2020-03-26,1929,10608
403,overview,United Kingdom,K02000001,2020-03-25,2085,8679
404,overview,United Kingdom,K02000001,2020-03-24,1720,6594
405,overview,United Kingdom,K02000001,2020-03-23,1273,4874