# Creating the fake database
****

<a id="top"></a>

<b>Table of contents</b><br>

1. [Creating fake population](#population)
2. [Populating the database](#Database)

In this notebook I am going to create a few CSV files with fake data. Then I will use this data to create tables in a new database. The grafic representation (schema) of the database I want to create can be seen below.



![Image of Yaktocat](https://raw.githubusercontent.com/Manuel-DominguezCBG/SQL2Dashboard/main/Covid-19/Images/screenshot-aca1dabf.jpg)

This database I want to create contains 4 interconnected tables. The main table is Patient_data which has basic patient data such as ID, Name, NHS number, gender, etc. In this fake database, this should be the total number of patients of a specific Trust.

The second table is Covid_19_admission with the patient_admiytted _id linked with Patient_data (id), data of admission and Hospital_ID. This table contains a specific proportion of patients from the Patient_data table.

The third table is Covid_19_deaths what is the number of patients that dye a few days after being admitted. This table have Patient_admited_id that links with Covid_19_admission (Patient_admitted_id).

The last table is Hospital_features which contained the information of the three hospitals belonging the Trust. The column Hospital_ID of this table links with Covid_19_death (Hospital_ID) and with Covid_19_admission (Hospital_ID).

<a id="population"></a>
## 1. Creating fake people

In [2]:
# Populating Patient_data dataframe
# 2000 patients with ID number, Name, NHS number, Age, Gender, Ethnicity and postcode.

# Import libraries
import pandas as pd
from pandas import DataFrame
import numpy as np
import random
import datetime
from datetime import timedelta
import names                                     # pip install names
from faker.providers.person.en import Provider   # pip install faker
import sqlite3


size = 2000

In [3]:
# Let’s create some functions to randomly generate our data 

def random_id(size):
    id_patient = random.sample(range(100000000), size)
    return id_patient

In [4]:
def random_NHS_number(size):
    NHS_numbers = random.sample(range(100000000,999999999),size)
    return NHS_numbers

In [5]:
def random_names(name_type, size):
    """
    Generate n-length ndarray of person names.
    name_type: a string, either first_names or last_names
    """
    names = getattr(Provider, name_type)
    return np.random.choice(names, size=size)

In [6]:
def random_genders(size, p=None):
    """Generate n-length ndarray of genders."""
    if not p:
        # Equal probability of gender
        p = (0.5, 0.5)
    gender = ("M", "F")
    return np.random.choice(gender, size=size, p=p)

In [7]:
def random_Ethnicity(size, p=None):
    """Generate n-length ndarray of genders."""
    if not p:
        # 5 groups with different probability
        p = (0.49, 0.10, 0.11, 0.01, 0.29)
    Ethnicity = ("White British", "Black British people", "British Indians", "White Gypsy or Irish Traveller", "Other White")
    return np.random.choice(Ethnicity, size=size, p=p)

In [8]:
def random_Postcode(size, p=None):
    """
    A real Faker's UK postcode generation can be found here
    https://github.com/joke2k/faker/blob/07ca4ede54c26554fdb5c7a4f55432cb0498d338/faker/providers/address/en_GB/__init__.py
    However, for this small fake database there is no need to populate it with real UK ppostcode.
    Instead of this, only a few fake postcodes are generate manually"""
    if not p:
        # 10 postcodes, same p
        p = (0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1,0.1)
    Postcode = ("SO15 5FL", "SP01 10MA", "BE01 5SA", "CB19 5US", "SO15 10FL", "LO12 8HG", "WE1 7YG", "SO01 7JH", "SP2 8BJ", "SP3 8BJ")
    return np.random.choice(Postcode, size=size, p=p)

In [9]:
def random_Hospital_names(size, p=None):
    """
    3 Fake hospitals names with similar probability
    """
    if not p:
        # 10 postcodes, same p
        p = (0.3, 0.3, 0.4)
    Hospital_names = ("Robin Hood Hospital", "Alfred Hitchcock Hospital", "Chris Martin Hospital")
    return np.random.choice(Hospital_names, size=size, p=p)

In [10]:
def random_dates(start, end, size):
    """
    Generate random dates within range between start and end.    
    Adapted from: https://stackoverflow.com/a/50668285
    """
    # Unix timestamp is in nanoseconds by default, so divide it by
    # 24*60*60*10**9 to convert to days.
    divide_by = 24 * 60 * 60 * 10**9
    start_u = start.value // divide_by
    end_u = end.value // divide_by
    return pd.to_datetime(np.random.randint(start_u, end_u, size), unit="D")

## patient_data_df

In [11]:
# Empty df with headers
patients_admitted = pd.DataFrame(columns=['ID', 'NHS_Number','Full_Name','Gender', 'Birthdate', 'Ethnicity', 'Postcode'])

# Populate the dataframe with the functions created above.
patients_admitted['ID'] = random_id(size) 
patients_admitted['NHS_Number'] = random_NHS_number(size)
patients_admitted['first_names'] = random_names('first_names', size)
patients_admitted['last_names'] = random_names('last_names', size)
patients_admitted['Full_Name'] = patients_admitted['first_names']  + ' ' + patients_admitted['last_names']
del patients_admitted['first_names']
del patients_admitted['last_names']
patients_admitted['Gender'] = random_genders(size)
patients_admitted['Birthdate'] = random_dates(start=pd.to_datetime('1900-01-01'), end=pd.to_datetime('2008-01-01'), 
                                              size=size)
patients_admitted['Ethnicity'] = random_Ethnicity(size)
patients_admitted['Postcode'] = random_Postcode(size)
patients_admitted

,ID,NHS_Number,Full_Name,Gender,Birthdate,Ethnicity,Postcode
0,31636899,220476071,Edgardo Labadie,M,1900-11-17,British Indians,SO15 10FL
1,15683569,615898526,Darrius Raynor,F,1938-03-31,White British,SO15 5FL
2,97930462,605949012,Letty Powlowski,F,1990-11-23,White British,SO15 5FL
3,35162424,493923169,Davion Wintheiser,F,1914-12-18,White British,SO15 5FL
4,28776615,307550814,Von Schulist,F,1934-08-01,Black British people,SO15 5FL
...,...,...,...,...,...,...,...
1995,89201850,324183698,Lottie Kozey,M,1935-07-20,White British,SP2 8BJ
1996,43807952,331960849,Emily Beatty,M,1955-02-13,Other White,WE1 7YG
1997,11669182,349042022,Zita Schneider,F,1911-01-26,Other White,SO01 7JH
1998,67972443,485406257,Marylee Lemke,M,1979-03-13,White British,SO15 5FL
1999,86352415,823001331,Nasir Anderson,F,1908-11-15,White British,BE01 5SA

In [12]:
# To save this as CSV if neccesary

#patients_admitted.to_csv('./patient_data_df.csv')

## covid_19_admission_df

In [13]:
# Populating COVID-19 admission dataframe

# Empty df
covid_19_admission_df = pd.DataFrame(columns=['Patient_admitted_id', 'Date', 'Hospital_ID' ])


# Admission of COVID patients in three hospitals of the same TRUST for one month period

# Populate the Pt_admited_id with the ID of people from patients_admitted
# This table contain the 5% of the patients found in the patient_data_df
patients_admitted_length = int(len(patients_admitted)*0.05)
ID = patients_admitted['ID'].tolist() # ID to list to select the 5% of the values of the ID column
ID2df = (random.choices(ID, k=patients_admitted_length))
covid_19_admission_df['Patient_admitted_id'] = ID2df

#Date from 1 January 2021 to 31 January 2021
covid_19_admission_df['Date'] = random_dates(start=pd.to_datetime('2021-01-01'), 
                                             end=pd.to_datetime('2021-01-31'), size=patients_admitted_length)



# So far, each hospital will get ramdon number of patients

The_hospitals_list = [214321,224323,3234234]
covid_19_admission_df['Hospital_ID'] = np.random.choice(list(The_hospitals_list), len(covid_19_admission_df))

covid_19_admission_df

    Patient_admitted_id       Date  Hospital_ID
0              76960910 2021-01-20       214321
1              89158076 2021-01-20       214321
2              52695926 2021-01-25       214321
3              54789726 2021-01-16      3234234
4              36806767 2021-01-02       224323
..                  ...        ...          ...
95             86748650 2021-01-05       224323
96             81123390 2021-01-01       214321
97             72477754 2021-01-15       224323
98             77708168 2021-01-08       224323
99             42828032 2021-01-16      3234234

[100 rows x 3 columns]

In [14]:
# To save this as CSV
#covid_19_admission_df.to_csv('./covid_19_admission_df.csv')

## covid_19_death_df

Similar that covid_19_admission_df in which a small proportion of the admitted patients died a few days after admission.

In [15]:

# Crete a dict with ID number and date of admission
id2date_admission = pd.Series(covid_19_admission_df.Date.values,covid_19_admission_df.Patient_admitted_id.values).to_dict()

# Select the 5% of the total number of items  covid_19_admission_df
covid_19_admission_length = int(len(covid_19_admission_df)*0.05)

# Convert these items in a list
#entry_list = list(id2date_admission.items())

#Take the 5% of total number of items 
random_entry = random.sample(list(id2date_admission.items()), k=covid_19_admission_length)

# Populate a new df with the patients who are going to die and their date of admission
covid_19_death_df = DataFrame (random_entry,columns=['Patient_admitted_id','Date_admission'])

# Now, we suppose they will die a few random days later, between the 3rd and the 20th day after admission for example.
covid_19_death_df["Death_dates"] = covid_19_death_df["Date_admission"] + timedelta(days=random.randint(3, 20))

# we need the hospital where they were admitted and they died
covid_19_death_df = covid_19_admission_df.merge(covid_19_death_df, on="Patient_admitted_id")

# Some deletion of the columns I dont need
covid_19_death_df = covid_19_death_df.drop(['Date',  'Date_admission'], axis = 1)

# I dont need the date_admission column
#
covid_19_death_df

   Patient_admitted_id  Hospital_ID Death_dates
0             52695926       214321  2021-02-05
1             93637557       214321  2021-01-19
2             23908207       224323  2021-01-30
3             80523331       224323  2021-02-01
4             54978147       224323  2021-01-19

## Hospital_features_df
Some characteristics of the hospitals of this fake database

In [16]:
data = {'Hospital_ID': [214321,224323,3234234],
        'Hospital_name':  ['Chris Martin Hospital', 'Alfred Hitchcock Hospital','Robin Hood Hospital'],
        'Hospital_location': ['SO15 5FL', 'BE01 5SA','LO12 8HG'],
        'Number_of_beds' : [100,200,150],
        'Number_of_staff' : [300,600,400],
        'Number_of_ITU_Beds' : [10,20,15]}
Hospital_features_df = pd.DataFrame(data, columns=['Hospital_ID','Hospital_name', 'Hospital_location', 
                                                   'Number_of_beds','Number_of_staff', 'Number_of_ITU_Beds' ])
Hospital_features_df

,Hospital_ID,Hospital_name,Hospital_location,Number_of_beds,Number_of_staff,Number_of_ITU_Beds
0,214321,Chris Martin Hospital,SO15 5FL,100,300,10
1,224323,Alfred Hitchcock Hospital,BE01 5SA,200,600,20
2,3234234,Robin Hood Hospital,LO12 8HG,150,400,15

In [17]:
#Hospital_features_df.to_csv('./Hospital_features_df.csv')

<a id="Database"></a>
## Once all CSV have been done, we can use them to create the database.

In [18]:
# Create a database connection and cursor to execute queries.
conn = sqlite3.connect('./fake_db.db') # This create an empty database in the current directory
c = conn.cursor()

In [19]:
#   1. patient_data_df

### Add and empty table and load patient_data_df into sql table

c.execute('''DROP TABLE IF EXISTS patient_data''')
c.execute(''' CREATE TABLE patient_data (ID NOT NULL,
NHS_Number,
Full_Name,
Gender,
Birthdate,
Ethnicity, 
Postcode,
PRIMARY KEY (ID),
FOREIGN KEY (ID) REFERENCES  covid_19_admission (Patient_admitted_id) ON DELETE CASCADE)''')

# patient_data[ID] ---> covid_19_admission[Patient_admitted_id]
patients_admitted.to_sql('patient_data', conn, if_exists='append', index = False) #LOAD
c.execute('''SELECT * FROM patient_data''').fetchall() #SHOW

[(31636899,
  220476071,
  'Edgardo Labadie',
  'M',
  '1900-11-17 00:00:00',
  'British Indians',
  'SO15 10FL'),
 (15683569,
  615898526,
  'Darrius Raynor',
  'F',
  '1938-03-31 00:00:00',
  'White British',
  'SO15 5FL'),
 (97930462,
  605949012,
  'Letty Powlowski',
  'F',
  '1990-11-23 00:00:00',
  'White British',
  'SO15 5FL'),
 (35162424,
  493923169,
  'Davion Wintheiser',
  'F',
  '1914-12-18 00:00:00',
  'White British',
  'SO15 5FL'),
 (28776615,
  307550814,
  'Von Schulist',
  'F',
  '1934-08-01 00:00:00',
  'Black British people',
  'SO15 5FL'),
 (35429685,
  899135983,
  'Edwina McLaughlin',
  'F',
  '1912-09-13 00:00:00',
  'Other White',
  'BE01 5SA'),
 (9074807,
  389155879,
  'Elsworth Hahn',
  'F',
  '1936-06-05 00:00:00',
  'White British',
  'SP2 8BJ'),
 (37013104,
  881530459,
  'Reubin Kilback',
  'F',
  '1960-03-08 00:00:00',
  'White British',
  'SO15 10FL'),
 (39847404,
  915729833,
  'Bernardo Mayert',
  'F',
  '1984-10-12 00:00:00',
  'Other White',
  'BE01 5SA'),
 (90101452,
  425355668,
  'Derick Ward',
  'F',
  '1911-03-08 00:00:00',
  'White British',
  'CB19 5US'),
 (68306354,
  655324073,
  'Taurus Corwin',
  'M',
  '1949-10-10 00:00:00',
  'Other White',
  'WE1 7YG'),
 (44031267,
  264647957,
  'Darin Pouros',
  'M',
  '1916-11-16 00:00:00',
  'Black British people',
  'SP01 10MA'),
 (98873099,
  711335169,
  'Maliah Welch',
  'F',
  '1941-10-14 00:00:00',
  'White British',
  'WE1 7YG'),
 (86370411,
  120404946,
  'Elwood Gleichner',
  'M',
  '2005-12-15 00:00:00',
  'White British',
  'CB19 5US'),
 (77708168,
  574329122,
  'Deana Cummings',
  'M',
  '1986-03-08 00:00:00',
  'White British',
  'LO12 8HG'),
 (60399955,
  888985093,
  'Fulton Hickle',
  'F',
  '1927-12-11 00:00:00',
  'Other White',
  'SO15 5FL'),
 (79995261,
  108175039,
  'Arly Bosco',
  'M',
  '1936-10-09 00:00:00',
  'White British',
  'SP2 8BJ'),
 (3203926,
  855873893,
  'Octavio Simonis',
  'F',
  '1927-04-20 00:00:00',
  'Black British people',
  'SO15 10FL'),
 (15975641,
  549045403,
  'Wilfrid Kshlerin',
  'F',
  '1953-10-14 00:00:00',
  'British Indians',
  'CB19 5US'),
 (25689365,
  129560408,
  'Kelsea Kuhic',
  'M',
  '1940-10-27 00:00:00',
  'White British',
  'LO12 8HG'),
 (32640239,
  644380562,
  'Harlan Bergstrom',
  'M',
  '1997-02-06 00:00:00',
  'British Indians',
  'SO01 7JH'),
 (84547018,
  833269524,
  'Harlow Zemlak',
  'M',
  '1939-08-18 00:00:00',
  'Other White',
  'BE01 5SA'),
 (97023150,
  154368129,
  'Wash Ebert',
  'M',
  '1997-01-01 00:00:00',
  'Other White',
  'LO12 8HG'),
 (68509404,
  673086766,
  'Zillah Von',
  'F',
  '1968-02-27 00:00:00',
  'White British',
  'SP01 10MA'),
 (59340444,
  315515891,
  'Stevan Abshire',
  'F',
  '1965-01-27 00:00:00',
  'White British',
  'CB19 5US'),
 (89070171,
  124480587,
  'Shawna Lindgren',
  'M',
  '1936-11-03 00:00:00',
  'Other White',
  'SP3 8BJ'),
 (58160001,
  482717831,
  'Pearlie Smith',
  'F',
  '1993-04-23 00:00:00',
  'White British',
  'SO15 10FL'),
 (75754465,
  596317426,
  'Delle VonRueden',
  'F',
  '1973-07-12 00:00:00',
  'White British',
  'SP3 8BJ'),
 (22983237,
  637467583,
  'Yusuf Koepp',
  'M',
  '1948-07-06 00:00:00',
  'Other White',
  'SP2 8BJ'),
 (38900000,
  587179364,
  'Citlalli Watsica',
  'M',
  '1958-05-27 00:00:00',
  'British Indians',
  'LO12 8HG'),
 (99685918,
  466782652,
  'Tristen Schimmel',
  'F',
  '1958-12-14 00:00:00',
  'White British',
  'CB19 5US'),
 (61601895,
  122676662,
  'Annmarie Dickens',
  'M',
  '1924-10-28 00:00:00',
  'Other White',
  'SO15 10FL'),
 (50163317,
  180605457,
  'Aleta Cummerata',
  'F',
  '1939-03-29 00:00:00',
  'White British',
  'SP3 8BJ'),
 (61657814,
  272135331,
  'Elsworth Kub',
  'F',
  '1976-11-28 00:00:00',
  'Other White',
  'SO15 10FL'),
 (84501560,
  464169605,
  'Martell Upton',
  'M',
  '1936-07-10 00:00:00',
  'White British',
  'LO12 8HG'),
 (83328704,
  898558085,
  'Manly Von',
  'F',
  '1973-04-17 00:00:00',
  'Other White',
  'SO01 7JH'),
 (94172187,
  693142040,
  'Harper Stanton',
  'M',
  '1930-02-11 00:00:00',
  'British Indians',
  'SO15 5FL'),
 (94380138,
  446600785,
  'Chelsi Bins',
  'M',
  '1937-09-28 00:00:00',
  'White British',
  'SP3 8BJ'),
 (24746152,
  909784452,
  'Edw Fisher',
  'F',
  '1919-04-20 00:00:00',
  'White British',
  'BE01 5SA'),
 (66483371,
  229109681,
  'Primus Huel',
  'F',
  '1926-05-11 00:00:00',
  'White British',
  'LO12 8HG'),
 (29267877,
  613615539,
  'Keanu Gutkowski',
  'F',
  '1973-10-23 00:00:00',
  'Other White',
  'LO12 8HG'),
 (7575997,
  853719263,
  'Dale Strosin',
  'F',
  '1958-03-03 00:00:00',
  'White British',
  'SO01 7JH'),
 (2043883,
  333729493,
  'Marley Ziemann',
  'M',
  '1903-04-18 00:00:00',
  'British Indians',
  'SO15 10FL'),
 (45677521,
  931178068,
  'Hayes Ondricka',
  'M',
  '1963-09-18 00:00:00',
  'Other White',
  'SP2 8BJ'),
 (76174826,
  849095315,
  'Nealy Stanton',
  'F',
  '1966-09-07 00:00:00',
  'British Indians',
  'SO15 5FL'),
 (30890684,
  675358879,
  'Danica Renner',
  'F',
  '1984-05-22 00:00:00',
  'Other White',
  'SO01 7JH'),
 (94272561,
  713585705,
  'Rozella Stark',
  'F',
  '1934-06-27 00:00:00',
  'White British',
  'BE01 5SA'),
 (79137263,
  866912461,
  'Carley Farrell',
  'M',
  '1917-02-14 00:00:00',
  'White British',
  'CB19 5US'),
 (27882925,
  663578986,
  'Joslyn Bailey',
  'M',
  '1982-01-03 00:00:00',
  'White Gypsy or Irish Traveller',
  'SP2 8BJ'),
 (84408913,
  653927281,
  'Manie Hahn',
  'M',
  '1914-03-09 00:00:00',
  'Black British people',
  'BE01 5SA'),
 (25311302,
  739919798,
  'Kason Fisher',
  'M',
  '1972-12-16 00:00:00',
  'Black British people',
  'BE01 5SA'),
 (93635754,
  578986130,
  'Dorathy Jaskolski',
  'F',
  '1950-03-25 00:00:00',
  'Other White',
  'LO12 8HG'),
 (91593460,
  261061848,
  'Alexandria Goldner',
  'F',
  '1984-07-22 00:00:00',
  'White British',
  'SO15 5FL'),
 (75290648,
  187463507,
  'Alonzo Bergstrom',
  'F',
  '1919-01-31 00:00:00',
  'Other White',
  'SO15 5FL'),
 (57092835,
  976946025,
  'Joselyn Boyle',
  'F',
  '1933-06-21 00:00:00',
  'White British',
  'BE01 5SA'),
 (90301793,
  291746187,
  'Alissa Balistreri',
  'M',
  '1951-09-30 00:00:00',
  'White British',
  'SO01 7JH'),
 (16157467,
  341745681,
  'Jerri Mitchell',
  'M',
  '1936-12-30 00:00:00',
  'White British',
  'SO15 10FL'),
 (44428864,
  751708883,
  'Brooke Botsford',
  'M',
  '1976-01-28 00:00:00',
  'White British',
  'WE1 7YG'),
 (64855654,
  653746172,
  'Christeen Herman',
  'F',
  '1936-10-17 00:00:00',
  'Other White',
  'SO15 5FL'),
 (99364399,
  245659151,
  'Malcom Macejkovic',
  'F',
  '1998-09-14 00:00:00',
  'White British',
  'LO12 8HG'),
 (8299960,
  597000875,
  'Markell Collins',
  'M',
  '1966-02-21 00:00:00',
  'Other White',
  'CB19 5US'),
 (13206794,
  111598829,
  'Raleigh Klocko',
  'M',
  '1993-06-20 00:00:00',
  'White British',
  'SO15 10FL'),
 (4451719,
  147083892,
  'Kaci Sauer',
  'M',
  '1955-11-29 00:00:00',
  'Black British people',
  'SO01 7JH'),
 (45279680,
  252126472,
  'Vicente Wolff',
  'M',
  '1967-10-16 00:00:00',
  'White British',
  'SP01 10MA'),
 (3419830,
  594601326,
  'Linsey Murphy',
  'M',
  '1962-06-07 00:00:00',
  'Other White',
  'WE1 7YG'),
 (77960380,
  172582732,
  'Sonja Kunde',
  'F',
  '1955-11-16 00:00:00',
  'White British',
  'SP01 10MA'),
 (61251473,
  498650067,
  'Kanisha Olson',
  'M',
  '1925-06-05 00:00:00',
  'British Indians',
  'SO15 5FL'),
 (98370518,
  658644893,
  'Emanuel Volkman',
  'F',
  '1925-05-11 00:00:00',
  'White British',
  'SO15 5FL'),
 (91181655,
  687826513,
  'Fiona Walsh',
  'M',
  '1924-11-25 00:00:00',
  'White British',
  'BE01 5SA'),
 (34533984,
  772030991,
  'Elwood Abbott',
  'M',
  '1991-12-27 00:00:00',
  'White British',
  'CB19 5US'),
 (68264893,
  808485145,
  'Dosia Parisian',
  'F',
  '1915-06-27 00:00:00',
  'British Indians',
  'SO01 7JH'),
 (28318444,
  494901475,
  'Ethelene Dach',
  'F',
  '2000-12-12 00:00:00',
  'White British',
  'SP3 8BJ'),
 (57389993,
  871004090,
  'Nevin Howe',
  'M',
  '1902-08-07 00:00:00',
  'Black British people',
  'WE1 7YG'),
 (19811698,
  848724562,
  'Aryan Champlin',
  'M',
  '1973-10-27 00:00:00',
  'White British',
  'SP3 8BJ'),
 (92938039,
  146692819,
  'Jeanine Sauer',
  'F',
  '1939-05-17 00:00:00',
  'Other White',
  'LO12 8HG'),
 (93120549,
  718842899,
  'Ellamae Ziemann',
  'M',
  '1906-01-09 00:00:00',
  'White British',
  'SO01 7JH'),
 (29413713,
  374647239,
  'Delmas Quigley',
  'M',
  '2001-01-26 00:00:00',
  'White British',
  'SO01 7JH'),
 (17570472,
  844772955,
  'Yesenia Leuschke',
  'M',
  '1951-12-13 00:00:00',
  'British Indians',
  'SO15 5FL'),
 (15841893,
  984650964,
  'Keenen Skiles',
  'F',
  '1964-08-04 00:00:00',
  'British Indians',
  'SP2 8BJ'),
 (74485719,
  616064832,
  'Sage Reynolds',
  'F',
  '1986-12-25 00:00:00',
  'Black British people',
  'LO12 8HG'),
 (57246101,
  403436360,
  'Alferd Torphy',
  'F',
  '1943-12-28 00:00:00',
  'British Indians',
  'SO15 10FL'),
 (8325965,
  723206563,
  'Hubbard Bogan',
  'M',
  '1939-12-06 00:00:00',
  'British Indians',
  'SO15 5FL'),
 (99018324,
  925337897,
  'Omarion Homenick',
  'M',
  '1934-09-06 00:00:00',
  'Other White',
  'SP3 8BJ'),
 (78385369,
  840986992,
  'Edythe Reinger',
  'M',
  '1951-06-17 00:00:00',
  'White British',
  'CB19 5US'),
 (56956145,
  919348424,
  'Mellie Buckridge',
  'F',
  '1992-01-24 00:00:00',
  'Other White',
  'SP2 8BJ'),
 (95785802,
  785971673,
  'Tai Schmitt',
  'M',
  '1924-03-06 00:00:00',
  'Other White',
  'SP01 10MA'),
 (37027688,
  325499724,
  'Rosalyn Sipes',
  'M',
  '1926-07-11 00:00:00',
  'Other White',
  'LO12 8HG'),
 (87432376,
  732016091,
  'Lorine Keeling',
  'F',
  '1950-01-12 00:00:00',
  'Other White',
  'SO15 5FL'),
 (61783655,
  674975135,
  'Jaylee Toy',
  'F',
  '1940-08-21 00:00:00',
  'White British',
  'SO01 7JH'),
 (1103851,
  875345315,
  'Orley Crona',
  'F',
  '1973-05-15 00:00:00',
  'Other White',
  'SP01 10MA'),
 (5814718,
  799264481,
  'Alysia Gislason',
  'M',
  '1939-12-15 00:00:00',
  'Other White',
  'SO15 10FL'),
 (65823316,
  830423270,
  'Ryland Boehm',
  'M',
  '1929-10-04 00:00:00',
  'Other White',
  'SO15 5FL'),
 (70824596,
  971286233,
  'Jefferson McClure',
  'M',
  '2001-06-25 00:00:00',
  'White British',
  'SP01 10MA'),
 (53068981,
  597976915,
  'Boyce Rice',
  'M',
  '2006-05-05 00:00:00',
  'Other White',
  'SO01 7JH'),
 (15225301,
  889426146,
  'Corine Bode',
  'F',
  '1935-03-27 00:00:00',
  'White British',
  'SO15 5FL'),
 (37405424,
  390722946,
  'Chet Schowalter',
  'M',
  '1968-02-25 00:00:00',
  'White British',
  'SP3 8BJ'),
 (55860098,
  983718520,
  'Tavares Gutmann',
  'M',
  '1958-08-04 00:00:00',
  'Other White',
  'CB19 5US'),
 (1713332,
  888607490,
  'Lucious Goldner',
  'F',
  '1947-03-20 00:00:00',
  'White British',
  'SP01 10MA'),
 (11860091,
  805878655,
  'Ancil Larkin',
  'M',
  '1906-09-25 00:00:00',
  'Other White',
  'SP3 8BJ'),
 (49264282,
  124463952,
  'Leda Feest',
  'F',
  '1901-12-24 00:00:00',
  'Other White',
  'SP01 10MA'),
 (31889102,
  730517683,
  'Jarvis Hermiston',
  'M',
  '1930-07-14 00:00:00',
  'Other White',
  'WE1 7YG'),
 (35233871,
  578976060,
  'Regenia Yost',
  'F',
  '1987-07-13 00:00:00',
  'British Indians',
  'SP01 10MA'),
 (42768980,
  321816331,
  'Cloyd Wilkinson',
  'M',
  '1941-09-04 00:00:00',
  'British Indians',
  'LO12 8HG'),
 (9314607,
  524251972,
  'Rosie Kunze',
  'M',
  '1912-01-23 00:00:00',
  'Black British people',
  'CB19 5US'),
 (92183202,
  371212849,
  'Sandra Tromp',
  'F',
  '1978-11-06 00:00:00',
  'British Indians',
  'SO15 10FL'),
 (68383216,
  529905634,
  'Powell Steuber',
  'M',
  '1932-06-04 00:00:00',
  'British Indians',
  'SO15 10FL'),
 (87538226,
  595698018,
  'Le Mraz',
  'M',
  '1958-01-16 00:00:00',
  'White British',
  'SP01 10MA'),
 (74758319,
  264046968,
  'Christoper Larson',
  'M',
  '1955-01-14 00:00:00',
  'White British',
  'SP01 10MA'),
 (79632598,
  405600853,
  'Katelin Wiegand',
  'M',
  '1961-03-07 00:00:00',
  'White British',
  'SP3 8BJ'),
 (5939454,
  526497055,
  'Pate Herman',
  'F',
  '1953-10-30 00:00:00',
  'White British',
  'SP01 10MA'),
 (81599046,
  807905493,
  'Etna Hammes',
  'M',
  '1985-02-14 00:00:00',
  'White British',
  'SO01 7JH'),
 (7035192,
  505757036,
  'Baylie Hagenes',
  'F',
  '1993-10-12 00:00:00',
  'White British',
  'BE01 5SA'),
 (41401666,
  128108371,
  'Daja Bernhard',
  'M',
  '1935-09-05 00:00:00',
  'British Indians',
  'BE01 5SA'),
 (14074512,
  161915563,
  'Shona Goyette',
  'M',
  '1911-05-15 00:00:00',
  'Black British people',
  'CB19 5US'),
 (20483676,
  644054076,
  'Leatha Cremin',
  'M',
  '1999-07-14 00:00:00',
  'White British',
  'SO15 10FL'),
 (51098321,
  322421340,
  'Dafne Leffler',
  'M',
  '1903-11-13 00:00:00',
  'Other White',
  'WE1 7YG'),
 (84576511,
  544459374,
  'Phillis Powlowski',
  'M',
  '1982-10-03 00:00:00',
  'Other White',
  'SO01 7JH'),
 (89916259,
  506015487,
  'Gennaro Robel',
  'M',
  '1991-08-12 00:00:00',
  'White British',
  'BE01 5SA'),
 (52663485,
  765285185,
  'Alec Weber',
  'F',
  '1946-04-22 00:00:00',
  'White British',
  'SO15 5FL'),
 (53551902,
  509960744,
  'Shawn Barrows',
  'F',
  '1920-09-01 00:00:00',
  'White British',
  'SP2 8BJ'),
 (14118623,
  311615817,
  'Kasandra Lehner',
  'M',
  '1980-08-11 00:00:00',
  'Other White',
  'SO15 5FL'),
 (39407056,
  670662249,
  'Elfrieda Heidenreich',
  'F',
  '1988-12-10 00:00:00',
  'Other White',
  'LO12 8HG'),
 (9225270,
  731560177,
  'Germaine Kemmer',
  'F',
  '1972-02-10 00:00:00',
  'Other White',
  'SP01 10MA'),
 (48841615,
  792917522,
  'Kailee Reinger',
  'F',
  '1950-03-18 00:00:00',
  'White British',
  'SO15 5FL'),
 (57939494,
  954394248,
  'Elise Mueller',
  'M',
  '1917-08-16 00:00:00',
  'White Gypsy or Irish Traveller',
  'LO12 8HG'),
 (45029431,
  243881151,
  'Wendel Rogahn',
  'M',
  '1960-06-28 00:00:00',
  'Other White',
  'SO01 7JH'),
 (52720185,
  381424909,
  'Marianne Nienow',
  'F',
  '1907-01-24 00:00:00',
  'White British',
  'CB19 5US'),
 (75014247,
  284147499,
  'Rosetta Farrell',
  'M',
  '1977-01-01 00:00:00',
  'British Indians',
  'BE01 5SA'),
 (30363354,
  897684177,
  'Deontae Howell',
  'F',
  '1983-02-25 00:00:00',
  'White British',
  'SP3 8BJ'),
 (60127475,
  427833468,
  'Lynette Predovic',
  'F',
  '1926-02-28 00:00:00',
  'Other White',
  'SP01 10MA'),
 (95946663,
  845961489,
  'Adelle Cremin',
  'M',
  '1939-06-14 00:00:00',
  'Other White',
  'SO15 5FL'),
 (46613643,
  451655771,
  'Pollie Fritsch',
  'F',
  '1959-12-06 00:00:00',
  'White British',
  'BE01 5SA'),
 (369655,
  545132566,
  'Wong Mitchell',
  'F',
  '1993-04-29 00:00:00',
  'White British',
  'SP01 10MA'),
 (63720444,
  972665627,
  'Tremayne Dare',
  'F',
  '1904-11-21 00:00:00',
  'Other White',
  'SO15 10FL'),
 (92299945,
  163887365,
  'Dora Sipes',
  'F',
  '2004-11-26 00:00:00',
  'White British',
  'SP01 10MA'),
 (21123109,
  432311501,
  'Chas Kunde',
  'M',
  '1992-01-17 00:00:00',
  'White British',
  'SO15 10FL'),
 (2965230,
  304566008,
  'Danette Gusikowski',
  'F',
  '1900-01-25 00:00:00',
  'White British',
  'LO12 8HG'),
 (46038359,
  530264179,
  'Hilliard Dickens',
  'M',
  '1932-05-25 00:00:00',
  'White British',
  'BE01 5SA'),
 (95953653,
  673212615,
  'Alvy Rosenbaum',
  'M',
  '1914-05-27 00:00:00',
  'British Indians',
  'SP3 8BJ'),
 (64154599,
  217832937,
  'Natalie Nikolaus',
  'F',
  '1911-04-21 00:00:00',
  'Other White',
  'SP2 8BJ'),
 (25982863,
  496081416,
  'Rolla Raynor',
  'F',
  '1906-01-25 00:00:00',
  'Other White',
  'SP2 8BJ'),
 (56876661,
  551616106,
  'Erin Collins',
  'F',
  '1973-06-26 00:00:00',
  'British Indians',
  'SO15 10FL'),
 (91216013,
  143411352,
  'Shirlee Purdy',
  'F',
  '1968-03-15 00:00:00',
  'British Indians',
  'SO01 7JH'),
 (30663709,
  370408297,
  'Niles Ritchie',
  'M',
  '1985-09-06 00:00:00',
  'White British',
  'SO15 5FL'),
 (58500072,
  447211713,
  'Nikko Jakubowski',
  'F',
  '1910-09-06 00:00:00',
  'Black British people',
  'WE1 7YG'),
 (34276295,
  681691299,
  'Michele Franecki',
  'M',
  '1906-06-10 00:00:00',
  'Other White',
  'BE01 5SA'),
 (68021250,
  645952254,
  'Tanisha Welch',
  'F',
  '1975-12-03 00:00:00',
  'Other White',
  'SP2 8BJ'),
 (97550635,
  810040839,
  'Araminta Russel',
  'F',
  '1967-10-10 00:00:00',
  'British Indians',
  'LO12 8HG'),
 (86748650,
  457760316,
  'Terance Nienow',
  'M',
  '1988-03-28 00:00:00',
  'Other White',
  'SP3 8BJ'),
 (82706124,
  319824282,
  'Josiah Gulgowski',
  'M',
  '1996-06-19 00:00:00',
  'White British',
  'SO15 10FL'),
 (1892270,
  257442955,
  'Stephen Tremblay',
  'F',
  '1970-05-14 00:00:00',
  'Other White',
  'SO15 10FL'),
 (42837458,
  573237409,
  'Kristyn West',
  'M',
  '1965-12-01 00:00:00',
  'Other White',
  'WE1 7YG'),
 (38306911,
  397064234,
  'Blanch Gleason',
  'F',
  '1974-06-19 00:00:00',
  'White British',
  'BE01 5SA'),
 (99118811,
  731807194,
  'Sherrie Schumm',
  'F',
  '1925-07-15 00:00:00',
  'White British',
  'SP01 10MA'),
 (33013545,
  687335385,
  'Gladys Dickinson',
  'F',
  '1972-03-11 00:00:00',
  'White British',
  'WE1 7YG'),
 (40163808,
  146785373,
  'Miriam Reynolds',
  'F',
  '1937-01-23 00:00:00',
  'Other White',
  'SP2 8BJ'),
 (3835952,
  323667419,
  'Guss Ankunding',
  'F',
  '1961-09-04 00:00:00',
  'British Indians',
  'SP2 8BJ'),
 (84846948,
  515702568,
  'Devan Lind',
  'F',
  '1947-05-04 00:00:00',
  'White British',
  'LO12 8HG'),
 (33122124,
  435892691,
  'Rolando Kreiger',
  'F',
  '1976-08-26 00:00:00',
  'White British',
  'BE01 5SA'),
 (85034753,
  230469125,
  'Garret Bauch',
  'M',
  '1989-06-27 00:00:00',
  'Black British people',
  'SO15 5FL'),
 (31998816,
  595467311,
  'Emit Rowe',
  'M',
  '1922-09-01 00:00:00',
  'Other White',
  'BE01 5SA'),
 (37463108,
  393502840,
  'Peyton Schmidt',
  'M',
  '2004-04-16 00:00:00',
  'White British',
  'SO01 7JH'),
 (4736076,
  424382939,
  'Fredericka Batz',
  'F',
  '1996-10-21 00:00:00',
  'Other White',
  'SP2 8BJ'),
 (72558190,
  806984572,
  'Christin Kuhlman',
  'M',
  '1941-05-13 00:00:00',
  'White British',
  'SP01 10MA'),
 (64746215,
  251862056,
  'Vance Lang',
  'M',
  '1946-06-19 00:00:00',
  'White British',
  'BE01 5SA'),
 (54690975,
  807313648,
  'Pauline Upton',
  'F',
  '2007-01-05 00:00:00',
  'White British',
  'CB19 5US'),
 (94143194,
  513179077,
  'Elmore Boyer',
  'M',
  '1980-11-09 00:00:00',
  'Other White',
  'WE1 7YG'),
 (47222733,
  339072232,
  'Alejandro Sauer',
  'M',
  '1905-02-04 00:00:00',
  'White British',
  'LO12 8HG'),
 (6378601,
  798256460,
  'Cortez Blanda',
  'F',
  '1929-08-27 00:00:00',
  'White British',
  'CB19 5US'),
 (88699794,
  523681510,
  'Fae Armstrong',
  'M',
  '2000-01-17 00:00:00',
  'White British',
  'SP3 8BJ'),
 (13186032,
  773002809,
  'Shanon Wolff',
  'M',
  '1925-02-27 00:00:00',
  'Other White',
  'WE1 7YG'),
 (62046150,
  810605949,
  'Bjorn Funk',
  'F',
  '2004-03-10 00:00:00',
  'White British',
  'BE01 5SA'),
 (59718733,
  375014469,
  'Jensen Kemmer',
  'F',
  '1950-02-18 00:00:00',
  'Other White',
  'SO15 10FL'),
 (12916832,
  491711161,
  'Shelly Thiel',
  'M',
  '1906-06-05 00:00:00',
  'White British',
  'SP2 8BJ'),
 (33741077,
  808283985,
  'Soledad Berge',
  'F',
  '1975-08-20 00:00:00',
  'White British',
  'SP3 8BJ'),
 (76129729,
  485428172,
  'Avie Durgan',
  'F',
  '1911-01-26 00:00:00',
  'British Indians',
  'SP01 10MA'),
 (87463971,
  479209592,
  'Osborne Brakus',
  'M',
  '1962-06-29 00:00:00',
  'Other White',
  'WE1 7YG'),
 (12751304,
  437700645,
  'Neta Bayer',
  'F',
  '2007-01-18 00:00:00',
  'White British',
  'LO12 8HG'),
 (25012194,
  491857376,
  'Mervyn Hirthe',
  'F',
  '1981-01-24 00:00:00',
  'White British',
  'SO01 7JH'),
 (14291361,
  322904491,
  'Perla Swaniawski',
  'M',
  '1915-04-20 00:00:00',
  'Other White',
  'SO15 10FL'),
 (7811947,
  192316803,
  'Bayard Koelpin',
  'M',
  '1941-08-13 00:00:00',

In [20]:
#   2. covid_19_admission_df

c.execute('''DROP TABLE IF EXISTS covid_19_admission''')
c.execute(''' CREATE TABLE covid_19_admission (Patient_admitted_id NOT NULL,
Date,
Hospital_ID,
PRIMARY KEY (Patient_admitted_id),
FOREIGN KEY (Hospital_ID) REFERENCES  Hospital_features (Hospital_ID) ON DELETE CASCADE,
FOREIGN KEY (Patient_admitted_id) REFERENCES covid_19_death (Patient_admitted_id) ON DELETE CASCADE)''')
covid_19_admission_df.to_sql('covid_19_admission', conn, if_exists='append', index = False)
c.execute('''SELECT * FROM covid_19_admission''').fetchall()

IntegrityError: UNIQUE constraint failed: covid_19_admission.Patient_admitted_id

In [21]:
#   3. covid_19_death_df

c.execute('''DROP TABLE IF EXISTS covid_19_death''')
c.execute(''' CREATE TABLE covid_19_death (Patient_admitted_id NOT NULL,
Hospital_ID,
Death_dates,
PRIMARY KEY (Patient_admitted_id),
FOREIGN KEY (Hospital_ID) REFERENCES  Hospital_features (Hospital_ID) ON DELETE CASCADE)''')
covid_19_death_df.to_sql('covid_19_death', conn, if_exists='append', index = False)
c.execute('''SELECT * FROM covid_19_death''').fetchall()

[(52695926, 214321, '2021-02-05 00:00:00'),
 (93637557, 214321, '2021-01-19 00:00:00'),
 (23908207, 224323, '2021-01-30 00:00:00'),
 (80523331, 224323, '2021-02-01 00:00:00'),
 (54978147, 224323, '2021-01-19 00:00:00')]

In [25]:
#   4. Hospital_features_df

c.execute('''DROP TABLE IF EXISTS Hospital_features''')
c.execute(''' CREATE TABLE Hospital_features ( Hospital_ID NOT NULL PRIMARY KEY,
Hospital_name,
Hospital_location,
Number_of_beds number (3),
Number_of_staff number (3),
Number_of_ITU_Beds number (3))''')
Hospital_features_df.to_sql('Hospital_features', conn, if_exists='append', index = False)
c.execute('''SELECT * FROM Hospital_features''').fetchall()

[(214321, 'Chris Martin Hospital', 'SO15 5FL', 100, 300, 10),
 (224323, 'Alfred Hitchcock Hospital', 'BE01 5SA', 200, 600, 20),
 (3234234, 'Robin Hood Hospital', 'LO12 8HG', 150, 400, 15)]

## Database created.

In [26]:
# Let's ensure everything is ok.
# The encoding pragma controls how strings are encoded and stored in a database file.
c.execute("PRAGMA table_info(patient_data);").fetchall()
# id 	name 	type 	notnull 	dflt_value 	pk

[(0, 'ID', '', 1, None, 1),
 (1, 'NHS_Number', '', 0, None, 0),
 (2, 'Full_Name', '', 0, None, 0),
 (3, 'Gender', '', 0, None, 0),
 (4, 'Birthdate', '', 0, None, 0),
 (5, 'Ethnicity', '', 0, None, 0),
 (6, 'Postcode', '', 0, None, 0)]

In [27]:
c.execute("PRAGMA table_info(covid_19_admission);").fetchall()

[(0, 'Patient_admitted_id', '', 1, None, 1),
 (1, 'Date', '', 0, None, 0),
 (2, 'Hospital_ID', '', 0, None, 0)]

In [28]:
c.execute("PRAGMA table_info(covid_19_death);").fetchall()

[(0, 'Patient_admitted_id', '', 1, None, 1),
 (1, 'Hospital_ID', '', 0, None, 0),
 (2, 'Death_dates', '', 0, None, 0)]

In [29]:
c.execute("PRAGMA table_info(Hospital_features);").fetchall()

[(0, 'Hospital_ID', '', 1, None, 1),
 (1, 'Hospital_name', '', 0, None, 0),
 (2, 'Hospital_location', '', 0, None, 0),
 (3, 'Number_of_beds', 'number (3)', 0, None, 0),
 (4, 'Number_of_staff', 'number (3)', 0, None, 0),
 (5, 'Number_of_ITU_Beds', 'number (3)', 0, None, 0)]

### Notebook details
<br>
<i>Notebook created by <strong>Manuel Dominguez</strong> 

Creation date: May 2021<br>

//// -- Tables and References

// Creating tables
Table Patient_data {
  id int [pk, increment] // auto-increment
  Full_name varchar
  NHS_number int
  Birthdate int
  Gender varchar
  Ethnicity varchar
  Postcode varchar
}

Table Covid_19_admission {
  Patients_admitted_id int [ref: > Patient_data.id]  // inline relationship (many-to-one)
  Date_adm int
  Hospital_ID varchar [ref: > Hospital_features.Hospital_ID]
  Indexes {
    (Patients_admitted_id) [pk]
  }
}



Table Hospital_features {
 Hospital_ID varchar
 Hospital_name varchar 
 Hospital_location varchar
 Number_of_beds varchar
 Number_of_ITU_beds varchar
 

}



Table covid_19_death {
 Patients_admitted_id  int [ref: > Covid_19_admission.Patients_admitted_id]
 Hospital_ID varchar [ref: > Hospital_features.Hospital_ID]
 Death_dates varchar 
 Indexes {
    (Patients_admitted_id) [pk]
  }
 

}