# Creating the fake database
****

<a id="top"></a>

<b>Table of contents</b><br>

1. [Creating fake population](#population)
2. [Populating the database](#Database)

In this notebook I am going to create a few CSV files with fake data. Then I will use this data to create tables in a new database. The grafic representation (schema) of the database I want to create can be seen below



![Image of Yaktocat](https://raw.githubusercontent.com/Manuel-DominguezCBG/SQL2Dashboard/main/Covid-19/Images/screenshot-aca1dabf.jpg)

<a id="population"></a>
## 1. Creating fake people

In [1]:
# Populating Patient_data dataframe
# 2000 patients with ID number, Name, NHS number, Age, Gender, Ethnicity and postcode.

# Import libraries
import pandas as pd
from pandas import DataFrame
import numpy as np
import random
import datetime
from datetime import timedelta
import names                                     # pip install names
from faker.providers.person.en import Provider   # pip install faker
import sqlite3


size = 2000

In [2]:
# Let’s create some functions to randomly generate our data 

def random_id(size):
    id_patient = random.sample(range(100000000), size)
    return id_patient

In [3]:
def random_NHS_number(size):
    NHS_numbers = random.sample(range(100000000,999999999),size)
    return NHS_numbers

In [4]:
def random_names(name_type, size):
    """
    Generate n-length ndarray of person names.
    name_type: a string, either first_names or last_names
    """
    names = getattr(Provider, name_type)
    return np.random.choice(names, size=size)

In [5]:
def random_genders(size, p=None):
    """Generate n-length ndarray of genders."""
    if not p:
        # Equal probability of gender
        p = (0.5, 0.5)
    gender = ("M", "F")
    return np.random.choice(gender, size=size, p=p)

In [6]:
def random_Ethnicity(size, p=None):
    """Generate n-length ndarray of genders."""
    if not p:
        # 5 groups with different probability
        p = (0.49, 0.10, 0.11, 0.01, 0.29)
    Ethnicity = ("White British", "Black British people", "British Indians", "White Gypsy or Irish Traveller", "Other White")
    return np.random.choice(Ethnicity, size=size, p=p)

In [7]:
def random_Postcode(size, p=None):
    """
    A real Faker's UK postcode generation can be found here
    https://github.com/joke2k/faker/blob/07ca4ede54c26554fdb5c7a4f55432cb0498d338/faker/providers/address/en_GB/__init__.py
    However, for this small fake database there is no need to populate it with real UK ppostcode.
    Instead of this, only a few fake postcodes are generate manually"""
    if not p:
        # 10 postcodes, same p
        p = (0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1,0.1)
    Postcode = ("SO15 5FL", "SP01 10MA", "BE01 5SA", "CB19 5US", "SO15 10FL", "LO12 8HG", "WE1 7YG", "SO01 7JH", "SP2 8BJ", "SP3 8BJ")
    return np.random.choice(Postcode, size=size, p=p)

In [8]:
def random_Hospital_names(size, p=None):
    """
    3 Fake hospitals names with similar probability
    """
    if not p:
        # 10 postcodes, same p
        p = (0.3, 0.3, 0.4)
    Hospital_names = ("Robin Hood Hospital", "Alfred Hitchcock Hospital", "Chris Martin Hospital")
    return np.random.choice(Hospital_names, size=size, p=p)

In [9]:
def random_dates(start, end, size):
    """
    Generate random dates within range between start and end.    
    Adapted from: https://stackoverflow.com/a/50668285
    """
    # Unix timestamp is in nanoseconds by default, so divide it by
    # 24*60*60*10**9 to convert to days.
    divide_by = 24 * 60 * 60 * 10**9
    start_u = start.value // divide_by
    end_u = end.value // divide_by
    return pd.to_datetime(np.random.randint(start_u, end_u, size), unit="D")

## patient_data_df

In [10]:
# Empty df with headers
patients_admitted = pd.DataFrame(columns=['ID', 'NHS_Number','Full_Name','Gender', 'Birthdate', 'Ethnicity', 'Postcode'])

patients_admitted['ID'] = random_id(size) 
patients_admitted['NHS_Number'] = random_NHS_number(size)
patients_admitted['first_names'] = random_names('first_names', size)
patients_admitted['last_names'] = random_names('last_names', size)
patients_admitted['Full_Name'] = patients_admitted['first_names']  + ' ' + patients_admitted['last_names']
del patients_admitted['first_names']
del patients_admitted['last_names']
patients_admitted['Gender'] = random_genders(size)
patients_admitted['Birthdate'] = random_dates(start=pd.to_datetime('1900-01-01'), end=pd.to_datetime('2008-01-01'), 
                                              size=size)
patients_admitted['Ethnicity'] = random_Ethnicity(size)
patients_admitted['Postcode'] = random_Postcode(size)
patients_admitted

,ID,NHS_Number,Full_Name,Gender,Birthdate,Ethnicity,Postcode
0,45169425,284823266,Osborn Senger,M,1965-03-08,British Indians,SP3 8BJ
1,44543143,916138477,Darwin Corwin,F,1921-04-16,White British,CB19 5US
2,23119565,569332256,Brandin Terry,M,1916-04-07,Other White,SP2 8BJ
3,31457816,415488712,Gerda Greenholt,F,1980-07-23,White British,BE01 5SA
4,13522872,908102658,Mindi Hilpert,F,1969-01-17,Other White,WE1 7YG
...,...,...,...,...,...,...,...
1995,86959687,702722630,Mendy Runolfsson,F,1951-07-14,Other White,BE01 5SA
1996,34958158,630923112,Gayle Schaden,F,1923-06-22,British Indians,WE1 7YG
1997,73271058,365447792,Wash Kub,F,1974-06-14,White British,SO15 5FL
1998,68523233,825099011,Chaim Morissette,M,1988-08-11,White British,SO15 5FL
1999,24607560,851468844,Jahir Beahan,M,1994-02-14,Other White,SP01 10MA

In [11]:
# To save this as CSV

#patients_admitted.to_csv('./patient_data_df.csv')

## covid_19_admission_df

In [12]:
# Populating COVID-19 admission dataframe

# Empty df
covid_19_admission_df = pd.DataFrame(columns=['Patient_admitted_id', 'Date', 'Hospital_ID' ])


# Admission of COVID patients in three hospitals of the same TRUST for one month period

# Populate the Pt_admited_id with the ID of people from patients_admitted
# This table contain the 5% of the patients found in the patient_data_df
patients_admitted_length = int(len(patients_admitted)*0.05)
ID = patients_admitted['ID'].tolist() # ID to list to select the 5% of the values of the ID column
ID2df = (random.choices(ID, k=patients_admitted_length))
covid_19_admission_df['Patient_admitted_id'] = ID2df

#Date from 1 January 2021 to 31 January 2021
covid_19_admission_df['Date'] = random_dates(start=pd.to_datetime('2021-01-01'), 
                                             end=pd.to_datetime('2021-01-31'), size=patients_admitted_length)



# So far, each hospital will get ramdon number of patients

The_hospitals_list = [214321,224323,3234234]
covid_19_admission_df['Hospital_ID'] = np.random.choice(list(The_hospitals_list), len(covid_19_admission_df))

covid_19_admission_df

    Patient_admitted_id       Date  Hospital_ID
0              26880783 2021-01-13      3234234
1              71941151 2021-01-30      3234234
2              74376208 2021-01-30      3234234
3               7493509 2021-01-03       224323
4              99797479 2021-01-27       214321
..                  ...        ...          ...
95             48627040 2021-01-13       224323
96             88536011 2021-01-23       214321
97             38556569 2021-01-25       214321
98             66679051 2021-01-17      3234234
99             84327988 2021-01-07       214321

[100 rows x 3 columns]

In [13]:
# To save this as CSV
#covid_19_admission_df.to_csv('./covid_19_admission_df.csv')

## covid_19_death_df

Similar that covid_19_admission_df in which a small proportion of the admitted patients died a few days after admission.

In [14]:

# Crete a dict with ID number and date of admission
id2date_admission = pd.Series(covid_19_admission_df.Date.values,covid_19_admission_df.Patient_admitted_id.values).to_dict()

# Select the 5% of the total number of items  covid_19_admission_df
covid_19_admission_length = int(len(covid_19_admission_df)*0.05)

# Convert these items in a list
#entry_list = list(id2date_admission.items())

#Take the 5% of total number of items 
random_entry = random.sample(list(id2date_admission.items()), k=covid_19_admission_length)

# Populate a new df with the patients who are going to die and their date of admission
covid_19_death_df = DataFrame (random_entry,columns=['Patient_admitted_id','Date_admission'])

# Now, we suppose they will die a few random days later, between the 3rd and the 20th day after admission for example.
covid_19_death_df["Death_dates"] = covid_19_death_df["Date_admission"] + timedelta(days=random.randint(3, 20))

# we need the hospital where they were admitted and they died
covid_19_death_df = covid_19_admission_df.merge(covid_19_death_df, on="Patient_admitted_id")

# Some deletion of the columns I dont need
covid_19_death_df = covid_19_death_df.drop(['Date',  'Date_admission'], axis = 1)

# I dont need the date_admission column
#
covid_19_death_df

   Patient_admitted_id  Hospital_ID Death_dates
0             14581069      3234234  2021-02-07
1             73274526      3234234  2021-02-01
2             73274526      3234234  2021-02-01
3             73968829       224323  2021-01-20
4             69874155       214321  2021-01-27
5             43369835       224323  2021-01-24

## Hospital_features_df
Some characteristics of the hospitals of this fake database

In [15]:
data = {'Hospital_ID': [214321,224323,3234234],
        'Hospital_name':  ['Chris Martin Hospital', 'Alfred Hitchcock Hospital','Robin Hood Hospital'],
        'Hospital_location': ['SO15 5FL', 'BE01 5SA','LO12 8HG'],
        'Number_of_beds' : [100,200,150],
        'Number_of_staff' : [300,600,400],
        'Number_of_ITU_Beds' : [10,20,15]}
Hospital_features_df = pd.DataFrame(data, columns=['Hospital_ID','Hospital_name', 'Hospital_location', 
                                                   'Number_of_beds','Number_of_staff', 'Number_of_ITU_Beds' ])
Hospital_features_df

,Hospital_ID,Hospital_name,Hospital_location,Number_of_beds,Number_of_staff,Number_of_ITU_Beds
0,214321,Chris Martin Hospital,SO15 5FL,100,300,10
1,224323,Alfred Hitchcock Hospital,BE01 5SA,200,600,20
2,3234234,Robin Hood Hospital,LO12 8HG,150,400,15

In [16]:
#Hospital_features_df.to_csv('./Hospital_features_df.csv')

<a id="Database"></a>
## Once all CSV have been done, we can use them to create the database.

In [17]:
# Create a database connection and cursor to execute queries.
conn = sqlite3.connect('./fake_db.db') # This create an empty database in the current directory
c = conn.cursor()

In [18]:
#   1. patient_data_df

### Add and empty table and load patient_data_df into sql table

c.execute('''DROP TABLE IF EXISTS patient_data''')
c.execute(''' CREATE TABLE patient_data (ID NOT NULL,
NHS_Number,
Full_Name,
Gender,
Birthdate,
Ethnicity, 
Postcode,
PRIMARY KEY (ID),
FOREIGN KEY (ID) REFERENCES  covid_19_admission (Patient_admitted_id) ON DELETE CASCADE)''')

# patient_data[ID] ---> covid_19_admission[Patient_admitted_id]
patients_admitted.to_sql('patient_data', conn, if_exists='append', index = False) #LOAD
c.execute('''SELECT * FROM patient_data''').fetchall() #SHOW

[(45169425,
  284823266,
  'Osborn Senger',
  'M',
  '1965-03-08 00:00:00',
  'British Indians',
  'SP3 8BJ'),
 (44543143,
  916138477,
  'Darwin Corwin',
  'F',
  '1921-04-16 00:00:00',
  'White British',
  'CB19 5US'),
 (23119565,
  569332256,
  'Brandin Terry',
  'M',
  '1916-04-07 00:00:00',
  'Other White',
  'SP2 8BJ'),
 (31457816,
  415488712,
  'Gerda Greenholt',
  'F',
  '1980-07-23 00:00:00',
  'White British',
  'BE01 5SA'),
 (13522872,
  908102658,
  'Mindi Hilpert',
  'F',
  '1969-01-17 00:00:00',
  'Other White',
  'WE1 7YG'),
 (61404313,
  818683468,
  'Darron Daugherty',
  'M',
  '1941-03-12 00:00:00',
  'Other White',
  'SP2 8BJ'),
 (15925900,
  716056415,
  'Jayla Watsica',
  'F',
  '1910-12-22 00:00:00',
  'Black British people',
  'SO15 5FL'),
 (54570905,
  356800246,
  'Cheryll Ankunding',
  'M',
  '1912-09-14 00:00:00',
  'White British',
  'SP3 8BJ'),
 (68322272,
  863122748,
  'Cristal Thiel',
  'M',
  '2007-06-16 00:00:00',
  'White British',
  'SP01 10MA'),
 (9598102,
  113650542,
  'Brooks Wyman',
  'F',
  '1950-11-01 00:00:00',
  'Other White',
  'LO12 8HG'),
 (85772680,
  509134890,
  'Mignon Reynolds',
  'F',
  '1948-06-25 00:00:00',
  'Other White',
  'WE1 7YG'),
 (58154807,
  280482449,
  'Lulah Maggio',
  'F',
  '1934-11-16 00:00:00',
  'White British',
  'SO01 7JH'),
 (45395000,
  341375587,
  'Skye DuBuque',
  'F',
  '1936-07-11 00:00:00',
  'Other White',
  'LO12 8HG'),
 (67367980,
  115758216,
  'Doloris Medhurst',
  'M',
  '1914-03-21 00:00:00',
  'White British',
  'LO12 8HG'),
 (75517340,
  676670834,
  'Lynne Tromp',
  'M',
  '1902-10-19 00:00:00',
  'Other White',
  'SO15 5FL'),
 (18430082,
  821254735,
  'Herb Funk',
  'M',
  '1907-04-17 00:00:00',
  'White British',
  'CB19 5US'),
 (35753780,
  900757777,
  'Noah Reinger',
  'M',
  '1966-02-27 00:00:00',
  'White British',
  'SO01 7JH'),
 (21354294,
  666973206,
  'Carleton Marquardt',
  'F',
  '1935-11-06 00:00:00',
  'White British',
  'SO15 10FL'),
 (89138201,
  401405925,
  'Soloman Hudson',
  'M',
  '1938-12-19 00:00:00',
  'White British',
  'SP01 10MA'),
 (22415924,
  525721180,
  'Krysta Buckridge',
  'M',
  '1937-07-26 00:00:00',
  'White British',
  'CB19 5US'),
 (33734841,
  587436845,
  'Tena Pagac',
  'F',
  '1916-04-13 00:00:00',
  'Other White',
  'SO01 7JH'),
 (79175609,
  782294732,
  'Scottie Kihn',
  'M',
  '1976-11-19 00:00:00',
  'White British',
  'SP01 10MA'),
 (55942574,
  596561691,
  'Treasure Wilderman',
  'M',
  '1928-03-23 00:00:00',
  'British Indians',
  'LO12 8HG'),
 (33813080,
  857770097,
  'Aaliyah Lakin',
  'F',
  '1919-05-30 00:00:00',
  'White British',
  'SP01 10MA'),
 (78198076,
  696813072,
  'Therman Friesen',
  'M',
  '1992-04-15 00:00:00',
  'White British',
  'SP3 8BJ'),
 (56221349,
  416307998,
  'Sidney Schuppe',
  'F',
  '1982-08-13 00:00:00',
  'White British',
  'SO15 10FL'),
 (86977435,
  190891692,
  'Brooklyn Labadie',
  'M',
  '1977-07-17 00:00:00',
  'White British',
  'LO12 8HG'),
 (82370174,
  806092297,
  'Ottie Mueller',
  'F',
  '1967-09-20 00:00:00',
  'White British',
  'CB19 5US'),
 (70826954,
  345285459,
  'Brantley Mayer',
  'M',
  '1983-09-06 00:00:00',
  'White British',
  'BE01 5SA'),
 (3649886,
  834144334,
  'Barbra Farrell',
  'F',
  '1945-10-01 00:00:00',
  'British Indians',
  'LO12 8HG'),
 (23342120,
  707887176,
  'Ned Sporer',
  'F',
  '1957-03-22 00:00:00',
  'Other White',
  'SP3 8BJ'),
 (651465,
  588318834,
  'Ethen Eichmann',
  'F',
  '1931-10-12 00:00:00',
  'White British',
  'SO01 7JH'),
 (38242838,
  571639642,
  'Dustyn Koelpin',
  'M',
  '1933-06-28 00:00:00',
  'White British',
  'LO12 8HG'),
 (43387424,
  855174923,
  'Ashanti Dooley',
  'M',
  '1998-04-30 00:00:00',
  'White British',
  'SO15 10FL'),
 (63804584,
  664425655,
  'Durell Hermann',
  'M',
  '1909-08-17 00:00:00',
  'White British',
  'SP3 8BJ'),
 (88978827,
  512593246,
  'Rosalee Botsford',
  'M',
  '1915-09-20 00:00:00',
  'White British',
  'SP3 8BJ'),
 (22856940,
  780461618,
  'Ciera Kreiger',
  'F',
  '1996-12-09 00:00:00',
  'British Indians',
  'SP2 8BJ'),
 (73028599,
  642620240,
  'Lena Rippin',
  'F',
  '1946-11-04 00:00:00',
  'Other White',
  'WE1 7YG'),
 (63957738,
  891522245,
  'Destini Herman',
  'M',
  '1988-05-16 00:00:00',
  'Black British people',
  'SO15 5FL'),
 (30574336,
  577108702,
  'Salina Kovacek',
  'F',
  '1943-04-08 00:00:00',
  'White British',
  'SO15 10FL'),
 (2481130,
  204318854,
  'Ewing Waelchi',
  'M',
  '1959-07-21 00:00:00',
  'White British',
  'CB19 5US'),
 (55495052,
  772033931,
  "Wilhelmina O'Reilly",
  'M',
  '1995-04-11 00:00:00',
  'Other White',
  'SP01 10MA'),
 (23499052,
  571728114,
  'Jaylene Schneider',
  'M',
  '1969-04-25 00:00:00',
  'Other White',
  'LO12 8HG'),
 (43000595,
  937952178,
  'Leighton Parisian',
  'F',
  '2005-08-25 00:00:00',
  'Other White',
  'LO12 8HG'),
 (81917021,
  178205830,
  'Kathi Huel',
  'M',
  '1952-09-21 00:00:00',
  'White British',
  'SO15 10FL'),
 (20384009,
  233474355,
  'Marlo Pacocha',
  'M',
  '1995-08-04 00:00:00',
  'British Indians',
  'WE1 7YG'),
 (28701907,
  523497944,
  'Josefita Windler',
  'M',
  '1983-11-15 00:00:00',
  'White British',
  'BE01 5SA'),
 (41152677,
  624395601,
  'Delpha Bode',
  'M',
  '1909-09-20 00:00:00',
  'White British',
  'SP01 10MA'),
 (4370477,
  466894572,
  'Huldah Kutch',
  'F',
  '1915-10-20 00:00:00',
  'White British',
  'WE1 7YG'),
 (15991603,
  521538736,
  'Hernan Conn',
  'F',
  '1978-12-27 00:00:00',
  'British Indians',
  'SO01 7JH'),
 (50801146,
  694520712,
  'Brad Hoeger',
  'M',
  '1996-05-03 00:00:00',
  'Other White',
  'SO15 5FL'),
 (76818445,
  332139444,
  'Leone Bergnaum',
  'F',
  '1914-12-14 00:00:00',
  'White British',
  'LO12 8HG'),
 (15180152,
  121503067,
  'Clarinda Hudson',
  'M',
  '1900-09-28 00:00:00',
  'White British',
  'CB19 5US'),
 (65891590,
  679462070,
  'Jaden Tremblay',
  'M',
  '1913-01-31 00:00:00',
  'White British',
  'SO15 5FL'),
 (98254450,
  896961125,
  'Leonidas Trantow',
  'M',
  '1958-06-07 00:00:00',
  'White British',
  'SO15 5FL'),
 (67234565,
  946137504,
  'Zelia Bosco',
  'F',
  '1995-09-17 00:00:00',
  'Other White',
  'CB19 5US'),
 (75219287,
  468714228,
  'Jaunita Graham',
  'M',
  '1938-05-26 00:00:00',
  'Black British people',
  'CB19 5US'),
 (41081366,
  871611510,
  'Queen Herzog',
  'M',
  '1943-02-22 00:00:00',
  'Black British people',
  'SP2 8BJ'),
 (40184788,
  209926380,
  'Eileen Beahan',
  'F',
  '1999-11-30 00:00:00',
  'Black British people',
  'SP2 8BJ'),
 (12113791,
  269288938,
  'Rafe Braun',
  'F',
  '1917-10-01 00:00:00',
  'Other White',
  'CB19 5US'),
 (36158910,
  131077345,
  'Keyla Reilly',
  'F',
  '1960-05-09 00:00:00',
  'Other White',
  'SP01 10MA'),
 (84327988,
  680956453,
  'Hope Ankunding',
  'F',
  '1977-06-06 00:00:00',
  'White British',
  'SP3 8BJ'),
 (79527135,
  225265803,
  'Amalia Waters',
  'F',
  '1930-09-18 00:00:00',
  'White British',
  'SP01 10MA'),
 (17217877,
  798237447,
  'Isabela Langworth',
  'M',
  '1963-08-10 00:00:00',
  'British Indians',
  'SO15 10FL'),
 (60463754,
  682673523,
  'Tamiko Little',
  'F',
  '1980-06-05 00:00:00',
  'Other White',
  'SO01 7JH'),
 (10263419,
  618642682,
  'Baxter Wehner',
  'M',
  '2004-09-24 00:00:00',
  'White British',
  'SP01 10MA'),
 (84605173,
  967093393,
  'Esker Schaefer',
  'F',
  '1970-06-22 00:00:00',
  'White British',
  'CB19 5US'),
 (55026108,
  474560977,
  'Derwin Wehner',
  'F',
  '1924-01-23 00:00:00',
  'White British',
  'SP01 10MA'),
 (14126079,
  371685650,
  'Jacqueline Heathcote',
  'M',
  '1990-07-22 00:00:00',
  'Other White',
  'WE1 7YG'),
 (5608695,
  876881880,
  'Glennie Klein',
  'F',
  '1936-08-07 00:00:00',
  'White British',
  'SP3 8BJ'),
 (5912502,
  405722582,
  'Liana Miller',
  'M',
  '1960-12-18 00:00:00',
  'White British',
  'WE1 7YG'),
 (59625176,
  412477231,
  'Giovani Beier',
  'M',
  '2003-05-22 00:00:00',
  'British Indians',
  'SP01 10MA'),
 (65598674,
  562908196,
  'Hughey Parisian',
  'F',
  '1957-06-16 00:00:00',
  'White British',
  'SP01 10MA'),
 (76159917,
  446171702,
  'Felton Upton',
  'F',
  '1956-01-24 00:00:00',
  'British Indians',
  'SO01 7JH'),
 (39857548,
  995181038,
  'Santa King',
  'M',
  '1965-02-20 00:00:00',
  'White British',
  'SO15 10FL'),
 (22671737,
  435166537,
  'Shawnna Reichert',
  'F',
  '1910-07-03 00:00:00',
  'Other White',
  'SP01 10MA'),
 (8008528,
  208169261,
  'Darwin Bosco',
  'M',
  '1935-07-29 00:00:00',
  'Other White',
  'BE01 5SA'),
 (57531678,
  165552624,
  'Irvin Olson',
  'F',
  '1946-12-06 00:00:00',
  'Other White',
  'WE1 7YG'),
 (26002007,
  620755640,
  'Alesha Howell',
  'F',
  '1936-03-26 00:00:00',
  'White British',
  'SO01 7JH'),
 (16894030,
  791805457,
  'Albin Graham',
  'M',
  '1928-11-13 00:00:00',
  'White British',
  'SP2 8BJ'),
 (99797479,
  801883343,
  'Harriette Daugherty',
  'M',
  '1934-05-19 00:00:00',
  'British Indians',
  'SP3 8BJ'),
 (22326135,
  383074842,
  'Violette Bode',
  'M',
  '1963-05-09 00:00:00',
  'White British',
  'SP3 8BJ'),
 (43221412,
  119539479,
  'Luc Berge',
  'F',
  '1991-10-24 00:00:00',
  'British Indians',
  'SP01 10MA'),
 (78321515,
  228178604,
  'Hollie Fay',
  'F',
  '1953-05-03 00:00:00',
  'White British',
  'SO15 10FL'),
 (94023047,
  925507055,
  'Rella Monahan',
  'M',
  '1939-05-28 00:00:00',
  'Other White',
  'BE01 5SA'),
 (45496884,
  129127451,
  "Ronan O'Conner",
  'F',
  '1977-10-18 00:00:00',
  'Other White',
  'WE1 7YG'),
 (75142476,
  281453446,
  'Kaylah Cartwright',
  'F',
  '1953-02-17 00:00:00',
  'White British',
  'CB19 5US'),
 (46859215,
  755818066,
  'Kathi Kautzer',
  'M',
  '1903-07-14 00:00:00',
  'White British',
  'SO01 7JH'),
 (52962110,
  252682662,
  'Anya Goldner',
  'M',
  '1963-04-12 00:00:00',
  'Other White',
  'SP01 10MA'),
 (23453604,
  540456484,
  'Mildred Lehner',
  'F',
  '1952-05-21 00:00:00',
  'White British',
  'WE1 7YG'),
 (51226869,
  597615005,
  'Cyrus Romaguera',
  'F',
  '1990-10-19 00:00:00',
  'White British',
  'SO15 10FL'),
 (35697918,
  915568794,
  'Valencia Reilly',
  'F',
  '1912-08-04 00:00:00',
  'White British',
  'SP01 10MA'),
 (92917117,
  178596186,
  'Taina Deckow',
  'M',
  '1986-10-16 00:00:00',
  'White British',
  'CB19 5US'),
 (46138858,
  373465221,
  'Rob Windler',
  'F',
  '1966-05-14 00:00:00',
  'White British',
  'WE1 7YG'),
 (40760176,
  994875831,
  'Veta Dibbert',
  'F',
  '1935-03-05 00:00:00',
  'British Indians',
  'SP3 8BJ'),
 (41532917,
  331055924,
  'Judge Kiehn',
  'F',
  '1939-10-13 00:00:00',
  'White British',
  'WE1 7YG'),
 (31789910,
  950176678,
  'Damond Dickinson',
  'M',
  '1962-02-10 00:00:00',
  'Black British people',
  'SP2 8BJ'),
 (63220134,
  870305096,
  'Arielle Hackett',
  'F',
  '1902-06-13 00:00:00',
  'White British',
  'SO15 5FL'),
 (44441947,
  382296404,
  'Capitola Heller',
  'M',
  '1958-12-09 00:00:00',
  'White British',
  'SP2 8BJ'),
 (77691691,
  172962656,
  'Iris Purdy',
  'M',
  '1940-12-10 00:00:00',
  'British Indians',
  'CB19 5US'),
 (61957068,
  926924130,
  'Kenisha Doyle',
  'F',
  '1931-09-03 00:00:00',
  'Other White',
  'SO01 7JH'),
 (90953217,
  619408217,
  'Zigmund Von',
  'F',
  '1926-11-25 00:00:00',
  'Black British people',
  'SP2 8BJ'),
 (86427654,
  181204603,
  'Zhane Medhurst',
  'F',
  '1937-07-14 00:00:00',
  'Other White',
  'LO12 8HG'),
 (52589577,
  383412538,
  'Trista Koepp',
  'M',
  '1906-04-27 00:00:00',
  'White British',
  'SP2 8BJ'),
 (30218358,
  566470305,
  'Tammie Wintheiser',
  'M',
  '1957-04-01 00:00:00',
  'British Indians',
  'CB19 5US'),
 (88972094,
  997458544,
  'Holli Hansen',
  'M',
  '1949-03-13 00:00:00',
  'White British',
  'WE1 7YG'),
 (74358386,
  216792672,
  'Baylee Hansen',
  'M',
  '1942-01-14 00:00:00',
  'White British',
  'SO15 10FL'),
 (52770113,
  599783142,
  'Doloris Fadel',
  'M',
  '1990-06-26 00:00:00',
  'Other White',
  'SO15 10FL'),
 (57981985,
  732398067,
  'Dona Altenwerth',
  'M',
  '1973-10-24 00:00:00',
  'White British',
  'SP01 10MA'),
 (76096725,
  746428918,
  'Mortimer Littel',
  'F',
  '1932-05-07 00:00:00',
  'Other White',
  'SP3 8BJ'),
 (86782180,
  482915974,
  'Kobe Gislason',
  'F',
  '1949-12-28 00:00:00',
  'White British',
  'LO12 8HG'),
 (70243835,
  286466259,
  'Angelina White',
  'F',
  '1980-01-15 00:00:00',
  'Other White',
  'SP01 10MA'),
 (69593421,
  234282580,
  'Kathie Yundt',
  'M',
  '2001-07-03 00:00:00',
  'White British',
  'SP2 8BJ'),
 (16264765,
  272821618,
  'Lillian Stehr',
  'M',
  '1977-05-31 00:00:00',
  'Other White',
  'SO15 5FL'),
 (16940268,
  704747771,
  'Eligah Hand',
  'M',
  '1918-01-27 00:00:00',
  'Other White',
  'SO15 10FL'),
 (61918866,
  846809146,
  'Francine Krajcik',
  'F',
  '1907-04-14 00:00:00',
  'Other White',
  'SO15 10FL'),
 (5305551,
  342202991,
  'Maximiliano Emmerich',
  'M',
  '1931-09-28 00:00:00',
  'Other White',
  'SP2 8BJ'),
 (56551385,
  993399249,
  'Patti Feil',
  'F',
  '1955-09-13 00:00:00',
  'Other White',
  'SO15 5FL'),
 (11588388,
  138447680,
  'Rene Skiles',
  'M',
  '1968-08-01 00:00:00',
  'Black British people',
  'SO15 10FL'),
 (52109654,
  694205208,
  'Suzan Towne',
  'M',
  '1949-12-29 00:00:00',
  'Black British people',
  'SP2 8BJ'),
 (15751707,
  795885445,
  'Terrell Rohan',
  'M',
  '1957-11-25 00:00:00',
  'White British',
  'BE01 5SA'),
 (96457879,
  742221954,
  'Lidie Reichert',
  'M',
  '1979-07-10 00:00:00',
  'White British',
  'SP3 8BJ'),
 (51015973,
  940152331,
  'Yareli Kuhlman',
  'M',
  '1967-01-29 00:00:00',
  'White British',
  'CB19 5US'),
 (74704680,
  724553640,
  'Anie Bradtke',
  'F',
  '1910-06-21 00:00:00',
  'Other White',
  'SP3 8BJ'),
 (8359683,
  768167542,
  'Juelz Gulgowski',
  'F',
  '1947-10-25 00:00:00',
  'White British',
  'CB19 5US'),
 (97812793,
  195179238,
  'Loran Collins',
  'F',
  '1971-07-20 00:00:00',
  'White British',
  'SO15 10FL'),
 (63449306,
  251751217,
  'Verlin Friesen',
  'M',
  '1904-03-08 00:00:00',
  'White British',
  'BE01 5SA'),
 (4469945,
  496142607,
  'Owen Rutherford',
  'F',
  '1972-02-26 00:00:00',
  'White British',
  'SP01 10MA'),
 (97035225,
  981351665,
  'Shay Pagac',
  'M',
  '1964-01-25 00:00:00',
  'Other White',
  'SP3 8BJ'),
 (24415716,
  903552023,
  'Lillie Marks',
  'F',
  '2001-04-06 00:00:00',
  'White British',
  'SO15 10FL'),
 (45498823,
  509505902,
  'Akeelah Balistreri',
  'F',
  '1967-10-30 00:00:00',
  'White British',
  'SO01 7JH'),
 (20151971,
  287376122,
  'Akeem Krajcik',
  'M',
  '1948-03-12 00:00:00',
  'Other White',
  'SP3 8BJ'),
 (73274526,
  989345672,
  'Florene Graham',
  'M',
  '1959-08-21 00:00:00',
  'Black British people',
  'SO15 5FL'),
 (54168196,
  868734392,
  'Jovani Bechtelar',
  'F',
  '1930-02-26 00:00:00',
  'White British',
  'SP2 8BJ'),
 (77345758,
  163997291,
  'Acy Hayes',
  'M',
  '1950-10-23 00:00:00',
  'Other White',
  'CB19 5US'),
 (5304829,
  711836034,
  'Cameron Homenick',
  'F',
  '1901-07-28 00:00:00',
  'White British',
  'WE1 7YG'),
 (64265344,
  465425778,
  'Lon Hayes',
  'M',
  '1940-07-04 00:00:00',
  'White British',
  'SP2 8BJ'),
 (53571159,
  481475463,
  'Arlen Brown',
  'M',
  '1976-04-07 00:00:00',
  'Other White',
  'SO01 7JH'),
 (83488122,
  465985980,
  'Caswell Reichert',
  'F',
  '1906-04-13 00:00:00',
  'Other White',
  'SP2 8BJ'),
 (67782694,
  614626805,
  'Teela Haag',
  'M',
  '1972-07-28 00:00:00',
  'White British',
  'LO12 8HG'),
 (43931733,
  823467190,
  'Rasheed Bartoletti',
  'F',
  '1960-04-01 00:00:00',
  'White British',
  'SO15 10FL'),
 (2985304,
  917476433,
  'Ursula Grant',
  'M',
  '1951-12-08 00:00:00',
  'Black British people',
  'SO15 5FL'),
 (42011697,
  473730526,
  'Rylan Reinger',
  'M',
  '1965-08-17 00:00:00',
  'White British',
  'SP01 10MA'),
 (68149138,
  650495927,
  'Presley Murphy',
  'M',
  '1902-08-04 00:00:00',
  'Other White',
  'BE01 5SA'),
 (95621042,
  503698116,
  'Norris Gleason',
  'M',
  '1969-01-27 00:00:00',
  'White British',
  'SP01 10MA'),
 (37746903,
  251377069,
  'Mabel Satterfield',
  'F',
  '1964-06-24 00:00:00',
  'White British',
  'SP01 10MA'),
 (83291921,
  768144939,
  'Lavera Runolfsson',
  'M',
  '1998-06-21 00:00:00',
  'Other White',
  'SP3 8BJ'),
 (36577785,
  684463412,
  'Guilford Klein',
  'M',
  '1973-07-28 00:00:00',
  'White British',
  'SP01 10MA'),
 (14242029,
  479652366,
  'Rich Kutch',
  'M',
  '1901-06-02 00:00:00',
  'Other White',
  'LO12 8HG'),
 (74098214,
  380809811,
  'Elroy Walsh',
  'M',
  '1906-11-26 00:00:00',
  'Other White',
  'WE1 7YG'),
 (18992164,
  583565678,
  'Nora Brown',
  'M',
  '1977-08-03 00:00:00',
  'White British',
  'SO15 5FL'),
 (23320512,
  751817748,
  'Litzy Langosh',
  'F',
  '1930-12-16 00:00:00',
  'Other White',
  'SP01 10MA'),
 (54321473,
  124194563,
  "Makena O'Reilly",
  'F',
  '1954-09-16 00:00:00',
  'Black British people',
  'SP3 8BJ'),
 (35508129,
  158139305,
  'Kayson Von',
  'M',
  '1951-12-19 00:00:00',
  'White British',
  'SO15 5FL'),
 (43633087,
  659885367,
  'Lilyanna Boyer',
  'F',
  '1929-06-06 00:00:00',
  'British Indians',
  'LO12 8HG'),
 (38640945,
  724347174,
  'Makenna Stehr',
  'F',
  '1914-07-09 00:00:00',
  'British Indians',
  'CB19 5US'),
 (9848195,
  479483999,
  'Lindsay Kunde',
  'M',
  '1936-01-13 00:00:00',
  'Other White',
  'WE1 7YG'),
 (93325461,
  769143492,
  'Amaris Crooks',
  'M',
  '1904-03-04 00:00:00',
  'British Indians',
  'CB19 5US'),
 (57413816,
  550413257,
  'Merry Rohan',
  'M',
  '1901-09-28 00:00:00',
  'White British',
  'SO01 7JH'),
 (7975718,
  454852100,
  'Maury Stokes',
  'M',
  '2003-12-12 00:00:00',
  'White British',
  'SO15 5FL'),
 (97096281,
  264497807,
  'Nicola Renner',
  'M',
  '1949-03-02 00:00:00',
  'White British',
  'WE1 7YG'),
 (40267383,
  328420332,
  'Hugo Stiedemann',
  'F',
  '1950-07-03 00:00:00',
  'Other White',
  'SP3 8BJ'),
 (35814256,
  929980665,
  'Mari Oberbrunner',
  'F',
  '1945-10-23 00:00:00',
  'White British',
  'SO01 7JH'),
 (89956592,
  132083519,
  'Adam Connelly',
  'M',
  '1937-11-12 00:00:00',
  'White British',
  'SP01 10MA'),
 (4659387,
  915557073,
  'Angel Corwin',
  'F',
  '1980-04-10 00:00:00',
  'Other White',
  'SO01 7JH'),
 (15475135,
  956396419,
  'Dusty Ritchie',
  'F',
  '2000-04-26 00:00:00',
  'White British',
  'SO15 10FL'),
 (42521980,
  795565868,
  'Donaciano Hayes',
  'M',
  '1913-12-22 00:00:00',
  'White British',
  'CB19 5US'),
 (72594817,
  553204852,
  'Yasmin Sanford',
  'F',
  '1953-11-21 00:00:00',
  'Other White',
  'SO15 10FL'),
 (38595690,
  655538413,
  'Corene Emard',
  'M',
  '1901-08-21 00:00:00',
  'White British',
  'SO15 10FL'),
 (35576700,
  786132455,
  'Austen Osinski',
  'M',
  '1976-03-04 00:00:00',
  'Other White',
  'SP3 8BJ'),
 (31439247,
  100105551,
  'Horton Turner',
  'M',
  '1933-04-30 00:00:00',
  'British Indians',
  'SP01 10MA'),
 (14027730,
  209915315,
  'Tabitha Kovacek',
  'M',
  '1994-03-20 00:00:00',
  'White British',
  'WE1 7YG'),
 (53556874,
  780189378,
  'Ramsey Ullrich',
  'M',
  '1919-11-05 00:00:00',
  'Other White',
  'SO15 5FL'),
 (40829687,
  724098547,
  'Rashaad Heathcote',
  'F',
  '1998-02-22 00:00:00',
  'Other White',
  'BE01 5SA'),
 (46165898,
  649491052,
  'Nealy Shields',
  'F',
  '1919-06-21 00:00:00',
  'Black British people',
  'WE1 7YG'),
 (85552423,
  179221813,
  'Mychal Jacobi',
  'F',
  '2000-09-09 00:00:00',
  'White British',
  'LO12 8HG'),
 (42549646,
  991271714,
  'Nichelle Trantow',
  'F',
  '1965-12-03 00:00:00',
  'Other White',
  'SP2 8BJ'),
 (57222213,
  297083561,
  'Prentice Keeling',
  'F',
  '1970-01-08 00:00:00',
  'White British',
  'SO15 10FL'),
 (21013844,
  418806322,
  'Krysta Jerde',
  'M',
  '1953-12-27 00:00:00',
  'British Indians',
  'SO15 5FL'),
 (50038800,
  234997729,
  "Unknown D'Amore",
  'F',
  '2007-09-23 00:00:00',
  'White British',
  'SO15 5FL'),
 (81686109,
  151373902,
  'Nash Lesch',
  'F',
  '1985-12-27 00:00:00',
  'White British',
  'BE01 5SA'),
 (78243552,

In [22]:
#   2. covid_19_admission_df

c.execute('''DROP TABLE IF EXISTS covid_19_admission''')
c.execute(''' CREATE TABLE covid_19_admission (Patient_admitted_id NOT NULL,
Date,
Hospital_ID,
PRIMARY KEY (Patient_admitted_id),
FOREIGN KEY (Hospital_ID) REFERENCES  Hospital_features (Hospital_ID) ON DELETE CASCADE,
FOREIGN KEY (Patient_admitted_id) REFERENCES covid_19_death (Patient_admitted_id) ON DELETE CASCADE)''')
covid_19_admission_df.to_sql('covid_19_admission', conn, if_exists='append', index = False)
c.execute('''SELECT * FROM covid_19_admission''').fetchall()

[(26880783, '2021-01-13 00:00:00', 3234234),
 (71941151, '2021-01-30 00:00:00', 3234234),
 (74376208, '2021-01-30 00:00:00', 3234234),
 (7493509, '2021-01-03 00:00:00', 224323),
 (99797479, '2021-01-27 00:00:00', 214321),
 (14126079, '2021-01-28 00:00:00', 224323),
 (28244362, '2021-01-15 00:00:00', 3234234),
 (36147239, '2021-01-29 00:00:00', 214321),
 (58060415, '2021-01-28 00:00:00', 214321),
 (39029102, '2021-01-14 00:00:00', 3234234),
 (50780661, '2021-01-17 00:00:00', 224323),
 (45629523, '2021-01-23 00:00:00', 224323),
 (65923283, '2021-01-07 00:00:00', 214321),
 (54567891, '2021-01-05 00:00:00', 3234234),
 (34814235, '2021-01-29 00:00:00', 214321),
 (38038655, '2021-01-15 00:00:00', 214321),
 (31580440, '2021-01-10 00:00:00', 224323),
 (26002007, '2021-01-09 00:00:00', 214321),
 (76159917, '2021-01-13 00:00:00', 3234234),
 (16836588, '2021-01-27 00:00:00', 3234234),
 (44888776, '2021-01-13 00:00:00', 224323),
 (17229206, '2021-01-30 00:00:00', 224323),
 (90953217, '2021-01-29 00:00:00', 3234234),
 (8348687, '2021-01-03 00:00:00', 214321),
 (42746579, '2021-01-08 00:00:00', 214321),
 (35339738, '2021-01-12 00:00:00', 214321),
 (40348224, '2021-01-05 00:00:00', 214321),
 (22553800, '2021-01-01 00:00:00', 3234234),
 (43785409, '2021-01-05 00:00:00', 224323),
 (93357735, '2021-01-25 00:00:00', 224323),
 (21157051, '2021-01-04 00:00:00', 224323),
 (42090674, '2021-01-01 00:00:00', 224323),
 (92265277, '2021-01-04 00:00:00', 224323),
 (33614968, '2021-01-25 00:00:00', 214321),
 (44028574, '2021-01-08 00:00:00', 214321),
 (82219077, '2021-01-19 00:00:00', 224323),
 (66233515, '2021-01-03 00:00:00', 3234234),
 (41895553, '2021-01-04 00:00:00', 3234234),
 (66415189, '2021-01-26 00:00:00', 3234234),
 (19598187, '2021-01-17 00:00:00', 224323),
 (8116538, '2021-01-10 00:00:00', 3234234),
 (96730914, '2021-01-08 00:00:00', 224323),
 (20849728, '2021-01-20 00:00:00', 224323),
 (14581069, '2021-01-23 00:00:00', 3234234),
 (78709677, '2021-01-13 00:00:00', 214321),
 (40829687, '2021-01-26 00:00:00', 224323),
 (22655558, '2021-01-05 00:00:00', 3234234),
 (50553976, '2021-01-05 00:00:00', 214321),
 (10776831, '2021-01-03 00:00:00', 224323),
 (83819475, '2021-01-16 00:00:00', 214321),
 (53139918, '2021-01-11 00:00:00', 214321),
 (63806210, '2021-01-15 00:00:00', 214321),
 (78784011, '2021-01-01 00:00:00', 224323),
 (79725508, '2021-01-08 00:00:00', 214321),
 (81108947, '2021-01-23 00:00:00', 224323),
 (10505709, '2021-01-09 00:00:00', 214321),
 (73274526, '2021-01-29 00:00:00', 3234234),
 (38595690, '2021-01-17 00:00:00', 3234234),
 (8379313, '2021-01-20 00:00:00', 3234234),
 (57132691, '2021-01-04 00:00:00', 224323),
 (60463754, '2021-01-01 00:00:00', 224323),
 (27419650, '2021-01-16 00:00:00', 3234234),
 (26599080, '2021-01-02 00:00:00', 3234234),
 (75201420, '2021-01-30 00:00:00', 214321),
 (85001930, '2021-01-18 00:00:00', 224323),
 (52982439, '2021-01-19 00:00:00', 224323),
 (73968829, '2021-01-05 00:00:00', 224323),
 (72461327, '2021-01-12 00:00:00', 214321),
 (75779288, '2021-01-21 00:00:00', 3234234),
 (26285198, '2021-01-02 00:00:00', 224323),
 (72706477, '2021-01-28 00:00:00', 214321),
 (53442017, '2021-01-21 00:00:00', 224323),
 (77871027, '2021-01-09 00:00:00', 224323),
 (97444761, '2021-01-22 00:00:00', 3234234),
 (66371583, '2021-01-17 00:00:00', 224323),
 (29816855, '2021-01-07 00:00:00', 214321),
 (12747628, '2021-01-11 00:00:00', 3234234),
 (54160017, '2021-01-09 00:00:00', 214321),
 (66388000, '2021-01-11 00:00:00', 224323),
 (55931300, '2021-01-10 00:00:00', 214321),
 (20676009, '2021-01-09 00:00:00', 224323),
 (69874155, '2021-01-12 00:00:00', 214321),
 (72114792, '2021-01-06 00:00:00', 3234234),
 (45750079, '2021-01-17 00:00:00', 224323),
 (4370477, '2021-01-24 00:00:00', 3234234),
 (9430982, '2021-01-30 00:00:00', 224323),
 (62567423, '2021-01-20 00:00:00', 3234234),
 (36441226, '2021-01-06 00:00:00', 224323),
 (45990952, '2021-01-15 00:00:00', 224323),
 (72619746, '2021-01-19 00:00:00', 224323),
 (82529113, '2021-01-21 00:00:00', 214321),
 (73274526, '2021-01-17 00:00:00', 3234234),
 (30836303, '2021-01-25 00:00:00', 224323),
 (43369835, '2021-01-09 00:00:00', 224323),
 (6061543, '2021-01-12 00:00:00', 224323),
 (48627040, '2021-01-13 00:00:00', 224323),
 (88536011, '2021-01-23 00:00:00', 214321),
 (38556569, '2021-01-25 00:00:00', 214321),
 (66679051, '2021-01-17 00:00:00', 3234234),
 (84327988, '2021-01-07 00:00:00', 214321)]

In [20]:
#   3. covid_19_death_df

c.execute('''DROP TABLE IF EXISTS covid_19_death''')
c.execute(''' CREATE TABLE covid_19_death (Patient_admitted_id NOT NULL,
Hospital_ID,
Death_dates,
PRIMARY KEY (Patient_admitted_id),
FOREIGN KEY (Hospital_ID) REFERENCES  Hospital_features (Hospital_ID) ON DELETE CASCADE)''')
covid_19_death_df.to_sql('covid_19_death', conn, if_exists='append', index = False)
c.execute('''SELECT * FROM covid_19_death''').fetchall()

IntegrityError: UNIQUE constraint failed: covid_19_death.Patient_admitted_id

In [21]:
#   4. Hospital_features_df

c.execute('''DROP TABLE IF EXISTS Hospital_features''')
c.execute(''' CREATE TABLE Hospital_features ( Hospital_ID NOT NULL PRIMARY KEY,
Hospital_name,
Hospital_location,
Number_of_beds,
Number_of_staff,
Number_of_ITU_Beds
PRIMARY KEY (Patient_admitted_id),)''')
Hospital_features_df.to_sql('Hospital_features', conn, if_exists='append', index = False)
c.execute('''SELECT * FROM Hospital_features''').fetchall()

OperationalError: near "(": syntax error

## Database created.

In [ ]:
# Let's ensure everything is ok
c.execute("PRAGMA table_info(patient_data);").fetchall()
# id 	name 	type 	notnull 	dflt_value 	pk

In [ ]:
c.execute("PRAGMA table_info(covid_19_admission);").fetchall()

In [ ]:
c.execute("PRAGMA table_info(covid_19_death);").fetchall()

In [ ]:
c.execute("PRAGMA table_info(Hospital_features);").fetchall()

### Notebook details
<br>
<i>Notebook created by <strong>Manuel Dominguez</strong> 

Creation date: May 2021<br>

//// -- Tables and References

// Creating tables
Table Patient_data {
  id int [pk, increment] // auto-increment
  Full_name varchar
  NHS_number int
  Birthdate int
  Gender varchar
  Ethnicity varchar
  Postcode varchar
}

Table Covid_19_admission {
  Patients_admitted_id int [ref: > Patient_data.id]  // inline relationship (many-to-one)
  Date_adm int
  Hospital_ID varchar [ref: > Hospital_features.Hospital_ID]
  Indexes {
    (Patients_admitted_id) [pk]
  }
}



Table Hospital_features {
 Hospital_ID varchar
 Hospital_name varchar 
 Hospital_location varchar
 Number_of_beds varchar
 Number_of_ITU_beds varchar
 

}



Table covid_19_death {
 Patients_admitted_id  int [ref: > Covid_19_admission.Patients_admitted_id]
 Hospital_ID varchar [ref: > Hospital_features.Hospital_ID]
 Death_dates varchar 
 Indexes {
    (Patients_admitted_id) [pk]
  }
 

}