# DataBase manipulation
****

In this notebook I have been getting familiar with the the different commands to manipulate a datababase. 
<a id="top"></a>

<b>Table of contents</b><br>

1. [Using basic queries](#basicqueries)

2. [Dealing with dates and times](#dates)

3. [Object-Relational Mapping](#dates) 

2.4 [Constraints](#constraints)

<a id="basicqueries"></a>

### 1.  Basic queries command List 

        1.1. AND|OR          [x]
        1.2. ALTER TABLE
        1.3. AS (alias)
        1.4. BETWEEN
        1.5. CREATE DATABASE [x]
        1.6. CREATE TABLE    [x]
        1.7. CREATE INDEX
        1.8. CREATE VIEW
        1.9. DELETE           [x]
        1.10. GRANT
        1.11. REVOKE
        1.12. COMMIT
        1.13. ROLLBACK
        1.14. SAVEPOINT
        1.15. DROP DATABASE
        1.16. DROP INDEX
        1.17. DROP TABLE       [x]
        1.18. EXISTS
        1.19. GROUP BY         [x]
        1.20. HAVING
        1.21. IN               [x]
        1.22. INSERT INTO      [x]
        1.23. INNER JOIN       [x]
        1.24. LEFT JOIN
        1.25. RIGHT JOIN
        1.26. FULL JOIN
        1.27. LIKE
        1.28. ORDER BY
        1.29. SELECT           [x]
        1.30. SELECT *         [x]
        1.31. SELECT DISTINCT
        1.32. SELECT INTO
        1.33. SELECT TOP
        1.34. TRUNCATE TABLE
        1.35. UNION
        1.36. UNION ALL
        1.37. UPDATE           [x]
        1.38. WHERE            [x]
        1.39. PRAGMA           [x]

In [1]:
# Import libraries
import pandas as pd
from pandas import DataFrame
import numpy as np
import random
import datetime
from datetime import timedelta
import names                                     # pip install names
from faker.providers.person.en import Provider   # pip install faker
import sqlite3

In [2]:
conn = sqlite3.connect('./fake_db.db')
c = conn.cursor()

In [3]:
# The most basic thing is to select and view one entire table
c.execute("SELECT * FROM Hospital_features;").fetchall()

[(214321, 'Chris Martin Hospital', 'SO15 5FL', 100, 300, 10),
 (224323, 'Alfred Hitchcock Hospital', 'BE01 5SA', 200, 600, 20),
 (3234234, 'Robin Hood Hospital', 'LO12 8HG', 150, 400, 15)]

In [4]:
# Now, select one column from a particular table
c.execute("SELECT Patient_admitted_id FROM covid_19_death;").fetchall()

[(11603667,), (56222991,), (63931210,), (72259608,), (74755234,)]

In [5]:
# Can I select more than one column?
c.execute("SELECT Patient_admitted_id,Hospital_ID FROM covid_19_death;").fetchall()

[(56222991, 224323),
 (72259608, 3234234),
 (11603667, 3234234),
 (74755234, 214321),
 (63931210, 214321)]

In [6]:
# Two columns with conditions
c.execute("SELECT NHS_Number, Birthdate FROM patient_data WHERE Postcode = 'SO15 5FL' OR Postcode = 'BE01 5SA';").fetchall()

[(670345512, '1913-12-04 00:00:00'),
 (745184100, '1977-12-11 00:00:00'),
 (147110161, '1974-10-08 00:00:00'),
 (667967355, '1970-04-15 00:00:00'),
 (899893536, '1983-09-30 00:00:00'),
 (956768003, '1901-10-08 00:00:00'),
 (126815535, '1981-06-22 00:00:00'),
 (255687804, '1926-01-15 00:00:00'),
 (285920644, '1992-04-03 00:00:00'),
 (799116468, '1936-10-24 00:00:00'),
 (557989663, '2004-10-09 00:00:00'),
 (218910724, '1908-10-01 00:00:00'),
 (590128330, '1936-12-02 00:00:00'),
 (148806628, '1970-06-10 00:00:00'),
 (450820105, '1901-06-20 00:00:00'),
 (579160225, '1943-04-15 00:00:00'),
 (524660181, '1954-05-08 00:00:00'),
 (321083368, '1913-02-27 00:00:00'),
 (744499223, '1930-03-01 00:00:00'),
 (743328345, '1900-01-17 00:00:00'),
 (614647605, '1925-05-26 00:00:00'),
 (418116636, '1917-04-30 00:00:00'),
 (530151731, '1970-04-15 00:00:00'),
 (699224467, '1934-07-15 00:00:00'),
 (427157474, '1968-05-26 00:00:00'),
 (813828390, '1991-07-25 00:00:00'),
 (732093193, '1962-03-01 00:00:00'),
 (311159881, '1933-01-06 00:00:00'),
 (564769998, '1927-08-14 00:00:00'),
 (383102751, '1982-07-16 00:00:00'),
 (389507458, '1926-05-27 00:00:00'),
 (874820770, '1958-06-05 00:00:00'),
 (676478652, '1951-09-07 00:00:00'),
 (832818513, '1921-12-22 00:00:00'),
 (101119526, '1969-05-22 00:00:00'),
 (388001676, '1931-01-22 00:00:00'),
 (507438760, '1930-07-20 00:00:00'),
 (845324685, '1919-05-27 00:00:00'),
 (830822457, '1987-02-15 00:00:00'),
 (680819125, '1941-07-14 00:00:00'),
 (166434754, '2007-06-29 00:00:00'),
 (546507297, '1900-06-25 00:00:00'),
 (801179353, '2002-07-26 00:00:00'),
 (247987960, '1953-12-18 00:00:00'),
 (708239198, '1972-02-02 00:00:00'),
 (609989751, '1931-08-22 00:00:00'),
 (131198918, '1995-12-22 00:00:00'),
 (824166221, '1956-03-26 00:00:00'),
 (586770305, '1984-09-08 00:00:00'),
 (977178452, '1930-11-02 00:00:00'),
 (741040885, '1923-06-23 00:00:00'),
 (129868141, '1955-02-19 00:00:00'),
 (690412385, '1989-05-19 00:00:00'),
 (734376714, '1919-10-23 00:00:00'),
 (771452587, '1933-06-01 00:00:00'),
 (156271687, '1931-05-13 00:00:00'),
 (755227848, '1951-02-26 00:00:00'),
 (865914360, '1923-12-15 00:00:00'),
 (226679197, '1951-06-01 00:00:00'),
 (726116508, '1905-10-02 00:00:00'),
 (651059243, '1997-02-26 00:00:00'),
 (695744063, '1901-06-08 00:00:00'),
 (637673802, '1938-02-01 00:00:00'),
 (648984622, '1965-07-08 00:00:00'),
 (119908283, '1977-12-01 00:00:00'),
 (387069442, '1972-11-20 00:00:00'),
 (849721619, '1965-02-13 00:00:00'),
 (758808887, '1983-10-12 00:00:00'),
 (470556428, '1957-11-06 00:00:00'),
 (734801940, '1947-05-27 00:00:00'),
 (199367518, '1978-02-02 00:00:00'),
 (386743531, '1925-01-13 00:00:00'),
 (349095080, '1988-11-16 00:00:00'),
 (640875823, '1982-03-04 00:00:00'),
 (928270003, '1946-05-20 00:00:00'),
 (914601771, '1914-06-05 00:00:00'),
 (136544880, '1982-04-05 00:00:00'),
 (346135213, '1946-09-06 00:00:00'),
 (746899988, '1932-08-30 00:00:00'),
 (888483397, '1925-08-15 00:00:00'),
 (240368002, '1983-12-15 00:00:00'),
 (171860661, '1947-08-11 00:00:00'),
 (571116938, '2000-03-01 00:00:00'),
 (104403069, '1900-02-03 00:00:00'),
 (134522197, '1986-10-13 00:00:00'),
 (203321538, '1903-09-24 00:00:00'),
 (357783622, '1976-11-19 00:00:00'),
 (835081098, '1945-09-12 00:00:00'),
 (693515248, '1921-11-10 00:00:00'),
 (365252002, '1963-03-26 00:00:00'),
 (829533203, '1971-03-28 00:00:00'),
 (855456259, '1991-04-28 00:00:00'),
 (162573531, '1981-03-30 00:00:00'),
 (643594023, '1924-09-07 00:00:00'),
 (795535290, '1925-01-15 00:00:00'),
 (123502476, '1981-03-10 00:00:00'),
 (668019088, '1900-12-10 00:00:00'),
 (459618314, '1953-02-06 00:00:00'),
 (897032404, '1968-10-26 00:00:00'),
 (185525586, '2004-04-20 00:00:00'),
 (737687171, '1949-05-30 00:00:00'),
 (448815155, '1919-12-04 00:00:00'),
 (899999562, '1941-10-31 00:00:00'),
 (163624044, '1972-03-21 00:00:00'),
 (983852212, '1959-11-29 00:00:00'),
 (393431173, '1941-09-02 00:00:00'),
 (559890463, '1970-10-14 00:00:00'),
 (546758407, '1957-08-26 00:00:00'),
 (373948128, '1972-03-03 00:00:00'),
 (542445019, '1915-07-15 00:00:00'),
 (503960834, '1975-08-07 00:00:00'),
 (190484098, '1928-05-08 00:00:00'),
 (251004160, '1940-12-13 00:00:00'),
 (522718185, '1929-09-22 00:00:00'),
 (529505929, '1949-04-01 00:00:00'),
 (786220995, '1933-01-26 00:00:00'),
 (471990763, '1953-11-12 00:00:00'),
 (398118003, '1921-03-31 00:00:00'),
 (682484818, '2003-07-29 00:00:00'),
 (151239985, '1935-05-31 00:00:00'),
 (451673505, '1992-08-03 00:00:00'),
 (903681017, '1936-06-16 00:00:00'),
 (753891041, '2003-01-10 00:00:00'),
 (644979452, '1943-06-29 00:00:00'),
 (417341839, '2003-08-23 00:00:00'),
 (162442827, '2006-02-06 00:00:00'),
 (829365040, '1962-10-11 00:00:00'),
 (551608909, '1937-03-30 00:00:00'),
 (678270071, '1904-01-29 00:00:00'),
 (994683680, '1972-01-04 00:00:00'),
 (308227319, '1904-03-15 00:00:00'),
 (917917890, '1946-12-10 00:00:00'),
 (364891043, '1937-12-18 00:00:00'),
 (367717335, '1983-10-23 00:00:00'),
 (396372701, '1930-06-28 00:00:00'),
 (726995504, '1951-05-04 00:00:00'),
 (575816714, '1947-03-26 00:00:00'),
 (929670003, '1945-10-25 00:00:00'),
 (407572898, '1946-03-07 00:00:00'),
 (318322167, '1984-06-22 00:00:00'),
 (683280515, '1993-10-04 00:00:00'),
 (961329834, '1904-05-15 00:00:00'),
 (425642225, '1932-10-02 00:00:00'),
 (202990216, '1918-09-22 00:00:00'),
 (325975123, '1988-01-15 00:00:00'),
 (793106448, '1976-03-02 00:00:00'),
 (714416011, '1965-08-22 00:00:00'),
 (319145369, '1937-08-02 00:00:00'),
 (417292283, '1925-11-11 00:00:00'),
 (174819041, '1956-09-29 00:00:00'),
 (895634988, '1997-11-28 00:00:00'),
 (885194603, '1919-07-05 00:00:00'),
 (249435394, '1991-03-03 00:00:00'),
 (388236096, '1986-11-16 00:00:00'),
 (221337197, '1979-08-21 00:00:00'),
 (762737847, '1950-12-12 00:00:00'),
 (180792348, '1979-12-23 00:00:00'),
 (519509108, '1982-07-31 00:00:00'),
 (828857577, '1988-03-03 00:00:00'),
 (843107428, '1935-10-13 00:00:00'),
 (991970488, '1985-08-09 00:00:00'),
 (684965590, '1982-12-25 00:00:00'),
 (418077471, '1998-05-26 00:00:00'),
 (397252836, '1965-10-03 00:00:00'),
 (514504764, '1991-03-10 00:00:00'),
 (785719037, '2001-05-28 00:00:00'),
 (628028205, '1938-10-17 00:00:00'),
 (581065160, '1937-10-25 00:00:00'),
 (613085096, '1965-12-27 00:00:00'),
 (166052563, '1985-05-18 00:00:00'),
 (957263165, '1964-01-27 00:00:00'),
 (397032175, '1911-05-01 00:00:00'),
 (582594973, '1967-09-30 00:00:00'),
 (895444002, '1980-01-24 00:00:00'),
 (316520294, '1922-12-13 00:00:00'),
 (784595893, '1923-02-20 00:00:00'),
 (245667954, '1982-02-13 00:00:00'),
 (734324367, '1933-02-22 00:00:00'),
 (816380330, '1988-06-28 00:00:00'),
 (550909750, '1919-02-01 00:00:00'),
 (181127481, '1989-10-29 00:00:00'),
 (573604901, '1921-12-29 00:00:00'),
 (583378878, '1903-02-24 00:00:00'),
 (812425702, '1984-06-18 00:00:00'),
 (620491769, '2001-02-20 00:00:00'),
 (869456472, '1996-01-28 00:00:00'),
 (533669484, '1929-09-21 00:00:00'),
 (261809572, '1971-06-25 00:00:00'),
 (545085164, '1949-01-18 00:00:00'),
 (269520675, '2006-04-11 00:00:00'),
 (217169747, '1967-09-12 00:00:00'),
 (351244653, '1924-03-28 00:00:00'),
 (646060188, '1919-01-09 00:00:00'),
 (270044734, '1997-03-20 00:00:00'),
 (495103579, '1922-08-30 00:00:00'),
 (405671261, '1979-04-03 00:00:00'),
 (369213918, '1969-06-05 00:00:00'),
 (941243915, '1996-11-03 00:00:00'),
 (515117444, '1969-08-02 00:00:00'),
 (610085217, '1912-07-13 00:00:00'),
 (612063631, '1940-11-01 00:00:00'),
 (240892922, '1956-07-10 00:00:00'),
 (947079265, '1935-08-11 00:00:00'),
 (307306635, '1958-06-21 00:00:00'),
 (936794806, '1942-09-07 00:00:00'),
 (843442067, '1994-01-20 00:00:00'),
 (876941973, '1998-07-19 00:00:00'),
 (586077727, '1907-03-21 00:00:00'),
 (371851319, '1930-05-13 00:00:00'),
 (163101199, '1920-05-19 00:00:00'),
 (983813720, '1948-02-24 00:00:00'),
 (862418459, '1909-08-20 00:00:00'),
 (655612497, '1927-06-01 00:00:00'),
 (649941069, '1996-01-29 00:00:00'),
 (850047364, '1925-05-13 00:00:00'),
 (627975971, '1956-03-17 00:00:00'),
 (348013460, '1956-08-20 00:00:00'),
 (775422594, '1904-02-03 00:00:00'),
 (291437335, '1933-02-07 00:00:00'),
 (578208363, '1955-11-26 00:00:00'),
 (206116997, '1907-06-29 00:00:00'),
 (706890072, '1926-09-18 00:00:00'),
 (273474137, '1924-05-01 00:00:00'),
 (392058284, '1940-07-21 00:00:00'),
 (275028830, '1918-06-25 00:00:00'),
 (552417533, '1990-07-06 00:00:00'),
 (488444530, '1998-04-25 00:00:00'),
 (925606417, '1913-10-24 00:00:00'),
 (197428128, '1993-10-19 00:00:00'),
 (672685872, '1945-03-15 00:00:00'),
 (354654364, '1911-12-05 00:00:00'),
 (751539757, '1909-12-27 00:00:00'),
 (820516811, '1973-01-04 00:00:00'),
 (599194907, '1959-07-02 00:00:00'),
 (550350449, '1993-06-12 00:00:00'),
 (206785306, '1925-08-22 00:00:00'),
 (594630524, '1969-03-05 00:00:00'),
 (242389628, '1910-10-24 00:00:00'),
 (706663564, '1971-09-15 00:00:00'),
 (764478470, '2007-08-10 00:00:00'),
 (458576186, '1968-04-28 00:00:00'),
 (648495025, '1969-10-24 00:00:00'),
 (325152003, '2000-09-06 00:00:00'),
 (864331521, '1996-09-08 00:00:00'),
 (922625154, '1969-02-02 00:00:00'),
 (556434958, '1991-09-20 00:00:00'),
 (815903937, '1981-08-20 00:00:00'),
 (423064937, '1948-05-09 00:00:00'),
 (359583549, '1916-09-16 00:00:00'),
 (925252778, '1969-11-16 00:00:00'),
 (184303927, '1916-08-06 00:00:00'),
 (911645798, '1985-03-29 00:00:00'),
 (606373665, '1994-01-19 00:00:00'),
 (906046828, '1972-12-26 00:00:00'),
 (551820674, '1995-02-25 00:00:00'),
 (557429481, '1985-06-20 00:00:00'),
 (744101357, '1903-12-12 00:00:00'),
 (704779280, '1900-08-03 00:00:00'),
 (771774216, '1997-08-07 00:00:00'),
 (190345078, '1991-02-24 00:00:00'),
 (815798763, '2001-07-04 00:00:00'),
 (995003478, '1996-04-04 00:00:00'),
 (591826372, '1921-02-26 00:00:00'),
 (741661330, '1968-08-25 00:00:00'),
 (319602877, '1914-12-13 00:00:00'),
 (542994717, '1999-11-29 00:00:00'),
 (785276621, '1989-04-09 00:00:00'),
 (521079057, '1919-06-20 00:00:00'),
 (751496123, '1940-02-06 00:00:00'),
 (449585125, '1991-03-28 00:00:00'),
 (911645206, '1905-01-05 00:00:00'),
 (221555858, '1993-10-24 00:00:00'),
 (319045122, '1988-04-11 00:00:00'),
 (336886661, '1983-05-01 00:00:00'),
 (909295730, '1951-08-02 00:00:00'),
 (345574235, '1968-12-02 00:00:00'),
 (909699728, '1925-11-11 00:00:00'),
 (323697123, '1990-01-03 00:00:00'),
 (226923578, '1915-11-15 00:00:00'),
 (565863059, '1901-11-21 00:00:00'),
 (623413344, '1992-11-11 00:00:00'),
 (462816258, '1980-03-30 00:00:00'),
 (628263338, '1981-04-27 00:00:00'),
 (506376425, '1986-10-29 00:00:00'),
 (491690549, '2003-03-04 00:00:00'),
 (961499704, '1942-02-03 00:00:00'),
 (868841665, '1944-01-10 00:00:00'),
 (728602486, '1977-09-06 00:00:00'),
 (996158831, '1966-04-02 00:00:00'),
 (364046045, '1915-07-23 00:00:00'),
 (562094001, '1955-01-20 00:00:00'),
 (111133374, '1900-07-25 00:00:00'),
 (650838689, '1999-04-06 00:00:00'),
 (323920152, '1993-04-20 00:00:00'),
 (525194280, '1900-05-19 00:00:00'),
 (588005767, '1903-03-04 00:00:00'),
 (464154267, '1978-06-04 00:00:00'),
 (341342713, '1968-07-06 00:00:00'),
 (947024028, '1949-02-25 00:00:00'),
 (642534292, '1944-10-28 00:00:00'),
 (446522776, '1979-01-19 00:00:00'),
 (108138373, '1912-05-24 00:00:00'),
 (138644471, '1997-04-30 00:00:00'),
 (795656997, '1941-10-20 00:00:00'),
 (151411651, '1973-08-24 00:00:00'),
 (358360379, '1900-07-15 00:00:00'),
 (758409155, '1906-07-20 00:00:00'),
 (804589656, '1938-12-13 00:00:00'),
 (389148334, '1901-12-31 00:00:00'),
 (492763004, '1910-04-24 00:00:00'),
 (321502397, '1916-12-28 00:00:00'),
 (203940282, '1917-11-04 00:00:00'),
 (413111283, '1974-06-07 00:00:00'),
 (694042083, '1975-05-27 00:00:00'),
 (350954156, '1987-09-10 00:00:00'),
 (978155656, '1968-11-06 00:00:00'),
 (930666182, '1905-10-19 00:00:00'),
 (680949860, '1951-10-18 00:00:00'),
 (833962949, '1981-09-24 00:00:00'),
 (160508438, '1926-11-18 00:00:00'),
 (539252273, '1900-10-27 00:00:00'),
 (751606300, '1951-06-18 00:00:00'),
 (856194717, '1935-08-30 00:00:00'),
 (783676525, '1951-05-22 00:00:00'),
 (552580961, '1913-08-31 00:00:00'),
 (426150791, '2003-09-01 00:00:00'),
 (559047209, '1922-01-20 00:00:00'),
 (786685299, '1940-08-07 00:00:00'),
 (651497670, '1961-05-14 00:00:00'),
 (801873243, '1932-01-20 00:00:00'),
 (512318637, '1938-09-11 00:00:00'),
 (933220426, '1962-07-16 00:00:00'),
 (611623496, '1925-05-17 00:00:00'),
 (862928776, '1901-01-24 00:00:00'),
 (780642746, '1973-08-13 00:00:00'),
 (484828083, '2007-11-07 00:00:00'),
 (613213387, '1920-09-10 00:00:00'),
 (597570727, '1954-03-15 00:00:00'),
 (718774982, '1959-07-13 00:00:00'),
 (246487024, '1949-12-25 00:00:00'),
 (583412752, '1901-02-01 00:00:00'),
 (152907881, '2001-11-16 00:00:00'),
 (150712248, '1939-06-15 00:00:00'),
 (616485326, '1949-02-11 00:00:00'),
 (635939003, '1912-09-01 00:00:00'),
 (459935471, '1997-02-14 00:00:00'),
 (752980153, '1956-03-23 00:00:00'),
 (226845774, '1945-03-17 00:00:00'),
 (628983847, '1940-09-03 00:00:00'),
 (491054521, '1974-06-12 00:00:00'),
 (586252659, '1969-04-08 00:00:00'),
 (253312039, '1969-09-24 00:00:00'),
 (802326359, '1954-06-10 00:00:00'),
 (792765408, '1905-01-12 00:00:00'),
 (364571090, '1904-01-04 00:00:00'),
 (267531958, '1972-11-16 00:00:00'),
 (139568136, '1963-08-03 00:00:00'),
 (301224770, '1976-08-12 00:00:00'),
 (961579542, '1924-09-08 00:00:00'),
 (742482891, '1972-04-12 00:00:00'),
 (935405754, '1910-12-03 00:00:00'),
 (697598499, '1992-05-13 00:00:00'),
 (798093407, '1961-05-13 00:00:00'),
 (498207857, '1942-10-01 00:00:00'),
 (435810239, '1945-01-21 00:00:00'),
 (684396699, '1905-11-28 00:00:00'),
 (378027460, '1941-06-28 00:00:00'),
 (678388206, '1944-02-19 00:00:00'),
 (904334039, '1943-12-07 00:00:00'),
 (887072337, '1914-01-29 00:00:00'),
 (176563808, '1903-06-06 00:00:00'),
 (780789113, '2005-03-18 00:00:00'),
 (408918683, '1976-12-07 00:00:00'),
 (954628621, '1980-11-26 00:00:00'),
 (214873691, '1905-06-19 00:00:00'),
 (427173280, '1900-11-21 00:00:00'),
 (216539411, '2002-06-23 00:00:00'),
 (196078017, '1939-05-21 00:00:00'),
 (124876688, '1940-07-17 00:00:00'),
 (997460915, '1917-08-03 00:00:00'),
 (928614814, '1911-01-18 00:00:00'),
 (570275691, '1983-09-28 00:00:00'),
 (217698815, '1941-03-19 00:00:00'),
 (933142440, '1916-11-05 00:00:00'),
 (679613485, '2006-07-12 00:00:00'),
 (187614833, '2003-10-04 00:00:00'),
 (548497805, '1984-07-25 00:00:00'),
 (369871201, '1929-04-16 00:00:00'),
 (998763361, '1954-03-20 00:00:00'),
 (357711465, '1950-07-09 00:00:00'),
 (412627780, '1980-01-22 00:00:00'),
 (781823338, '1952-08-10 00:00:00'),
 (401507126, '1959-03-28 00:00:00'),
 (744183211, '1961-12-06 00:00:00'),
 (158817661, '1978-11-22 00:00:00'),
 (450345834, '1958-07-31 00:00:00'),
 (645774025, '1927-08-26 00:00:00'),
 (149183867, '1904-01-26 00:00:00'),
 (713943838, '1965-03-21 00:00:00'),
 (639619845, '1909-01-28 00:00:00'),
 (482065142, '1969-10-17 00:00:00'),
 (706905046, '1949-07-13 00:00:00'),
 (559789248, '1988-09-19 00:00:00'),
 (453960089, '1945-10-26 00:00:00'),
 (456072067, '1910-04-18 00:00:00'),
 (797624524, '1911-04-08 00:00:00'),
 (184480766, '1929-08-25 00:00:00'),
 (292617339, '1907-01-22 00:00:00'),
 (860713250, '1932-12-03 00:00:00'),
 (867962854, '1958-05-26 00:00:00'),
 (888352412, '1960-02-15 00:00:00'),
 (363068655, '1902-08-31 00:00:00'),
 (498914294, '1900-08-18 00:00:00'),
 (958227386, '1980-02-03 00:00:00'),
 (723137667, '1903-04-27 00:00:00'),
 (167973225, '1960-10-04 00:00:00'),
 (422462603, '1915-04-22 00:00:00'),
 (236835172, '2007-08-08 00:00:00'),
 (667038278, '1954-04-06 00:00:00'),
 (131218525, '1973-12-19 00:00:00'),
 (572751296, '1980-10-13 00:00:00'),
 (591445314, '1900-09-12 00:00:00'),
 (874166456, '1977-05-23 00:00:00'),
 (528092468, '1955-02-02 00:00:00'),
 (132182717, '1978-09-14 00:00:00'),
 (470245477, '1986-06-17 00:00:00')]

In [7]:
# Could I insert a new patient in the patient_data table??
# Let's first count how many patient I have before and after insert a new patient

c.execute("SELECT COUNT(ID) from patient_data ;").fetchall()

[(2000,)]

In [8]:
# I want to be one of the patients of this database
c.execute("INSERT INTO  patient_data VALUES ('00001','000001', 'Manuel Dominguez','M','1990-04-07','Spanish', 'SO15 10FL');").fetchall()

[]

In [9]:
# Count again, now the number must be 2001
c.execute("SELECT COUNT(ID) from patient_data ;").fetchall()

[(2001,)]

What if we make a mistake or notice an error in a record? We can use the <code>UPDATE</code> command to change existing data in a table.

In [10]:
c.execute("UPDATE patient_data SET 'ID'= '88888' WHERE Full_Name = 'Manuel Dominguez';").fetchall()

[]

In [11]:
# Let's see if the new value was introduced
c.execute("select * FROM patient_data WHERE Full_name = 'Manuel Dominguez';").fetchall()

[('88888',
  '000001',
  'Manuel Dominguez',
  'M',
  '1990-04-07',
  'Spanish',
  'SO15 10FL')]

In [12]:
# Another useful thing to be able to do is to delete records from a table.
c.execute("DELETE FROM patient_data WHERE Full_name = 'Manuel Dominguez';").fetchall()

[]

In [13]:
c.execute("select * FROM patient_data WHERE Full_name = 'Manuel Dominguez';").fetchall()

[]

In [14]:
# Le's do some group by

c.execute("SELECT Full_Name FROM patient_data GROUP BY Ethnicity;").fetchall()

[('Eddie Hoeger',),
 ('Garett Eichmann',),
 ('Kali Torp',),
 ('Alek Cummings',),
 ('Kitty Koss',)]

In [15]:
# Let's get the patient name and NHS number of the patients that got COVID-19.
# For this, I need to join two tables

c.execute("SELECT Full_Name, NHS_Number FROM patient_data INNER JOIN covid_19_admission ON covid_19_admission.Patient_admitted_id = patient_data.ID ;").fetchall()

[('Edmond Hayes', 225558653),
 ('Pryor Pollich', 271495793),
 ('Rock Wisoky', 976766411),
 ('Ben Stracke', 148806628),
 ('Norris Nienow', 868313628),
 ('Verner Hudson', 721462905),
 ('Cloyd Paucek', 946367547),
 ('Amiya Lebsack', 164752100),
 ('Anders Runte', 849721619),
 ('Ferrell Goyette', 386743531),
 ('Vassie Cummerata', 248418516),
 ('Hershell Reinger', 171860661),
 ('Glover Mills', 112684664),
 ('Lashunda Smith', 737687171),
 ('Vance Beer', 696306296),
 ('Hoke Jones', 385928805),
 ('Lorrie Hansen', 270362301),
 ('Anatole Borer', 803116291),
 ('Oma Hodkiewicz', 531140195),
 ('Norbert Grimes', 446864314),
 ('Kiley Gutkowski', 484541660),
 ('Genie Kerluke', 701144345),
 ('Lota Zieme', 558769608),
 ('Estelle Reinger', 689463467),
 ('Almira Rogahn', 202990216),
 ('Travon Heller', 273379176),
 ('Rubye Brown', 884597263),
 ('Prentice Torphy', 949898024),
 ('Malorie Jones', 449909150),
 ('Azul McGlynn', 538297053),
 ('Eugene Wuckert', 772590671),
 ('Bertha Raynor', 581065160),
 ("Fonda O'Hara", 166052563),
 ('Maurice Rowe', 316520294),
 ('Jovanny Lebsack', 343411976),
 ('Corliss Franecki', 748606060),
 ('Isabel Raynor', 335121284),
 ('Kamryn Schultz', 998192023),
 ('Devin Marks', 624107232),
 ('Tinie Gleason', 447842002),
 ('Benedict Lehner', 235226268),
 ('Maya Schuster', 896746913),
 ('Chiquita Howe', 862418459),
 ('Dameon Mosciski', 894769409),
 ('Thurlow Kuvalis', 116375617),
 ('Stevie Brekke', 268120153),
 ('Agusta Bednar', 960799632),
 ('Darin Boehm', 580819868),
 ('Christ Block', 170048734),
 ('Erica Friesen', 206785306),
 ('Lionel Rogahn', 511888489),
 ('Jaqueline Luettgen', 184303927),
 ('Collier Stanton', 935158899),
 ('Elisha Von', 668244952),
 ('Jonell Rohan', 921200118),
 ('Kris Cummings', 183895059),
 ('Adele Cassin', 771774216),
 ('Kamari Howell', 305156409),
 ('Les Anderson', 935211129),
 ('Matilda Denesik', 336886661),
 ('Cathi McKenzie', 636404562),
 ('Deyanira Lynch', 199280642),
 ('Kamren Mosciski', 588005767),
 ('Octave Stoltenberg', 512532594),
 ('Laddie Mills', 295006753),
 ('Kenley Braun', 628694676),
 ('Rosco Reilly', 372953841),
 ('Joellen Kuvalis', 576018448),
 ('Sylvanus Macejkovic', 165741455),
 ('Ramon Sauer', 955954356),
 ('Omarion Fritsch', 141693483),
 ('Kenya Torp', 426150791),
 ('Kami Wyman', 662923284),
 ('Haden Lindgren', 694006026),
 ('Brad Kunze', 981230831),
 ('Maurine Hermiston', 675597984),
 ('Braden Connelly', 434977082),
 ('Ward Gutmann', 858921643),
 ('Migdalia Streich', 897071280),
 ('Sherry Marquardt', 791530572),
 ('Roderic Raynor', 140390712),
 ('Lorrayne Schultz', 944793711),
 ('Aaron Keebler', 118343210),
 ('Clydie Fisher', 678388206),
 ('Dillion Lockman', 588727656),
 ('Daja Kirlin', 220665086),
 ('Wilkie Kling', 341473893),
 ('Margarite Veum', 124876688),
 ('Miner Thompson', 928721253),
 ('Shae Russel', 309542241),
 ('Mavis Stanton', 352400232),
 ('Dallas Rodriguez', 577953922),
 ('Valery Murazik', 543849907),
 ('Giovani Mueller', 796639520),
 ('Jule Johnston', 211191977),
 ('Jacquez Green', 148427570),
 ('Leah Lowe', 630674305),
 ('Carlota Torp', 598282295),
 ('Dionte Johnston', 706873342),
 ('Ivy Hyatt', 414895118)]

In [ ]:
SELECT working_area, COUNT(*) 
FROM agents 
GROUP BY working_area;

### Notebook details
<br>
<i>Notebook created by <strong>Manuel Dominguez</strong> 

Creation date: May 2021<br>

In [20]:
# Total number of patients admitted by hospitals

# First hospital:
c.execute("SELECT Hospital_ID, COUNT(*) FROM covid_19_admission GROUP BY Hospital_ID;").fetchall()[0][1]

33

In [21]:
# Second hospital
c.execute("SELECT Hospital_ID, COUNT(*) FROM covid_19_admission GROUP BY Hospital_ID;").fetchall()[1][1]

31

In [22]:
# Third hospital
c.execute("SELECT Hospital_ID, COUNT(*) FROM covid_19_admission GROUP BY Hospital_ID;").fetchall()[2][1]

36

In [27]:
import pandas as pd     
import datetime as dt

import dash             
import dash_core_components as dcc
import dash_html_components as html
from dash.dependencies import Input, Output

import plotly          
import plotly.express as px

In [34]:
df = pd.read_csv("./Urban_Park_Ranger_Animal_Condition_Response.csv")  # https://drive.google.com/file/d/1m63TNoZdDUtH5XhK-mc4kDFzO9j97eWW/view?usp=sharing

#------------------------------------------------------------------------------
# Drop rows w/ no animals found or calls w/ varied age groups
df = df[(df['# of Animals']>0) & (df['Age']!='Multiple')]

# Create column for month from time call made to Ranger
df['Month Call Made'] = pd.to_datetime(df['Date and Time of initial call'])
df['Month Call Made'] = df['Month Call Made'].dt.strftime('%m')
df.sort_values('Month Call Made', inplace=True)
df['Month Call Made'] = df['Month Call Made'].replace({"01":"January","02":"February","03":"March",
                                                       "04":"April","05":"May","06":"June",
                                                       "07":"July","08":"August","09":"September",
                                                       "10":"October","11":"November","12":"December",})
# Copy columns to new columns with clearer names
df['Amount of Animals'] = df['# of Animals']

In [36]:
df.head(3)

,Date and Time of initial call,Date and time of Ranger response,Borough,Property,Location,Species Description,Call Source,Species Status,Animal Condition,Duration of Response,...,# of Animals,PEP Response,Animal Monitored,Rehabilitator,Hours spent monitoring,Police Response,ESU Response,ACC Intake Number,Month Call Made,Amount of Animals
57,1/7/2019 8:25,1/7/2019 8:54,Staten Island,Willowbrook Park,Park house,Chicken,Employee,Domestic,Unhealthy,1.0,...,1.0,False,False,NaN,NaN,False,False,52029,January,1.0
830,1/12/2019 9:00,1/12/2019 11:00,Manhattan,St. Nicholas Park,West 133rd St behind the comfort station.,Red-tailed Hawk,Central,Native,Dead on arrival,1.0,...,1.0,False,False,NaN,NaN,False,False,NaN,January,1.0
829,1/18/2019 15:00,1/18/2019 16:00,Manhattan,Central Park,On Lawn near 100th Street Pool Area. (Between ...,Red-tailed Hawk,"Conservancies/""Friends of"" Groups",Native,Dead on arrival,0.5,...,2.0,False,False,NaN,NaN,False,False,NaN,January,2.0

In [38]:
options_chosen = ["January"]
dff = df[df['Month Call Made'].isin(options_chosen)]

In [40]:
len(dff)

38

In [42]:
covid_19_admission = pd.read_sql_query("SELECT * FROM covid_19_admission", conn)

In [45]:
def update_small_cards(options_chosen):
    
    # Total people admitted 
    dff = covid_19_admission[covid_19_admission['Hospital_ID'].isin(options_chosen)]
    TOTAL_PA = len(dff)

    return TOTAL_PA

In [46]:
options_chosen = [224323,3234234]
update_small_cards(options_chosen)

67

In [44]:
covid_19_admission

    Patient_admitted_id                 Date  Hospital_ID
0              37940003  2021-01-28 00:00:00       224323
1              39572419  2021-01-15 00:00:00      3234234
2              58742774  2021-01-13 00:00:00      3234234
3              88354127  2021-01-07 00:00:00      3234234
4              31306850  2021-01-14 00:00:00      3234234
..                  ...                  ...          ...
95             42744234  2021-01-26 00:00:00      3234234
96               892154  2021-01-21 00:00:00      3234234
97             63931210  2021-01-09 00:00:00       214321
98             58776379  2021-01-30 00:00:00       214321
99             76692864  2021-01-26 00:00:00       214321

[100 rows x 3 columns]