# Creating the fake database
****





Each database has a <code>schema</code>. This represents the structure of the whole database. It shows the relationships between database entities (i.e. tables) and defines any constraints placed on the data. This can also be represented as a diagram. To represent the fake database I want to create in this notebook I have used <a href="https://dbdiagram.io/d" target="_blank">dbdiagram.io</a>. It can be seen the relation of each table and by which fields.


![Image of Yaktocat](https://raw.githubusercontent.com/Manuel-DominguezCBG/SQL2Dashboard/main/Covid-19/Images/screenshot-aca1dabf.jpg)

## 1. Populate with fake people the tables that will be used to create the database

In [1]:
# Populating Patient_data dataframe
# 2000 patients with ID number, Name, NHS number, Age, Gender, Ethnicity and postcode.

# Import libraries
import pandas as pd
from pandas import DataFrame
import numpy as np
import random
import datetime
from datetime import timedelta
import names                                     # pip install names
from faker.providers.person.en import Provider   # pip install faker
import sqlite3


size = 2000

In [2]:
# Let’s create some functions to randomly generate our data 

def random_id(size):
    id_patient = random.sample(range(100000), size)
    return id_patient

In [3]:
def random_NHS_number(size):
    NHS_numbers = random.sample(range(100000000,999999999),size)
    return NHS_numbers

In [4]:
def random_names(name_type, size):
    """
    Generate n-length ndarray of person names.
    name_type: a string, either first_names or last_names
    """
    names = getattr(Provider, name_type)
    return np.random.choice(names, size=size)

In [5]:
def random_genders(size, p=None):
    """Generate n-length ndarray of genders."""
    if not p:
        # Equal probability of gender
        p = (0.5, 0.5)
    gender = ("M", "F")
    return np.random.choice(gender, size=size, p=p)

In [6]:
def random_Ethnicity(size, p=None):
    """Generate n-length ndarray of genders."""
    if not p:
        # 5 groups with different probability
        p = (0.49, 0.10, 0.11, 0.01, 0.29)
    Ethnicity = ("White British", "Black British people", "British Indians", "White Gypsy or Irish Traveller", "Other White")
    return np.random.choice(Ethnicity, size=size, p=p)

In [7]:
def random_Postcode(size, p=None):
    """
    A real Faker's UK postcode generation can be found here
    https://github.com/joke2k/faker/blob/07ca4ede54c26554fdb5c7a4f55432cb0498d338/faker/providers/address/en_GB/__init__.py
    However, for this small fake database there is no need to populate it with real UK ppostcode.
    Instead of this, only a few fake postcodes are generate manually"""
    if not p:
        # 10 postcodes, same p
        p = (0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1,0.1)
    Postcode = ("SO15 5FL", "SP01 10MA", "BE01 5SA", "CB19 5US", "SO15 10FL", "LO12 8HG", "WE1 7YG", "SO01 7JH", "SP2 8BJ", "SP3 8BJ")
    return np.random.choice(Postcode, size=size, p=p)

In [8]:
def random_Hospital_names(size, p=None):
    """
    3 Fake hospitals names with similar probability
    """
    if not p:
        # 10 postcodes, same p
        p = (0.3, 0.3, 0.4)
    Hospital_names = ("Robin Hood Hospital", "Alfred Hitchcock Hospital", "Chris Martin Hospital")
    return np.random.choice(Hospital_names, size=size, p=p)

In [9]:
def random_dates(start, end, size):
    """
    Generate random dates within range between start and end.    
    Adapted from: https://stackoverflow.com/a/50668285
    """
    # Unix timestamp is in nanoseconds by default, so divide it by
    # 24*60*60*10**9 to convert to days.
    divide_by = 24 * 60 * 60 * 10**9
    start_u = start.value // divide_by
    end_u = end.value // divide_by
    return pd.to_datetime(np.random.randint(start_u, end_u, size), unit="D")

## patient_data_df

In [10]:
# Empty df with headers
patients_admitted = pd.DataFrame(columns=['ID', 'NHS_Number','Full_Name','Gender', 'Birthdate', 'Ethnicity', 'Postcode'])

patients_admitted['ID'] = random_id(size) 
patients_admitted['NHS_Number'] = random_NHS_number(size)
patients_admitted['first_names'] = random_names('first_names', size)
patients_admitted['last_names'] = random_names('last_names', size)
patients_admitted['Full_Name'] = patients_admitted['first_names']  + ' ' + patients_admitted['last_names']
del patients_admitted['first_names']
del patients_admitted['last_names']
patients_admitted['Gender'] = random_genders(size)
patients_admitted['Birthdate'] = random_dates(start=pd.to_datetime('1900-01-01'), end=pd.to_datetime('2008-01-01'), 
                                              size=size)
patients_admitted['Ethnicity'] = random_Ethnicity(size)
patients_admitted['Postcode'] = random_Postcode(size)
patients_admitted

,ID,NHS_Number,Full_Name,Gender,Birthdate,Ethnicity,Postcode
0,80076,477821126,Drew Grady,F,1942-06-26,White British,SO15 10FL
1,97222,822880200,Gwyn Kuphal,F,1907-10-27,British Indians,SO15 5FL
2,34336,344791895,Leontine Konopelski,F,1987-03-18,Other White,SP2 8BJ
3,61045,799690897,Roxanne Nitzsche,F,1964-11-25,Black British people,SO15 5FL
4,14716,282551991,Anabelle Thompson,F,1957-10-02,White British,SO01 7JH
...,...,...,...,...,...,...,...
1995,98552,289715999,Lalla Wolff,F,1987-08-21,White British,WE1 7YG
1996,31808,484477826,Fate Oberbrunner,F,1917-01-23,British Indians,LO12 8HG
1997,17860,181305759,Ashton Maggio,F,1979-12-21,White British,SP3 8BJ
1998,31487,650943056,Tracie Bechtelar,F,1938-04-12,White British,SO15 10FL
1999,2735,247829712,Hope Hudson,M,1984-11-21,White British,SP01 10MA

In [11]:
# To save this as CSV

#patients_admitted.to_csv('./patient_data_df.csv')

## covid_19_admission_df

In [12]:
# Populating COVID-19 admission dataframe

# Empty df
covid_19_admission_df = pd.DataFrame(columns=['Patient_admitted_id', 'Date', 'Hospital_ID' ])


# Admission of COVID patients in three hospitals of the same TRUST for one month period

# Populate the Pt_admited_id with the ID of people from patients_admitted
# This table contain the 5% of the patients found in the patient_data_df
patients_admitted_length = int(len(patients_admitted)*0.05)
ID = patients_admitted['ID'].tolist() # ID to list to select the 5% of the values of the ID column
ID2df = (random.choices(ID, k=patients_admitted_length))
covid_19_admission_df['Patient_admitted_id'] = ID2df

#Date from 1 January 2021 to 31 January 2021
covid_19_admission_df['Date'] = random_dates(start=pd.to_datetime('2021-01-01'), 
                                             end=pd.to_datetime('2021-01-31'), size=patients_admitted_length)



# So far, each hospital will get ramdon number of patients

The_hospitals_list = [214321,224323,3234234]
covid_19_admission_df['Hospital_ID'] = np.random.choice(list(The_hospitals_list), len(covid_19_admission_df))

covid_19_admission_df

    Patient_admitted_id       Date  Hospital_ID
0                 68469 2021-01-19       224323
1                 77475 2021-01-12      3234234
2                 42524 2021-01-30       214321
3                   700 2021-01-26       224323
4                 84468 2021-01-03       224323
..                  ...        ...          ...
95                42747 2021-01-06      3234234
96                56492 2021-01-18      3234234
97                96181 2021-01-01       214321
98                99994 2021-01-06      3234234
99                 3279 2021-01-05       214321

[100 rows x 3 columns]

In [13]:
# To save this as CSV
#covid_19_admission_df.to_csv('./covid_19_admission_df.csv')

## covid_19_death_df

Similar that covid_19_admission_df in which a small proportion of the admitted patients died a few days after admission.

In [14]:

# Crete a dict with ID number and date of admission
id2date_admission = pd.Series(covid_19_admission_df.Date.values,covid_19_admission_df.Patient_admitted_id.values).to_dict()

# Select the 5% of the total number of items  covid_19_admission_df
covid_19_admission_length = int(len(covid_19_admission_df)*0.05)

# Convert these items in a list
#entry_list = list(id2date_admission.items())

#Take the 5% of total number of items 
random_entry = random.sample(list(id2date_admission.items()), k=covid_19_admission_length)

# Populate a new df with the patients who are going to die and their date of admission
covid_19_death_df = DataFrame (random_entry,columns=['Patient_admitted_id','Date_admission'])

# Now, we suppose they will die a few random days later, between the 3rd and the 20th day after admission for example.
covid_19_death_df["Death_dates"] = covid_19_death_df["Date_admission"] + timedelta(days=random.randint(3, 20))

# we need the hospital where they were admitted and they died
covid_19_death_df = covid_19_admission_df.merge(covid_19_death_df, on="Patient_admitted_id")

# Some deletion of the columns I dont need
covid_19_death_df = covid_19_death_df.drop(['Date',  'Date_admission'], axis = 1)

# I dont need the date_admission column
#
covid_19_death_df

   Patient_admitted_id  Hospital_ID Death_dates
0                 1232       224323  2021-01-31
1                57517      3234234  2021-02-07
2                 6056      3234234  2021-02-08
3                26508       214321  2021-01-22
4                12999      3234234  2021-02-05

## Hospital_features_df
Some characteristics of the hospitals of this fake database

In [15]:

data = {'Hospital_ID': [214321,224323,3234234],
        'Hospital_name':  ['Chris Martin Hospital', 'Alfred Hitchcock Hospital','Robin Hood Hospital'],
        'Hospital_location': ['SO15 5FL', 'BE01 5SA','LO12 8HG'],
        'Number_of_beds' : [100,200,150],
        'Number_of_staff' : [300,600,400],
        'Number_of_ITU_Beds' : [10,20,15]
        
        }
Hospital_features_df = pd.DataFrame(data, columns=['Hospital_ID','Hospital_name', 'Hospital_location', 
                                                   'Number_of_beds','Number_of_staff', 'Number_of_ITU_Beds' ])
Hospital_features_df

,Hospital_ID,Hospital_name,Hospital_location,Number_of_beds,Number_of_staff,Number_of_ITU_Beds
0,214321,Chris Martin Hospital,SO15 5FL,100,300,10
1,224323,Alfred Hitchcock Hospital,BE01 5SA,200,600,20
2,3234234,Robin Hood Hospital,LO12 8HG,150,400,15

In [16]:
#Hospital_features_df.to_csv('./Hospital_features_df.csv')

## Once all tables have been done, we can continue creating of the database.

In [17]:
# Create a database connection and cursor to execute queries.
conn = sqlite3.connect('./fake_db.sqlite')
c = conn.cursor()

In [18]:
### Load CSV file into sqlite table

#   1. patient_data_df

c.execute('''DROP TABLE IF EXISTS patient_data''')
c.execute(''' CREATE TABLE patient_data (ID, NHS_Number,Full_Name,Gender, Birthdate, Ethnicity, Postcode)''')
patients_admitted.to_sql('patient_data', conn, if_exists='append', index = False)
c.execute('''SELECT * FROM patient_data''').fetchall()

[(80076,
  477821126,
  'Drew Grady',
  'F',
  '1942-06-26 00:00:00',
  'White British',
  'SO15 10FL'),
 (97222,
  822880200,
  'Gwyn Kuphal',
  'F',
  '1907-10-27 00:00:00',
  'British Indians',
  'SO15 5FL'),
 (34336,
  344791895,
  'Leontine Konopelski',
  'F',
  '1987-03-18 00:00:00',
  'Other White',
  'SP2 8BJ'),
 (61045,
  799690897,
  'Roxanne Nitzsche',
  'F',
  '1964-11-25 00:00:00',
  'Black British people',
  'SO15 5FL'),
 (14716,
  282551991,
  'Anabelle Thompson',
  'F',
  '1957-10-02 00:00:00',
  'White British',
  'SO01 7JH'),
 (16040,
  610582604,
  'Ruffin Johnston',
  'F',
  '1951-09-15 00:00:00',
  'White British',
  'WE1 7YG'),
 (73926,
  622631094,
  'Jackie Raynor',
  'F',
  '1918-01-05 00:00:00',
  'White British',
  'BE01 5SA'),
 (37176,
  483913232,
  'Cher Hermann',
  'M',
  '1979-09-10 00:00:00',
  'White British',
  'SP2 8BJ'),
 (5610,
  326495586,
  'Wess Wintheiser',
  'M',
  '1945-07-31 00:00:00',
  'Other White',
  'SO15 10FL'),
 (79638,
  164650307,
  'Emery Hyatt',
  'F',
  '2007-02-24 00:00:00',
  'Other White',
  'SO01 7JH'),
 (80996,
  965912679,
  'Jones Stehr',
  'F',
  '1979-06-17 00:00:00',
  'Other White',
  'SP2 8BJ'),
 (68960,
  511386597,
  'Gilbert Hilpert',
  'F',
  '1905-10-11 00:00:00',
  'British Indians',
  'BE01 5SA'),
 (56136,
  155411393,
  'Yael Beier',
  'M',
  '1968-09-12 00:00:00',
  'Other White',
  'SP01 10MA'),
 (73425,
  315226929,
  'Effie Hirthe',
  'F',
  '1907-04-27 00:00:00',
  'White British',
  'LO12 8HG'),
 (51795,
  492172401,
  'Dillion Renner',
  'M',
  '1961-11-11 00:00:00',
  'White British',
  'SO15 5FL'),
 (1712,
  325780072,
  'Miguelangel VonRueden',
  'M',
  '1920-08-06 00:00:00',
  'British Indians',
  'LO12 8HG'),
 (38326,
  995968321,
  'Anwar Krajcik',
  'M',
  '1921-03-03 00:00:00',
  'Other White',
  'SP01 10MA'),
 (31678,
  458776899,
  'Ronal Predovic',
  'M',
  '1959-02-25 00:00:00',
  'British Indians',
  'SP01 10MA'),
 (11925,
  837074101,
  'Owens Robel',
  'F',
  '1993-11-11 00:00:00',
  'White British',
  'SO15 5FL'),
 (78113,
  142220008,
  'Erin Kuphal',
  'F',
  '1907-05-20 00:00:00',
  'British Indians',
  'SP01 10MA'),
 (121,
  810688202,
  'Elta Senger',
  'M',
  '1921-01-28 00:00:00',
  'White British',
  'SP3 8BJ'),
 (23831,
  662507530,
  'Sam Stokes',
  'M',
  '1903-07-16 00:00:00',
  'Other White',
  'SP3 8BJ'),
 (56129,
  551406206,
  'Irva Brown',
  'M',
  '1972-06-29 00:00:00',
  'Other White',
  'LO12 8HG'),
 (43449,
  953486747,
  'Antonetta Kozey',
  'M',
  '1959-12-29 00:00:00',
  'White Gypsy or Irish Traveller',
  'SO15 5FL'),
 (67879,
  396382649,
  'Evangeline Toy',
  'M',
  '1926-12-07 00:00:00',
  'White British',
  'SO01 7JH'),
 (7630,
  780445378,
  'Tilda Anderson',
  'M',
  '1931-10-31 00:00:00',
  'Other White',
  'WE1 7YG'),
 (40580,
  616570462,
  'Alyvia Pouros',
  'F',
  '1963-05-05 00:00:00',
  'Other White',
  'SP2 8BJ'),
 (42070,
  902152612,
  'Che Boyle',
  'M',
  '2003-07-26 00:00:00',
  'Other White',
  'CB19 5US'),
 (80574,
  115174370,
  'Juwan Hauck',
  'F',
  '1911-10-18 00:00:00',
  'White British',
  'SP3 8BJ'),
 (28313,
  945473257,
  'Kennedy Kassulke',
  'F',
  '1969-07-08 00:00:00',
  'Other White',
  'LO12 8HG'),
 (31752,
  402622657,
  'Beaulah Schultz',
  'F',
  '2000-09-10 00:00:00',
  'Other White',
  'LO12 8HG'),
 (19718,
  640216696,
  'Linette Harber',
  'M',
  '1926-01-27 00:00:00',
  'White British',
  'LO12 8HG'),
 (8501,
  425628800,
  'Les Huel',
  'F',
  '1919-01-02 00:00:00',
  'White British',
  'SP01 10MA'),
 (77412,
  949821335,
  'Adolph Aufderhar',
  'M',
  '1963-12-28 00:00:00',
  'Other White',
  'BE01 5SA'),
 (20126,
  157178514,
  'Deshawn Ondricka',
  'F',
  '1911-11-12 00:00:00',
  'Other White',
  'BE01 5SA'),
 (61197,
  894629394,
  'Mohamed Dach',
  'M',
  '1962-11-18 00:00:00',
  'White British',
  'LO12 8HG'),
 (98944,
  602329672,
  'Ammon Heaney',
  'F',
  '1935-10-16 00:00:00',
  'White British',
  'SO15 5FL'),
 (17418,
  713624357,
  'Chas Purdy',
  'F',
  '1971-08-29 00:00:00',
  'Other White',
  'SP2 8BJ'),
 (79261,
  937865399,
  'Rodger Volkman',
  'M',
  '1975-12-08 00:00:00',
  'Other White',
  'BE01 5SA'),
 (29224,
  870898686,
  'Rusty Haag',
  'F',
  '1998-08-10 00:00:00',
  'White British',
  'WE1 7YG'),
 (87310,
  369995706,
  'Elbert Anderson',
  'F',
  '1922-08-28 00:00:00',
  'White British',
  'SP3 8BJ'),
 (97673,
  239226143,
  'Haylee Farrell',
  'F',
  '2002-02-25 00:00:00',
  'Other White',
  'CB19 5US'),
 (8679,
  578834300,
  'Felton Shanahan',
  'M',
  '1935-12-08 00:00:00',
  'Other White',
  'SP3 8BJ'),
 (57936,
  808261967,
  'Shane Jast',
  'M',
  '1939-01-03 00:00:00',
  'White British',
  'SP3 8BJ'),
 (13105,
  586217578,
  'Mustafa Kohler',
  'F',
  '1956-02-27 00:00:00',
  'Other White',
  'SO01 7JH'),
 (70251,
  327051402,
  'Tristan Grady',
  'M',
  '2000-12-01 00:00:00',
  'White British',
  'SO15 10FL'),
 (28502,
  654104116,
  "Leon O'Reilly",
  'M',
  '1967-03-07 00:00:00',
  'White British',
  'SO15 5FL'),
 (5560,
  113338181,
  'Lashawn Deckow',
  'F',
  '2000-07-08 00:00:00',
  'White British',
  'SO01 7JH'),
 (1366,
  677114982,
  'Brandi Leannon',
  'M',
  '1974-03-26 00:00:00',
  'White British',
  'SO01 7JH'),
 (69421,
  847266665,
  'Newman Ward',
  'M',
  '1936-01-07 00:00:00',
  'Other White',
  'BE01 5SA'),
 (59457,
  432178831,
  'Hamza Koepp',
  'M',
  '1993-10-07 00:00:00',
  'Other White',
  'SO15 10FL'),
 (6340,
  798487841,
  'Reubin Kuhn',
  'F',
  '1902-02-01 00:00:00',
  'Other White',
  'SO15 10FL'),
 (58638,
  439948283,
  'Milda Runolfsson',
  'M',
  '1957-10-26 00:00:00',
  'Other White',
  'CB19 5US'),
 (57846,
  439964394,
  'Lee Kemmer',
  'F',
  '1938-10-24 00:00:00',
  'White British',
  'SO01 7JH'),
 (43541,
  411221363,
  'Netta Reichel',
  'F',
  '1994-04-07 00:00:00',
  'Other White',
  'BE01 5SA'),
 (11405,
  446643468,
  'Captain Lakin',
  'M',
  '1945-08-10 00:00:00',
  'Other White',
  'CB19 5US'),
 (49614,
  406988750,
  'Lyle Ruecker',
  'M',
  '1903-07-29 00:00:00',
  'White British',
  'SO15 5FL'),
 (63414,
  186184641,
  'Nolia Rempel',
  'F',
  '1906-01-05 00:00:00',
  'Black British people',
  'BE01 5SA'),
 (62117,
  293153024,
  'Wood Purdy',
  'M',
  '1998-06-23 00:00:00',
  'Other White',
  'SO15 10FL'),
 (13472,
  532474423,
  'Gerardo Schroeder',
  'F',
  '1948-04-27 00:00:00',
  'White British',
  'SP01 10MA'),
 (22752,
  549221831,
  'Manervia Cormier',
  'F',
  '1904-03-02 00:00:00',
  'White British',
  'LO12 8HG'),
 (4408,
  113077529,
  'Carroll Runolfsdottir',
  'F',
  '1923-02-12 00:00:00',
  'White British',
  'SO15 10FL'),
 (1141,
  438521941,
  'Lemuel Vandervort',
  'M',
  '1910-05-14 00:00:00',
  'White British',
  'SP3 8BJ'),
 (15220,
  263231794,
  'Sharman Beier',
  'M',
  '1953-04-09 00:00:00',
  'White British',
  'SO15 10FL'),
 (95840,
  183123196,
  'Gavyn Miller',
  'M',
  '1991-03-30 00:00:00',
  'Other White',
  'SO01 7JH'),
 (88838,
  247002336,
  'Susie Heathcote',
  'M',
  '1905-10-10 00:00:00',
  'British Indians',
  'SO15 5FL'),
 (93326,
  592599902,
  'Amina Gutkowski',
  'M',
  '1992-05-11 00:00:00',
  'White British',
  'WE1 7YG'),
 (54216,
  466693903,
  'Aline Pollich',
  'F',
  '1932-01-25 00:00:00',
  'Other White',
  'SO15 10FL'),
 (66854,
  890537014,
  'Bruno Greenfelder',
  'M',
  '1938-10-10 00:00:00',
  'White British',
  'SO15 10FL'),
 (80969,
  408227812,
  'Nichol Herzog',
  'M',
  '1963-08-13 00:00:00',
  'White British',
  'CB19 5US'),
 (21894,
  281502527,
  'Marjory Nolan',
  'M',
  '1916-09-12 00:00:00',
  'Black British people',
  'SP2 8BJ'),
 (3509,
  422455216,
  'Nohely Paucek',
  'M',
  '1925-02-12 00:00:00',
  'White British',
  'SP2 8BJ'),
 (1232,
  449829456,
  'Wende Kohler',
  'M',
  '1998-06-21 00:00:00',
  'Other White',
  'CB19 5US'),
 (80597,
  194031117,
  'Robbin Reinger',
  'M',
  '1901-07-04 00:00:00',
  'White British',
  'SO15 5FL'),
 (44355,
  353432520,
  'Lossie Marvin',
  'F',
  '1965-11-20 00:00:00',
  'British Indians',
  'SO15 5FL'),
 (15798,
  304324966,
  'Palma Goyette',
  'M',
  '1905-10-04 00:00:00',
  'Other White',
  'BE01 5SA'),
 (33684,
  241378647,
  'Dori Gottlieb',
  'F',
  '1943-03-27 00:00:00',
  'White British',
  'SO01 7JH'),
 (95717,
  971458303,
  'Donnie Davis',
  'M',
  '1932-02-11 00:00:00',
  'White British',
  'SP3 8BJ'),
 (45607,
  276865898,
  'Kenney Labadie',
  'F',
  '1957-06-26 00:00:00',
  'Other White',
  'SO15 5FL'),
 (43129,
  289858627,
  'Dessie Bailey',
  'M',
  '1993-04-21 00:00:00',
  'Other White',
  'SP2 8BJ'),
 (99427,
  381072731,
  'Kaya Macejkovic',
  'M',
  '1903-01-14 00:00:00',
  'British Indians',
  'LO12 8HG'),
 (18924,
  511702636,
  'Dorene West',
  'M',
  '1998-04-08 00:00:00',
  'White British',
  'WE1 7YG'),
 (75823,
  820029905,
  'Shana Abbott',
  'F',
  '1901-03-01 00:00:00',
  'Other White',
  'SO01 7JH'),
 (47564,
  656938287,
  'Trula Bruen',
  'M',
  '1908-04-26 00:00:00',
  'Black British people',
  'SP2 8BJ'),
 (87588,
  275916400,
  'Moises Wuckert',
  'F',
  '1927-06-04 00:00:00',
  'White British',
  'SO15 5FL'),
 (26214,
  580940317,
  'Jairo Altenwerth',
  'M',
  '1922-12-19 00:00:00',
  'Black British people',
  'LO12 8HG'),
 (51208,
  404024028,
  'Jovanny Corwin',
  'M',
  '1966-05-08 00:00:00',
  'Other White',
  'LO12 8HG'),
 (49597,
  624424719,
  'Katelyn Zboncak',
  'M',
  '1948-03-17 00:00:00',
  'British Indians',
  'SP01 10MA'),
 (27290,
  612893735,
  'Mikaila Hackett',
  'M',
  '1988-04-08 00:00:00',
  'White British',
  'SO15 10FL'),
 (924,
  689384172,
  'Kati Hartmann',
  'M',
  '1958-09-28 00:00:00',
  'British Indians',
  'SO15 5FL'),
 (92437,
  593682579,
  'Camryn McClure',
  'M',
  '1963-09-09 00:00:00',
  'White British',
  'SO15 10FL'),
 (91819,
  860493106,
  'Shirlene Rolfson',
  'M',
  '1927-06-09 00:00:00',
  'White British',
  'LO12 8HG'),
 (58112,
  535544208,
  'Jesse Erdman',
  'F',
  '1916-10-19 00:00:00',
  'White British',
  'SP3 8BJ'),
 (77760,
  237959939,
  'Arlo Hoppe',
  'M',
  '1982-08-09 00:00:00',
  'White British',
  'CB19 5US'),
 (80988,
  955313159,
  'Gilmer Medhurst',
  'F',
  '2004-03-23 00:00:00',
  'Other White',
  'LO12 8HG'),
 (82187,
  111740992,
  'Beaulah Goyette',
  'M',
  '1980-09-19 00:00:00',
  'Other White',
  'CB19 5US'),
 (86334,
  938747185,
  'Tana Glover',
  'F',
  '1985-05-12 00:00:00',
  'White British',
  'WE1 7YG'),
 (88267,
  445536986,
  'Jenna Roob',
  'F',
  '1978-03-05 00:00:00',
  'White British',
  'CB19 5US'),
 (3279,
  678472442,
  'Mettie Klocko',
  'M',
  '1901-06-30 00:00:00',
  'Other White',
  'SP3 8BJ'),
 (44384,
  307229847,
  'Louie McCullough',
  'F',
  '1969-05-18 00:00:00',
  'White British',
  'WE1 7YG'),
 (17758,
  212449040,
  'Esco Torp',
  'F',
  '2006-11-09 00:00:00',
  'White British',
  'WE1 7YG'),
 (45004,
  386367717,
  'Ocie Veum',
  'M',
  '1957-03-04 00:00:00',
  'White British',
  'SO15 10FL'),
 (84978,
  276010405,
  'Frieda Cole',
  'M',
  '1930-10-20 00:00:00',
  'White British',
  'SO15 5FL'),
 (22075,
  799932690,
  'Caddie Shanahan',
  'F',
  '1953-01-15 00:00:00',
  'White British',
  'SP3 8BJ'),
 (45775,
  380126073,
  'Sibyl Kuhn',
  'M',
  '1937-09-07 00:00:00',
  'Other White',
  'CB19 5US'),
 (192,
  742349850,
  'Maryanne Jaskolski',
  'F',
  '1913-01-25 00:00:00',
  'Other White',
  'CB19 5US'),
 (27540,
  862494452,
  'Latonya Gleason',
  'F',
  '1992-03-25 00:00:00',
  'White British',
  'LO12 8HG'),
 (97883,
  737713639,
  'Shan Barrows',
  'F',
  '1949-06-26 00:00:00',
  'British Indians',
  'SO15 5FL'),
 (94347,
  142480732,
  'Kourtney Renner',
  'M',
  '1970-02-11 00:00:00',
  'White British',
  'SP01 10MA'),
 (47830,
  370932663,
  'Dottie Weissnat',
  'F',
  '1959-02-03 00:00:00',
  'White British',
  'BE01 5SA'),
 (20907,
  401415581,
  'Little Wilkinson',
  'M',
  '1997-09-11 00:00:00',
  'Black British people',
  'SO01 7JH'),
 (92053,
  602237751,
  'Lovina Leannon',
  'F',
  '1941-05-02 00:00:00',
  'Other White',
  'SO01 7JH'),
 (44177,
  553545813,
  'Pleasant Dare',
  'M',
  '1992-06-08 00:00:00',
  'White British',
  'SO15 10FL'),
 (58019,
  994301571,
  'Felipe McClure',
  'M',
  '1917-07-24 00:00:00',
  'White British',
  'WE1 7YG'),
 (49194,
  128088634,
  'Anne Zieme',
  'M',
  '1915-07-22 00:00:00',
  'Black British people',
  'CB19 5US'),
 (22555,
  237899037,
  'Billie Conn',
  'M',
  '1978-02-17 00:00:00',
  'White British',
  'SP2 8BJ'),
 (95115,
  134756617,
  'Alois Hoeger',
  'F',
  '1944-04-08 00:00:00',
  'Black British people',
  'SO15 10FL'),
 (33181,
  186898714,
  'Simone Mueller',
  'M',
  '1933-03-12 00:00:00',
  'White British',
  'SP3 8BJ'),
 (67909,
  700304481,
  'Orin King',
  'M',
  '1981-12-10 00:00:00',
  'Other White',
  'SO15 10FL'),
 (6714,
  622171684,
  'Darryll Murphy',
  'F',
  '1936-05-01 00:00:00',
  'Other White',
  'SP01 10MA'),
 (29015,
  195616714,
  'Ruie Hahn',
  'F',
  '2000-08-22 00:00:00',
  'Other White',
  'CB19 5US'),
 (43616,
  340120057,
  'Metro Fritsch',
  'F',
  '1971-02-21 00:00:00',
  'White British',
  'CB19 5US'),
 (13307,
  200855674,
  'Kandice Beier',
  'M',
  '1978-12-28 00:00:00',
  'Other White',
  'SO01 7JH'),
 (62550,
  798760340,
  'Abb Collins',
  'M',
  '1910-06-13 00:00:00',
  'White British',
  'SP2 8BJ'),
 (91620,
  196528339,
  'Alfonso Keeling',
  'F',
  '1975-05-03 00:00:00',
  'Black British people',
  'SP2 8BJ'),
 (87043,
  847549995,
  'Fidel Harris',
  'F',
  '1966-08-30 00:00:00',
  'White British',
  'SO15 5FL'),
 (53077,
  280302784,
  'Abel Schaden',
  'M',
  '1965-08-30 00:00:00',
  'Other White',
  'SP2 8BJ'),
 (13557,
  593799199,
  'Brylee Vandervort',
  'M',
  '1928-12-20 00:00:00',
  'White British',
  'SO15 5FL'),
 (81743,
  318018422,
  'Alexis Herzog',
  'F',
  '1908-08-30 00:00:00',
  'White British',
  'WE1 7YG'),
 (41541,
  859676747,
  'Solomon Dickens',
  'F',
  '1900-12-02 00:00:00',
  'Other White',
  'BE01 5SA'),
 (48803,
  639250900,
  'Mateo Dach',
  'F',
  '1925-07-07 00:00:00',
  'White British',
  'BE01 5SA'),
 (62734,
  697494111,
  'Ilona Eichmann',
  'F',
  '2002-08-07 00:00:00',
  'Other White',
  'SP01 10MA'),
 (23260,
  925939991,
  'Kizzy Hirthe',
  'F',
  '1921-02-22 00:00:00',
  'White British',
  'BE01 5SA'),
 (12344,
  100306892,
  'Brooklynn Ferry',
  'M',
  '1994-04-24 00:00:00',
  'White British',
  'WE1 7YG'),
 (71161,
  673945688,
  'Jann Herzog',
  'F',
  '1928-09-09 00:00:00',
  'Black British people',
  'WE1 7YG'),
 (73838,
  235799306,
  'Mame Schaefer',
  'F',
  '1968-04-12 00:00:00',
  'Other White',
  'SO15 10FL'),
 (79420,
  796903612,
  'Masako Jones',
  'F',
  '1989-01-18 00:00:00',
  'Other White',
  'SO15 5FL'),
 (81427,
  200885316,
  'Vander Gaylord',
  'F',
  '1916-02-18 00:00:00',
  'White British',
  'WE1 7YG'),
 (56335,
  957043523,
  'Vernie Lowe',
  'M',
  '1970-06-10 00:00:00',
  'Other White',
  'SO15 5FL'),
 (84017,
  637580313,
  'Nelie Bode',
  'M',
  '1933-12-12 00:00:00',
  'White British',
  'SO15 5FL'),
 (6741,
  311700621,
  'Anika Altenwerth',
  'M',
  '1981-11-14 00:00:00',
  'White British',
  'SO15 10FL'),
 (66666,
  472405523,
  'Hays Lakin',
  'M',
  '1997-03-22 00:00:00',
  'White British',
  'WE1 7YG'),
 (90619,
  635986652,
  'Rosamond Schmidt',
  'F',
  '1907-12-27 00:00:00',
  'Other White',
  'CB19 5US'),
 (69957,
  709464875,
  'Janey Renner',
  'M',
  '1915-10-23 00:00:00',
  'White British',
  'SO01 7JH'),
 (47254,
  569496158,
  'Jalyn Wolf',
  'M',
  '1988-04-15 00:00:00',
  'White British',
  'CB19 5US'),
 (30013,
  643923874,
  'Kenton Feeney',
  'M',
  '1957-12-29 00:00:00',
  'Other White',
  'CB19 5US'),
 (70920,
  171746574,
  'Maximo Marks',
  'M',
  '1920-11-19 00:00:00',
  'Black British people',
  'LO12 8HG'),
 (37943,
  710315718,
  'Aliza Reilly',
  'F',
  '1903-10-26 00:00:00',
  'Other White',
  'SP01 10MA'),
 (80069,
  945777568,
  'Abbie Boehm',
  'M',
  '1906-01-11 00:00:00',
  'Black British people',
  'SP2 8BJ'),
 (3998,
  347026030,
  'Onnie Lind',
  'M',
  '1937-05-28 00:00:00',
  'Other White',
  'LO12 8HG'),
 (36320,
  170934027,
  'Conard Bosco',
  'M',
  '1956-10-16 00:00:00',
  'White British',
  'WE1 7YG'),
 (1454,
  632844004,
  'Hollis Moen',
  'F',
  '1994-10-20 00:00:00',
  'British Indians',
  'SO15 5FL'),
 (92911,
  188351213,
  'Shana Keebler',
  'M',
  '1996-05-01 00:00:00',
  'Other White',
  'SO15 5FL'),
 (75400,
  129490386,
  'Misael Johnston',
  'M',
  '1937-11-08 00:00:00',
  'White British',
  'SP2 8BJ'),
 (79950,
  409833674,
  'Wiley Grant',
  'F',
  '2000-06-12 00:00:00',
  'White British',
  'SO15 5FL'),
 (99242,
  431979926,
  'Pearline Marquardt',
  'M',
  '1939-05-27 00:00:00',
  'British Indians',
  'BE01 5SA'),
 (62572,
  888114560,
  'Sibyl Ryan',
  'F',
  '1954-04-10 00:00:00',
  'White British',
  'SO01 7JH'),
 (46186,
  852230589,
  'Eleonora Doyle',
  'F',
  '1963-10-18 00:00:00',
  'Other White',
  'SP01 10MA'),
 (89087,
  696093203,
  'Michal Roob',
  'M',
  '2000-04-01 00:00:00',
  'White British',
  'SP2 8BJ'),
 (83265,
  577109568,
  'Christine Turcotte',
  'M',
  '1910-10-24 00:00:00',
  'Other White',
  'SO15 10FL'),
 (38257,
  684558124,
  'Carmelo Reilly',
  'F',
  '1963-04-10 00:00:00',
  'White British',
  'SO15 5FL'),
 (17762,
  532453353,
  'Roy Schmidt',
  'F',
  '1918-10-29 00:00:00',
  'Other White',
  'BE01 5SA'),
 (90229,
  662752172,
  'Nelie Hammes',
  'M',
  '1978-03-25 00:00:00',
  'Black British people',
  'LO12 8HG'),
 (70613,
  320198499,
  'Natalya Parker',
  'F',
  '1938-06-15 00:00:00',
  'Other White',
  'SO15 5FL'),
 (69131,
  586071379,
  'Maryann Mante',
  'F',
  '1952-02-10 00:00:00',
  'White British',
  'CB19 5US'),
 (588,
  660627624,
  "Kiyoshi O'Hara",
  'M',
  '1954-09-20 00:00:00',
  'White British',
  'SP2 8BJ'),
 (91329,
  640580032,
  'Demarco Feeney',
  'M',
  '1912-07-02 00:00:00',
  'British Indians',
  'SO01 7JH'),
 (53391,
  899231497,
  'Raymundo Pacocha',
  'M',
  '1911-11-07 00:00:00',
  'White British',
  'SO15 10FL'),
 (24800,
  729628749,
  'Palmer Mertz',
  'M',
  '1982-04-03 00:00:00',
  'White British',
  'SP2 8BJ'),
 (11262,
  954844518,
  'Ever Block',
  'M',
  '1994-06-07 00:00:00',
  'Other White',
  'SP01 10MA'),
 (10545,
  434686636,
  'Yasmin Purdy',
  'F',
  '1951-02-22 00:00:00',
  'British Indians',
  'BE01 5SA'),
 (44297,
  392100354,
  'Doyle Simonis',
  'M',
  '1991-07-19 00:00:00',
  'Other White',
  'SO15 10FL'),
 (90187,
  407567479,
  'Julie Krajcik',
  'F',
  '1978-10-16 00:00:00',
  'Other White',
  'LO12 8HG'),
 (66520,
  659435855,
  'Dortha Schaden',
  'F',
  '1975-09-19 00:00:00',
  'White British',
  'BE01 5SA'),
 (77675,
  459955264,
  'Chanda Schuppe',
  'F',
  '1978-01-15 00:00:00',
  'Other White',
  'SP3 8BJ'),
 (31741,
  544974668,
  'Ammon Okuneva',
  'F',
  '1923-01-20 00:00:00',
  'British Indians',
  'SO15 10FL'),
 (79024,
  610318105,
  'Olga McLaughlin',
  'F',
  '1940-03-29 00:00:00',
  'Other White',
  'SO01 7JH'),
 (63740,
  425202634,
  'Cortney Cassin',
  'F',
  '1993-08-27 00:00:00',
  'White British',
  'SP2 8BJ'),
 (18808,
  702930030,
  'Marcellus Towne',
  'F',
  '1948-11-18 00:00:00',
  'White British',
  'CB19 5US'),
 (6139,
  925405414,
  'Evertt Dickens',
  'F',
  '1936-06-21 00:00:00',
  'British Indians',
  'BE01 5SA'),
 (16367,
  987587821,
  'Kit White',
  'F',
  '1958-08-01 00:00:00',
  'White British',
  'SO01 7JH'),
 (94192,
  136693369,
  'Baylee Rempel',
  'M',
  '1931-10-01 00:00:00',
  'Black British people',
  'SP01 10MA'),
 (24437,
  631037687,
  'Jethro Romaguera',
  'F',
  '1901-03-03 00:00:00',
  'White British',
  'SP01 10MA'),
 (39298,
  635161590,
  'Merl Daniel',
  'M',
  '1987-06-27 00:00:00',
  'Other White',
  'BE01 5SA'),
 (96181,
  973997220,
  'Ragna Koelpin',
  'M',
  '1994-09-29 00:00:00',
  'White British',
  'LO12 8HG'),
 (42935,
  469317478,
  'Davion Bashirian',
  'M',
  '1974-07-17 00:00:00',
  'Other White',
  'LO12 8HG'),
 (73885,
  109579475,
  'Marie Miller',
  'M',
  '2001-12-08 00:00:00',
  'White British',

In [19]:
#   2. covid_19_admission_df

c.execute('''DROP TABLE IF EXISTS covid_19_admission''')
c.execute(''' CREATE TABLE covid_19_admission (Patient_admitted_id, Date, Hospital_ID)''')
covid_19_admission_df.to_sql('covid_19_admission', conn, if_exists='append', index = False)
c.execute('''SELECT * FROM covid_19_admission''').fetchall()

[(68469, '2021-01-19 00:00:00', 224323),
 (77475, '2021-01-12 00:00:00', 3234234),
 (42524, '2021-01-30 00:00:00', 214321),
 (700, '2021-01-26 00:00:00', 224323),
 (84468, '2021-01-03 00:00:00', 224323),
 (37847, '2021-01-28 00:00:00', 224323),
 (83005, '2021-01-21 00:00:00', 224323),
 (74160, '2021-01-18 00:00:00', 224323),
 (78333, '2021-01-11 00:00:00', 3234234),
 (27126, '2021-01-21 00:00:00', 214321),
 (79190, '2021-01-19 00:00:00', 3234234),
 (515, '2021-01-09 00:00:00', 3234234),
 (17509, '2021-01-04 00:00:00', 214321),
 (77760, '2021-01-27 00:00:00', 214321),
 (63264, '2021-01-01 00:00:00', 214321),
 (50143, '2021-01-17 00:00:00', 3234234),
 (28546, '2021-01-15 00:00:00', 3234234),
 (73277, '2021-01-11 00:00:00', 3234234),
 (87645, '2021-01-06 00:00:00', 3234234),
 (73277, '2021-01-18 00:00:00', 3234234),
 (86096, '2021-01-21 00:00:00', 224323),
 (52827, '2021-01-04 00:00:00', 224323),
 (72156, '2021-01-23 00:00:00', 214321),
 (97294, '2021-01-10 00:00:00', 3234234),
 (81562, '2021-01-19 00:00:00', 3234234),
 (88144, '2021-01-20 00:00:00', 3234234),
 (65065, '2021-01-13 00:00:00', 224323),
 (87043, '2021-01-06 00:00:00', 214321),
 (76016, '2021-01-14 00:00:00', 3234234),
 (28155, '2021-01-10 00:00:00', 3234234),
 (23140, '2021-01-21 00:00:00', 3234234),
 (92918, '2021-01-25 00:00:00', 214321),
 (96181, '2021-01-01 00:00:00', 214321),
 (32837, '2021-01-20 00:00:00', 224323),
 (48470, '2021-01-30 00:00:00', 224323),
 (80969, '2021-01-15 00:00:00', 3234234),
 (76315, '2021-01-02 00:00:00', 214321),
 (15686, '2021-01-14 00:00:00', 3234234),
 (8814, '2021-01-04 00:00:00', 3234234),
 (2001, '2021-01-04 00:00:00', 224323),
 (63971, '2021-01-22 00:00:00', 214321),
 (18808, '2021-01-15 00:00:00', 224323),
 (55697, '2021-01-21 00:00:00', 224323),
 (62726, '2021-01-26 00:00:00', 224323),
 (30311, '2021-01-22 00:00:00', 214321),
 (90187, '2021-01-05 00:00:00', 224323),
 (45142, '2021-01-25 00:00:00', 224323),
 (44236, '2021-01-18 00:00:00', 214321),
 (18701, '2021-01-29 00:00:00', 214321),
 (79680, '2021-01-13 00:00:00', 214321),
 (34944, '2021-01-26 00:00:00', 224323),
 (50765, '2021-01-18 00:00:00', 3234234),
 (30767, '2021-01-11 00:00:00', 214321),
 (88297, '2021-01-08 00:00:00', 3234234),
 (48471, '2021-01-14 00:00:00', 3234234),
 (72588, '2021-01-26 00:00:00', 3234234),
 (34367, '2021-01-27 00:00:00', 224323),
 (70411, '2021-01-12 00:00:00', 214321),
 (9397, '2021-01-04 00:00:00', 3234234),
 (63195, '2021-01-22 00:00:00', 214321),
 (1232, '2021-01-16 00:00:00', 224323),
 (29933, '2021-01-26 00:00:00', 224323),
 (3507, '2021-01-05 00:00:00', 214321),
 (34306, '2021-01-02 00:00:00', 214321),
 (4782, '2021-01-13 00:00:00', 224323),
 (88144, '2021-01-28 00:00:00', 214321),
 (57517, '2021-01-23 00:00:00', 3234234),
 (87844, '2021-01-30 00:00:00', 224323),
 (31741, '2021-01-14 00:00:00', 224323),
 (6056, '2021-01-24 00:00:00', 3234234),
 (4342, '2021-01-22 00:00:00', 3234234),
 (82753, '2021-01-28 00:00:00', 224323),
 (371, '2021-01-25 00:00:00', 3234234),
 (25734, '2021-01-06 00:00:00', 3234234),
 (9261, '2021-01-14 00:00:00', 3234234),
 (7630, '2021-01-11 00:00:00', 224323),
 (6139, '2021-01-29 00:00:00', 214321),
 (98180, '2021-01-07 00:00:00', 3234234),
 (79615, '2021-01-16 00:00:00', 224323),
 (23183, '2021-01-04 00:00:00', 224323),
 (26508, '2021-01-07 00:00:00', 214321),
 (54160, '2021-01-20 00:00:00', 224323),
 (34944, '2021-01-26 00:00:00', 224323),
 (58679, '2021-01-15 00:00:00', 214321),
 (92154, '2021-01-08 00:00:00', 3234234),
 (12999, '2021-01-21 00:00:00', 3234234),
 (18431, '2021-01-08 00:00:00', 3234234),
 (23017, '2021-01-10 00:00:00', 224323),
 (99058, '2021-01-10 00:00:00', 214321),
 (94046, '2021-01-21 00:00:00', 3234234),
 (92486, '2021-01-03 00:00:00', 224323),
 (31487, '2021-01-04 00:00:00', 214321),
 (69969, '2021-01-27 00:00:00', 224323),
 (834, '2021-01-24 00:00:00', 224323),
 (98180, '2021-01-19 00:00:00', 214321),
 (42747, '2021-01-06 00:00:00', 3234234),
 (56492, '2021-01-18 00:00:00', 3234234),
 (96181, '2021-01-01 00:00:00', 214321),
 (99994, '2021-01-06 00:00:00', 3234234),
 (3279, '2021-01-05 00:00:00', 214321)]

In [20]:
#   3. covid_19_death_df

c.execute('''DROP TABLE IF EXISTS covid_19_death''')
c.execute(''' CREATE TABLE covid_19_death (Patient_admitted_id, Hospital_ID, Death_dates)''')
covid_19_death_df.to_sql('covid_19_death', conn, if_exists='append', index = False)
c.execute('''SELECT * FROM covid_19_death''').fetchall()

[(1232, 224323, '2021-01-31 00:00:00'),
 (57517, 3234234, '2021-02-07 00:00:00'),
 (6056, 3234234, '2021-02-08 00:00:00'),
 (26508, 214321, '2021-01-22 00:00:00'),
 (12999, 3234234, '2021-02-05 00:00:00')]

In [21]:
#   4. Hospital_features_df

c.execute('''DROP TABLE IF EXISTS Hospital_features''')
c.execute(''' CREATE TABLE Hospital_features ( Hospital_ID, Hospital_name, Hospital_location, Number_of_beds, Number_of_staff, Number_of_ITU_Beds)''')
Hospital_features_df.to_sql('Hospital_features', conn, if_exists='append', index = False)
c.execute('''SELECT * FROM Hospital_features''').fetchall()

[(214321, 'Chris Martin Hospital', 'SO15 5FL', 100, 300, 10),
 (224323, 'Alfred Hitchcock Hospital', 'BE01 5SA', 200, 600, 20),
 (3234234, 'Robin Hood Hospital', 'LO12 8HG', 150, 400, 15)]

## Database created. Now we can manipulate this data. Let's start doing some quieries

In [25]:
# The most basic thing is to select and show one of the tables of the database
c.execute("SELECT * FROM Hospital_features;").fetchall()

[(214321, 'Chris Martin Hospital', 'SO15 5FL', 100, 300, 10),
 (224323, 'Alfred Hitchcock Hospital', 'BE01 5SA', 200, 600, 20),
 (3234234, 'Robin Hood Hospital', 'LO12 8HG', 150, 400, 15)]

In [26]:
# Now, select one column from a particular table
c.execute("SELECT Patient_admitted_id FROM covid_19_death;").fetchall()

[(1232,), (57517,), (6056,), (26508,), (12999,)]

In [27]:
# Let's see what error I get if I select a column that doesnt exist in a table
c.execute("SELECT Patient_admitted_id FROM Hospital_features;").fetchall()

OperationalError: no such column: Patient_admitted_id

In [28]:
# Can I select more than one column?
c.execute("SELECT Patient_admitted_id,Hospital_ID FROM covid_19_death;").fetchall()

[(1232, 224323),
 (57517, 3234234),
 (6056, 3234234),
 (26508, 214321),
 (12999, 3234234)]

In [30]:
# Could I insert a new patient in the patient_data table??
# Let's first count how many patient I have before and after insert a new patient

c.execute("SELECT COUNT(ID) from patient_data ;").fetchall()

[(2000,)]

In [31]:
c.execute("INSERT INTO  patient_data VALUES ('00001','000001', 'Manuel Dominguez','M','1990-04-07','Spanish', 'SO15 10FL');").fetchall()

[]

In [32]:
c.execute("SELECT COUNT(ID) from patient_data ;").fetchall()

[(2001,)]

In [39]:
# Can I update a value??
c.execute("UPDATE patient_data SET 'ID'= '88888' WHERE Full_Name = 'Manuel Dominguez';").fetchall()

[]

In [40]:
c.execute("select * FROM patient_data WHERE Full_name = 'Manuel Dominguez';").fetchall()

[('88888',
  '000001',
  'Manuel Dominguez',
  'M',
  '1990-04-07',
  'Spanish',
  'SO15 10FL')]

## Covid_19_Total_cases_df
This data frame collect the Covid-19 cases. This is like the one provided by the UK Goverment.

In a more real scenario, this data frame would collect data from many covid_19_admission_df from different Truts, hospital, etc.

In [ ]:
Covid_19_Total_cases_df = covid_19_admission_df.groupby('Date').size().to_frame('Cases').reset_index()
Covid_19_Total_cases_df['Cumulative'] = Covid_19_Total_cases_df['Cases'].cumsum()
Covid_19_Total_cases_df

## Covid_19_Total_deaths_df
As the previous one but now with deaths people

In [ ]:
Covid_19_Total_deaths_df = covid_19_death_df.groupby('Death_dates').size().to_frame('Cases').reset_index()
Covid_19_Total_deaths_df['Cumulative'] = Covid_19_Total_deaths_df['Cases'].cumsum()
Covid_19_Total_deaths_df

In [ ]:
#covid_19_admission_df['Hospital_name'] = random_Hospital_names(patients_admitted_length)

# To link same hospital names with same postcodes
#for idx, value in covid_19_admission_df.iloc[:,2].iteritems():
#    if 'Chris Martin Hospital' in value:
#        covid_19_admission_df.loc[idx, ['Hospital_Postcode']] = "SO15 5FL"
#    if 'Robin Hood Hospital' in value:
#        covid_19_admission_df.loc[idx, ['Hospital_Postcode']] = "LO12 8HG"
#    if 'Alfred Hitchcock Hospital' in value:
#        covid_19_admission_df.loc[idx, ['Hospital_Postcode']] = "BE01 5SA"

Patient_admitted_id 	Date 	Hospital_ID
0 	66497 	2021-01-27 	214321

In [ ]:

data = {'Patient_admitted_id': [214321,224323,3234234,23423],
        'Date':  ['2021-01-27', '2021-01-27','2021-01-27','2021-01-20'],
        'Hospital_ID': ['1', '2','3','2'],
        }
X = pd.DataFrame(data, columns=['Patient_admitted_id','Date', 'Hospital_ID' ])
X

## Once all tables have been done, we can continue creating of the database.