# Creating the fake database
****





Each database has a <code>schema</code>. This represents the structure of the whole database. It shows the relationships between database entities (i.e. tables) and defines any constraints placed on the data. This can also be represented as a diagram. To represent this I have used <a href="https://dbdiagram.io/d" target="_blank">dbdiagram.io</a>. It can be seen the relation of each table and by which fields.


![Image of Yaktocat](https://raw.githubusercontent.com/Manuel-DominguezCBG/SQL2Dashboard/main/Covid-19/Images/screen.jpg)

In [1]:
# schema here

In [6]:
# Populating Patient_data dataframe
# 2000 patients with ID number, Name, NHS number, Age, Gender, Ethnicity and postcode.

# Import libraries
import pandas as pd
from pandas import DataFrame
import numpy as np
import random
import datetime
from datetime import timedelta
import names                                     # pip install names
from faker.providers.person.en import Provider   # pip install faker

size = 2000

In [7]:
# Letâ€™s create some functions to randomly generate our data 

def random_id(size):
    id_patient = random.sample(range(100000), size)
    return id_patient

In [8]:
def random_NHS_number(size):
    NHS_numbers = random.sample(range(100000000,999999999),size)
    return NHS_numbers

In [9]:
def random_names(name_type, size):
    """
    Generate n-length ndarray of person names.
    name_type: a string, either first_names or last_names
    """
    names = getattr(Provider, name_type)
    return np.random.choice(names, size=size)

In [10]:
def random_genders(size, p=None):
    """Generate n-length ndarray of genders."""
    if not p:
        # Equal probability of gender
        p = (0.5, 0.5)
    gender = ("M", "F")
    return np.random.choice(gender, size=size, p=p)

In [11]:
def random_Ethnicity(size, p=None):
    """Generate n-length ndarray of genders."""
    if not p:
        # 5 groups with different probability
        p = (0.49, 0.10, 0.11, 0.01, 0.29)
    Ethnicity = ("White British", "Black British people", "British Indians", "White Gypsy or Irish Traveller", "Other White")
    return np.random.choice(Ethnicity, size=size, p=p)

In [12]:
def random_Postcode(size, p=None):
    """
    A real Faker's UK postcode generation can be found here
    https://github.com/joke2k/faker/blob/07ca4ede54c26554fdb5c7a4f55432cb0498d338/faker/providers/address/en_GB/__init__.py
    However, for this small fake database there is no need to populate it with real UK ppostcode.
    Instead of this, only a few fake postcodes are generate manually"""
    if not p:
        # 10 postcodes, same p
        p = (0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1,0.1)
    Postcode = ("SO15 5FL", "SP01 10MA", "BE01 5SA", "CB19 5US", "SO15 10FL", "LO12 8HG", "WE1 7YG", "SO01 7JH", "SP2 8BJ", "SP3 8BJ")
    return np.random.choice(Postcode, size=size, p=p)

In [13]:
def random_Hospital_names(size, p=None):
    """
    3 Fake hospitals names with similar probability
    """
    if not p:
        # 10 postcodes, same p
        p = (0.3, 0.3, 0.4)
    Hospital_names = ("Robin Hood Hospital", "Alfred Hitchcock Hospital", "Chris Martin Hospital")
    return np.random.choice(Hospital_names, size=size, p=p)

In [14]:
def random_dates(start, end, size):
    """
    Generate random dates within range between start and end.    
    Adapted from: https://stackoverflow.com/a/50668285
    """
    # Unix timestamp is in nanoseconds by default, so divide it by
    # 24*60*60*10**9 to convert to days.
    divide_by = 24 * 60 * 60 * 10**9
    start_u = start.value // divide_by
    end_u = end.value // divide_by
    return pd.to_datetime(np.random.randint(start_u, end_u, size), unit="D")

## patient_data_df

In [15]:
# Empty df with headers
patients_admitted = pd.DataFrame(columns=['ID', 'NHS_Number','Full_Name','Gender', 'Birthdate', 'Ethnicity', 'Postcode'])

patients_admitted['ID'] = random_id(size) 
patients_admitted['NHS_Number'] = random_NHS_number(size)
patients_admitted['first_names'] = random_names('first_names', size)
patients_admitted['last_names'] = random_names('last_names', size)
patients_admitted['Full_Name'] = patients_admitted['first_names']  + ' ' + patients_admitted['last_names']
del patients_admitted['first_names']
del patients_admitted['last_names']
patients_admitted['Gender'] = random_genders(size)
patients_admitted['Birthdate'] = random_dates(start=pd.to_datetime('1900-01-01'), end=pd.to_datetime('2008-01-01'), 
                                              size=size)
patients_admitted['Ethnicity'] = random_Ethnicity(size)
patients_admitted['Postcode'] = random_Postcode(size)
patients_admitted

,ID,NHS_Number,Full_Name,Gender,Birthdate,Ethnicity,Postcode
0,3334,866205730,Lyla Hermann,M,1909-11-09,British Indians,SP3 8BJ
1,42998,631915465,Fran O'Connell,M,1936-06-08,Other White,SO15 10FL
2,69347,692125076,Earlie Tromp,F,1925-02-28,White British,SP01 10MA
3,52338,200353519,Georgene Schmeler,F,1979-11-15,White British,SO15 5FL
4,92571,497682412,Alwin O'Reilly,M,1995-08-16,British Indians,LO12 8HG
...,...,...,...,...,...,...,...
1995,13497,375579857,Lemmie Simonis,F,1972-08-11,Black British people,SO15 5FL
1996,75910,254040030,Darrin Crona,M,1925-09-07,White British,BE01 5SA
1997,57205,258732224,Trudy Schoen,M,1928-02-15,White British,SP3 8BJ
1998,30336,899911691,Ashli Marquardt,M,1993-09-30,White British,LO12 8HG
1999,18483,246468931,Vicie Rath,M,1934-09-23,Other White,LO12 8HG

In [16]:
# To save this as CSV

#patients_admitted.to_csv('patient_data_df.csv')

## covid_19_admission_df

In [17]:
# Populating COVID-19 admission dataframe
# Admission of COVID patients in three hispitales of the same TRUST for one month period
# This table contain the 5% of the patients found in the patient_data_df
patients_admitted_length = int(len(patients_admitted)*0.05)
# ID from patient_data links with  Patient_admitted_id from covid_19_admission

ID = patients_admitted['ID'].tolist() # ID to list to select the 5% of the values of the ID column

ID2df = (random.choices(ID, k=patients_admitted_length))

# Empty df with headers
covid_19_admission_df = pd.DataFrame(columns=['Patient_admitted_id', 'Date', 'Hospital_name','Hospital_Postcode' ])

covid_19_admission_df['Patient_admitted_id'] = ID2df
#Date from 1 January 2021 to 31 January 2021
covid_19_admission_df['Date'] = random_dates(start=pd.to_datetime('2021-01-01'), 
                                             end=pd.to_datetime('2021-01-31'), size=patients_admitted_length)
covid_19_admission_df['Hospital_name'] = random_Hospital_names(patients_admitted_length)

# To link same hospital names with same postcodes
for idx, value in covid_19_admission_df.iloc[:,2].iteritems():
    if 'Chris Martin Hospital' in value:
        covid_19_admission_df.loc[idx, ['Hospital_Postcode']] = "SO15 5FL"
    if 'Robin Hood Hospital' in value:
        covid_19_admission_df.loc[idx, ['Hospital_Postcode']] = "LO12 8HG"
    if 'Alfred Hitchcock Hospital' in value:
        covid_19_admission_df.loc[idx, ['Hospital_Postcode']] = "BE01 5SA"
covid_19_admission_df

,Patient_admitted_id,Date,Hospital_name,Hospital_Postcode
0,20228,2021-01-02,Robin Hood Hospital,LO12 8HG
1,69478,2021-01-21,Robin Hood Hospital,LO12 8HG
2,11689,2021-01-03,Alfred Hitchcock Hospital,BE01 5SA
3,49689,2021-01-05,Alfred Hitchcock Hospital,BE01 5SA
4,83805,2021-01-14,Chris Martin Hospital,SO15 5FL
...,...,...,...,...
95,75188,2021-01-02,Chris Martin Hospital,SO15 5FL
96,80849,2021-01-04,Alfred Hitchcock Hospital,BE01 5SA
97,10969,2021-01-27,Alfred Hitchcock Hospital,BE01 5SA
98,12842,2021-01-02,Alfred Hitchcock Hospital,BE01 5SA
99,14163,2021-01-09,Robin Hood Hospital,LO12 8HG

In [18]:
# To save this as CSV
#covid_19_admission_df.to_csv('covid_19_admission_df.csv')

## covid_19_death_df

Similar that covid_19_admission_df in which a small proportion of the admitted patients died a few days after admission.

In [19]:

# Crete a dict with ID number and date of admission
id2date_admission = pd.Series(covid_19_admission_df.Date.values,covid_19_admission_df.Patient_admitted_id.values).to_dict()

# Select the 5% of the total number of items  covid_19_admission_df
covid_19_admission_length = int(len(covid_19_admission_df)*0.05)

# Convert these items in a list
#entry_list = list(id2date_admission.items())

#Take the 5% of total number of items 
random_entry = random.sample(list(id2date_admission.items()), k=covid_19_admission_length)

# Populate a new df with the patients who are going to die and their date of admission
covid_19_death_df = DataFrame (random_entry,columns=['Patient_admitted_id','Date_admission'])

# Now, we suppose they will die a few random days later, between the 3rd and the 20th day after admission for example.
covid_19_death_df["Death_dates"] = covid_19_death_df["Date_admission"] + timedelta(days=random.randint(3, 20))

# we need the hospital where they were admitted and they died
covid_19_death_df = covid_19_admission_df.merge(covid_19_death_df, on="Patient_admitted_id")

# Some deletion of the columns I dont need
covid_19_death_df = covid_19_death_df.drop(['Date', 'Hospital_Postcode', 'Date_admission'], axis = 1)

# I dont need the date_admission column
#
covid_19_death_df

   Patient_admitted_id          Hospital_name Death_dates
0                10820  Chris Martin Hospital  2021-01-18
1                75510  Chris Martin Hospital  2021-01-26
2                99744  Chris Martin Hospital  2021-01-28
3                 5688  Chris Martin Hospital  2021-01-26
4                52520  Chris Martin Hospital  2021-01-18

## Hospital_features_df
Some characteristics of the hospitals of this fake database

In [20]:

data = {'Hospital_name':  ['Chris Martin Hospital', 'Alfred Hitchcock Hospital','Robin Hood Hospital'],
        'Hospital_location': ['SO15 5FL', 'BE01 5SA','LO12 8HG'],
        'Number_of_beds' : [100,200,150],
        'Number_of_staff' : [300,600,400],
        'Number_of_ITU_Beds' : [10,20,15]
        
        }
Hospital_features_df = pd.DataFrame(data, columns=['Hospital_name', 'Hospital_location', 
                                                   'Number_of_beds','Number_of_staff', 'Number_of_ITU_Beds' ])

In [21]:
#Hospital_features_df.to_csv('Hospital_features_df.csv')
Hospital_features_df

,Hospital_name,Hospital_location,Number_of_beds,Number_of_staff,Number_of_ITU_Beds
0,Chris Martin Hospital,SO15 5FL,100,300,10
1,Alfred Hitchcock Hospital,BE01 5SA,200,600,20
2,Robin Hood Hospital,LO12 8HG,150,400,15

## Covid_19_epidemiology_df
Some Covid-19 data reported by the Trust from the 3 hospitals involved

In [22]:
date_count = Covid_19_epidemiology_df.groupby('Date').count()

date_count

NameError: name 'Covid_19_epidemiology_df' is not defined