# COVID-19 data to dashboard
****

<a id="top"></a>

<b>Table of contents</b><br>

1. [Introduction](#Introduction)
2. [Importing data](#Importing)
3. [Creating the database](#Database)



<a id="Introduction"></a>
The goal of this notebook is to create a database from CSV files. To do this I have taken 6 CSV files from the official UK government website for data and insights on coronavirus https://coronavirus.data.gov.uk/.

The data collected is: 

1. People tested positive
2. Deaths within 28 days of positive test
3. Patient's admitted
4. Virus testes conductes 
5. People vaccinated
6. People vaccinated by regions

Later in a separate document, I have used this database to design a dashboard. The idea is to create something like this:

![Image of Yaktocat](https://raw.githubusercontent.com/Manuel-DominguezCBG/SQL2Dashboard/main/Covid-19/Images/screen.jpg)

In [1]:
import pandas as pd
import sqlite3
import plotly.express as px
from jupyter_dash import JupyterDash
import dash_core_components as dcc
import dash_html_components as html
from dash.dependencies import Input, Output
import pandas as pd
import plotly.graph_objects as go

<a id="Importing"></a>

## 1. Let's  import the  csv. files into pandas objects

In [2]:
# 1. People tested positive

People_teste_positive = pd.read_csv('./Data/People_tested positive.csv')  
People_teste_positive.head(3)

,areaType,areaName,areaCode,date,newCasesBySpecimenDate,cumCasesBySpecimenDate
0,overview,United Kingdom,K02000001,2021-05-06,2177,4432622
1,overview,United Kingdom,K02000001,2021-05-05,2488,4430445
2,overview,United Kingdom,K02000001,2021-05-04,2578,4427957

In [3]:
# 2. Deaths wihing 28 days of positive test

Deaths_wihing_28_days = pd.read_csv('./Data/Deaths_within_28_days_of_positive test_by_date_of_death.csv')  
Deaths_wihing_28_days.head(3)

430

,areaType,areaName,areaCode,date,newDeaths28DaysByDeathDate,cumDeaths28DaysByDeathDate
0,overview,United Kingdom,K02000001,2021-05-05,3,127583
1,overview,United Kingdom,K02000001,2021-05-04,7,127580
2,overview,United Kingdom,K02000001,2021-05-03,6,127573

In [4]:
# 3. Patient's admitted

patients_adm = pd.read_csv('./Data/Patients_admitted_to hospital.csv')  
patients_adm

,areaType,areaName,areaCode,date,newAdmissions,cumAdmissions
0,overview,United Kingdom,K02000001,2021-05-02,120,463596
1,overview,United Kingdom,K02000001,2021-05-01,98,463476
2,overview,United Kingdom,K02000001,2021-04-30,109,463378
3,overview,United Kingdom,K02000001,2021-04-29,100,463269
4,overview,United Kingdom,K02000001,2021-04-28,108,463169
...,...,...,...,...,...,...
401,overview,United Kingdom,K02000001,2020-03-27,2227,12835
402,overview,United Kingdom,K02000001,2020-03-26,1929,10608
403,overview,United Kingdom,K02000001,2020-03-25,2085,8679
404,overview,United Kingdom,K02000001,2020-03-24,1720,6594
405,overview,United Kingdom,K02000001,2020-03-23,1273,4874

In [5]:
# 4. Virus testes conductes

Virus_tested = pd.read_csv('./Data/Virus_tested.csv')  
Virus_tested.head(3)

,areaType,areaName,areaCode,date,newVirusTests,cumVirusTests
0,overview,United Kingdom,K02000001,2021-05-06,1067566.0,159580869
1,overview,United Kingdom,K02000001,2021-05-05,1214689.0,158363333
2,overview,United Kingdom,K02000001,2021-05-04,860368.0,157088742

In [6]:
# 5. People vaccinated

People_vaccinated = pd.read_csv('./Data/People_vaccinated.csv')  
People_vaccinated.head(3)

,areaType,areaName,areaCode,date,newPeopleVaccinatedFirstDoseByPublishDate,cumPeopleVaccinatedFirstDoseByPublishDate
0,overview,United Kingdom,K02000001,2021-05-08,169027.0,35371669
1,overview,United Kingdom,K02000001,2021-05-07,133001.0,35202642
2,overview,United Kingdom,K02000001,2021-05-06,135470.0,35069641

In [7]:
# 6. People vaccinated by regions

People_vaccinated_regions = pd.read_csv('./Data/vaccinated by regions.csv')  
People_vaccinated_regions.head(3)

,areaType,areaName,areaCode,date,newPeopleVaccinatedFirstDoseByPublishDate,cumPeopleVaccinatedFirstDoseByPublishDate
0,nation,England,E92000001,2021-05-12,146934.0,29973113
1,nation,England,E92000001,2021-05-11,98515.0,29826179
2,nation,England,E92000001,2021-05-10,76110.0,29727664

<a id="Database"></a>

## 2. Creating sqlite table

Create a database connection and cursor to execute queries.

In [11]:
conn = sqlite3.connect('./tutorial/COVID_19.db')
c = conn.cursor()

### Load CSV file into sqlite table

1. People_teste_positive

In [12]:
c.execute('''DROP TABLE IF EXISTS People_teste_positive''')
c.execute(''' CREATE TABLE People_teste_positive (areaType ,areaName ,areaCode ,date ,newCasesBySpecimenDate ,cumCasesBySpecimenDate)''')
People_teste_positive.to_sql('People_teste_positive', conn, if_exists='append', index = False)
# Fetch all the rows from the users table. Just for checking
#To visualise the table
#c.execute('''SELECT * FROM People_teste_positive''').fetchall()

[('overview', 'United Kingdom', 'K02000001', '2021-05-06', 2177, 4432622),
 ('overview', 'United Kingdom', 'K02000001', '2021-05-05', 2488, 4430445),
 ('overview', 'United Kingdom', 'K02000001', '2021-05-04', 2578, 4427957),
 ('overview', 'United Kingdom', 'K02000001', '2021-05-03', 2156, 4425379),
 ('overview', 'United Kingdom', 'K02000001', '2021-05-02', 1516, 4423223),
 ('overview', 'United Kingdom', 'K02000001', '2021-05-01', 1405, 4421707),
 ('overview', 'United Kingdom', 'K02000001', '2021-04-30', 1749, 4420302),
 ('overview', 'United Kingdom', 'K02000001', '2021-04-29', 2201, 4418553),
 ('overview', 'United Kingdom', 'K02000001', '2021-04-28', 2508, 4416352),
 ('overview', 'United Kingdom', 'K02000001', '2021-04-27', 2181, 4413844),
 ('overview', 'United Kingdom', 'K02000001', '2021-04-26', 2680, 4411663),
 ('overview', 'United Kingdom', 'K02000001', '2021-04-25', 2148, 4408983),
 ('overview', 'United Kingdom', 'K02000001', '2021-04-24', 1519, 4406835),
 ('overview', 'United Kingdom', 'K02000001', '2021-04-23', 1979, 4405316),
 ('overview', 'United Kingdom', 'K02000001', '2021-04-22', 2371, 4403337),
 ('overview', 'United Kingdom', 'K02000001', '2021-04-21', 2690, 4400966),
 ('overview', 'United Kingdom', 'K02000001', '2021-04-20', 2466, 4398276),
 ('overview', 'United Kingdom', 'K02000001', '2021-04-19', 2847, 4395810),
 ('overview', 'United Kingdom', 'K02000001', '2021-04-18', 2618, 4392963),
 ('overview', 'United Kingdom', 'K02000001', '2021-04-17', 1694, 4390345),
 ('overview', 'United Kingdom', 'K02000001', '2021-04-16', 2278, 4388651),
 ('overview', 'United Kingdom', 'K02000001', '2021-04-15', 2318, 4386373),
 ('overview', 'United Kingdom', 'K02000001', '2021-04-14', 2493, 4384055),
 ('overview', 'United Kingdom', 'K02000001', '2021-04-13', 2445, 4381562),
 ('overview', 'United Kingdom', 'K02000001', '2021-04-12', 2881, 4379117),
 ('overview', 'United Kingdom', 'K02000001', '2021-04-11', 2371, 4376236),
 ('overview', 'United Kingdom', 'K02000001', '2021-04-10', 2308, 4373865),
 ('overview', 'United Kingdom', 'K02000001', '2021-04-09', 2852, 4371557),
 ('overview', 'United Kingdom', 'K02000001', '2021-04-08', 3048, 4368705),
 ('overview', 'United Kingdom', 'K02000001', '2021-04-07', 3128, 4365657),
 ('overview', 'United Kingdom', 'K02000001', '2021-04-06', 3139, 4362529),
 ('overview', 'United Kingdom', 'K02000001', '2021-04-05', 2619, 4359390),
 ('overview', 'United Kingdom', 'K02000001', '2021-04-04', 2291, 4356771),
 ('overview', 'United Kingdom', 'K02000001', '2021-04-03', 2389, 4354480),
 ('overview', 'United Kingdom', 'K02000001', '2021-04-02', 2618, 4352091),
 ('overview', 'United Kingdom', 'K02000001', '2021-04-01', 3469, 4349473),
 ('overview', 'United Kingdom', 'K02000001', '2021-03-31', 3754, 4346004),
 ('overview', 'United Kingdom', 'K02000001', '2021-03-30', 3580, 4342250),
 ('overview', 'United Kingdom', 'K02000001', '2021-03-29', 3968, 4338670),
 ('overview', 'United Kingdom', 'K02000001', '2021-03-28', 4642, 4334702),
 ('overview', 'United Kingdom', 'K02000001', '2021-03-27', 3532, 4330060),
 ('overview', 'United Kingdom', 'K02000001', '2021-03-26', 4385, 4326528),
 ('overview', 'United Kingdom', 'K02000001', '2021-03-25', 5391, 4322143),
 ('overview', 'United Kingdom', 'K02000001', '2021-03-24', 6005, 4316752),
 ('overview', 'United Kingdom', 'K02000001', '2021-03-23', 5250, 4310747),
 ('overview', 'United Kingdom', 'K02000001', '2021-03-22', 6196, 4305497),
 ('overview', 'United Kingdom', 'K02000001', '2021-03-21', 5232, 4299301),
 ('overview', 'United Kingdom', 'K02000001', '2021-03-20', 4096, 4294069),
 ('overview', 'United Kingdom', 'K02000001', '2021-03-19', 4991, 4289973),
 ('overview', 'United Kingdom', 'K02000001', '2021-03-18', 5473, 4284982),
 ('overview', 'United Kingdom', 'K02000001', '2021-03-17', 5775, 4279509),
 ('overview', 'United Kingdom', 'K02000001', '2021-03-16', 5674, 4273734),
 ('overview', 'United Kingdom', 'K02000001', '2021-03-15', 6505, 4268060),
 ('overview', 'United Kingdom', 'K02000001', '2021-03-14', 4299, 4261555),
 ('overview', 'United Kingdom', 'K02000001', '2021-03-13', 4241, 4257256),
 ('overview', 'United Kingdom', 'K02000001', '2021-03-12', 5582, 4253015),
 ('overview', 'United Kingdom', 'K02000001', '2021-03-11', 5768, 4247433),
 ('overview', 'United Kingdom', 'K02000001', '2021-03-10', 6030, 4241665),
 ('overview', 'United Kingdom', 'K02000001', '2021-03-09', 6220, 4235635),
 ('overview', 'United Kingdom', 'K02000001', '2021-03-08', 6642, 4229415),
 ('overview', 'United Kingdom', 'K02000001', '2021-03-07', 4271, 4222773),
 ('overview', 'United Kingdom', 'K02000001', '2021-03-06', 4490, 4218502),
 ('overview', 'United Kingdom', 'K02000001', '2021-03-05', 5298, 4214012),
 ('overview', 'United Kingdom', 'K02000001', '2021-03-04', 5717, 4208714),
 ('overview', 'United Kingdom', 'K02000001', '2021-03-03', 5965, 4202997),
 ('overview', 'United Kingdom', 'K02000001', '2021-03-02', 6649, 4197032),
 ('overview', 'United Kingdom', 'K02000001', '2021-03-01', 6878, 4190383),
 ('overview', 'United Kingdom', 'K02000001', '2021-02-28', 4710, 4183505),
 ('overview', 'United Kingdom', 'K02000001', '2021-02-27', 4815, 4178795),
 ('overview', 'United Kingdom', 'K02000001', '2021-02-26', 6568, 4173980),
 ('overview', 'United Kingdom', 'K02000001', '2021-02-25', 7715, 4167412),
 ('overview', 'United Kingdom', 'K02000001', '2021-02-24', 8535, 4159697),
 ('overview', 'United Kingdom', 'K02000001', '2021-02-23', 9385, 4151162),
 ('overview', 'United Kingdom', 'K02000001', '2021-02-22', 11240, 4141777),
 ('overview', 'United Kingdom', 'K02000001', '2021-02-21', 7869, 4130537),
 ('overview', 'United Kingdom', 'K02000001', '2021-02-20', 8049, 4122668),
 ('overview', 'United Kingdom', 'K02000001', '2021-02-19', 10380, 4114619),
 ('overview', 'United Kingdom', 'K02000001', '2021-02-18', 11403, 4104239),
 ('overview', 'United Kingdom', 'K02000001', '2021-02-17', 11562, 4092836),
 ('overview', 'United Kingdom', 'K02000001', '2021-02-16', 12476, 4081274),
 ('overview', 'United Kingdom', 'K02000001', '2021-02-15', 14262, 4068798),
 ('overview', 'United Kingdom', 'K02000001', '2021-02-14', 8753, 4054536),
 ('overview', 'United Kingdom', 'K02000001', '2021-02-13', 8754, 4045783),
 ('overview', 'United Kingdom', 'K02000001', '2021-02-12', 12150, 4037029),
 ('overview', 'United Kingdom', 'K02000001', '2021-02-11', 12739, 4024879),
 ('overview', 'United Kingdom', 'K02000001', '2021-02-10', 13479, 4012140),
 ('overview', 'United Kingdom', 'K02000001', '2021-02-09', 13794, 3998661),
 ('overview', 'United Kingdom', 'K02000001', '2021-02-08', 15694, 3984867),
 ('overview', 'United Kingdom', 'K02000001', '2021-02-07', 11357, 3969173),
 ('overview', 'United Kingdom', 'K02000001', '2021-02-06', 11967, 3957816),
 ('overview', 'United Kingdom', 'K02000001', '2021-02-05', 15843, 3945849),
 ('overview', 'United Kingdom', 'K02000001', '2021-02-04', 17953, 3930006),
 ('overview', 'United Kingdom', 'K02000001', '2021-02-03', 19393, 3912053),
 ('overview', 'United Kingdom', 'K02000001', '2021-02-02', 19753, 3892660),
 ('overview', 'United Kingdom', 'K02000001', '2021-02-01', 22337, 3872907),
 ('overview', 'United Kingdom', 'K02000001', '2021-01-31', 15372, 3850570),
 ('overview', 'United Kingdom', 'K02000001', '2021-01-30', 16667, 3835198),
 ('overview', 'United Kingdom', 'K02000001', '2021-01-29', 21770, 3818531),
 ('overview', 'United Kingdom', 'K02000001', '2021-01-28', 24138, 3796761),
 ('overview', 'United Kingdom', 'K02000001', '2021-01-27', 25668, 3772623),
 ('overview', 'United Kingdom', 'K02000001', '2021-01-26', 26967, 3746955),
 ('overview', 'United Kingdom', 'K02000001', '2021-01-25', 29899, 3719988),
 ('overview', 'United Kingdom', 'K02000001', '2021-01-24', 17158, 3690089),
 ('overview', 'United Kingdom', 'K02000001', '2021-01-23', 21822, 3672931),
 ('overview', 'United Kingdom', 'K02000001', '2021-01-22', 29528, 3651109),
 ('overview', 'United Kingdom', 'K02000001', '2021-01-21', 31661, 3621581),
 ('overview', 'United Kingdom', 'K02000001', '2021-01-20', 35093, 3589920),
 ('overview', 'United Kingdom', 'K02000001', '2021-01-19', 39465, 3554827),
 ('overview', 'United Kingdom', 'K02000001', '2021-01-18', 44764, 3515362),
 ('overview', 'United Kingdom', 'K02000001', '2021-01-17', 28841, 3470598),
 ('overview', 'United Kingdom', 'K02000001', '2021-01-16', 30526, 3441757),
 ('overview', 'United Kingdom', 'K02000001', '2021-01-15', 40404, 3411231),
 ('overview', 'United Kingdom', 'K02000001', '2021-01-14', 42367, 3370827),
 ('overview', 'United Kingdom', 'K02000001', '2021-01-13', 45380, 3328460),
 ('overview', 'United Kingdom', 'K02000001', '2021-01-12', 49375, 3283080),
 ('overview', 'United Kingdom', 'K02000001', '2021-01-11', 57102, 3233705),
 ('overview', 'United Kingdom', 'K02000001', '2021-01-10', 36341, 3176603),
 ('overview', 'United Kingdom', 'K02000001', '2021-01-09', 39082, 3140262),
 ('overview', 'United Kingdom', 'K02000001', '2021-01-08', 47011, 3101180),
 ('overview', 'United Kingdom', 'K02000001', '2021-01-07', 51930, 3054169),
 ('overview', 'United Kingdom', 'K02000001', '2021-01-06', 57381, 3002239),
 ('overview', 'United Kingdom', 'K02000001', '2021-01-05', 65092, 2944858),
 ('overview', 'United Kingdom', 'K02000001', '2021-01-04', 76153, 2879766),
 ('overview', 'United Kingdom', 'K02000001', '2021-01-03', 55169, 2803613),
 ('overview', 'United Kingdom', 'K02000001', '2021-01-02', 60390, 2748444),
 ('overview', 'United Kingdom', 'K02000001', '2021-01-01', 31844, 2688054),
 ('overview', 'United Kingdom', 'K02000001', '2020-12-31', 52799, 2656210),
 ('overview', 'United Kingdom', 'K02000001', '2020-12-30', 70791, 2603411),
 ('overview', 'United Kingdom', 'K02000001', '2020-12-29', 81524, 2532620),
 ('overview', 'United Kingdom', 'K02000001', '2020-12-28', 45604, 2451096),
 ('overview', 'United Kingdom', 'K02000001', '2020-12-27', 47731, 2405492),
 ('overview', 'United Kingdom', 'K02000001', '2020-12-26', 40370, 2357761),
 ('overview', 'United Kingdom', 'K02000001', '2020-12-25', 14178, 2317391),
 ('overview', 'United Kingdom', 'K02000001', '2020-12-24', 31820, 2303213),
 ('overview', 'United Kingdom', 'K02000001', '2020-12-23', 42194, 2271393),
 ('overview', 'United Kingdom', 'K02000001', '2020-12-22', 45661, 2229199),
 ('overview', 'United Kingdom', 'K02000001', '2020-12-21', 47377, 2183538),
 ('overview', 'United Kingdom', 'K02000001', '2020-12-20', 32461, 2136161),
 ('overview', 'United Kingdom', 'K02000001', '2020-12-19', 25147, 2103700),
 ('overview', 'United Kingdom', 'K02000001', '2020-12-18', 35830, 2078553),
 ('overview', 'United Kingdom', 'K02000001', '2020-12-17', 33888, 2042723),
 ('overview', 'United Kingdom', 'K02000001', '2020-12-16', 34926, 2008835),
 ('overview', 'United Kingdom', 'K02000001', '2020-12-15', 33847, 1973909),
 ('overview', 'United Kingdom', 'K02000001', '2020-12-14', 34725, 1940062),
 ('overview', 'United Kingdom', 'K02000001', '2020-12-13', 21981, 1905337),
 ('overview', 'United Kingdom', 'K02000001', '2020-12-12', 19365, 1883356),
 ('overview', 'United Kingdom', 'K02000001', '2020-12-11', 24088, 1863991),
 ('overview', 'United Kingdom', 'K02000001', '2020-12-10', 22613, 1839903),
 ('overview', 'United Kingdom', 'K02000001', '2020-12-09', 21614, 1817290),
 ('overview', 'United Kingdom', 'K02000001', '2020-12-08', 20790, 1795676),
 ('overview', 'United Kingdom', 'K02000001', '2020-12-07', 21336, 1774886),
 ('overview', 'United Kingdom', 'K02000001', '2020-12-06', 13578, 1753550),
 ('overview', 'United Kingdom', 'K02000001', '2020-12-05', 12740, 1739972),
 ('overview', 'United Kingdom', 'K02000001', '2020-12-04', 15656, 1727232),
 ('overview', 'United Kingdom', 'K02000001', '2020-12-03', 15644, 1711576),
 ('overview', 'United Kingdom', 'K02000001', '2020-12-02', 16475, 1695932),
 ('overview', 'United Kingdom', 'K02000001', '2020-12-01', 16458, 1679457),
 ('overview', 'United Kingdom', 'K02000001', '2020-11-30', 18012, 1662999),
 ('overview', 'United Kingdom', 'K02000001', '2020-11-29', 10686, 1644987),
 ('overview', 'United Kingdom', 'K02000001', '2020-11-28', 10968, 1634301),
 ('overview', 'United Kingdom', 'K02000001', '2020-11-27', 14370, 1623333),
 ('overview', 'United Kingdom', 'K02000001', '2020-11-26', 14582, 1608963),
 ('overview', 'United Kingdom', 'K02000001', '2020-11-25', 16620, 1594381),
 ('overview', 'United Kingdom', 'K02000001', '2020-11-24', 16452, 1577761),
 ('overview', 'United Kingdom', 'K02000001', '2020-11-23', 18781, 1561309),
 ('overview', 'United Kingdom', 'K02000001', '2020-11-22', 11739, 1542528),
 ('overview', 'United Kingdom', 'K02000001', '2020-11-21', 12359, 1530789),
 ('overview', 'United Kingdom', 'K02000001', '2020-11-20', 16855, 1518430),
 ('overview', 'United Kingdom', 'K02000001', '2020-11-19', 17759, 1501575),
 ('overview', 'United Kingdom', 'K02000001', '2020-11-18', 20763, 1483816),
 ('overview', 'United Kingdom', 'K02000001', '2020-11-17', 23164, 1463053),
 ('overview', 'United Kingdom', 'K02000001', '2020-11-16', 26579, 1439889),
 ('overview', 'United Kingdom', 'K02000001', '2020-11-15', 16034, 1413310),
 ('overview', 'United Kingdom', 'K02000001', '2020-11-14', 18009, 1397276),
 ('overview', 'United Kingdom', 'K02000001', '2020-11-13', 24045, 1379267),
 ('overview', 'United Kingdom', 'K02000001', '2020-11-12', 24471, 1355222),
 ('overview', 'United Kingdom', 'K02000001', '2020-11-11', 27357, 1330751),
 ('overview', 'United Kingdom', 'K02000001', '2020-11-10', 27412, 1303394),
 ('overview', 'United Kingdom', 'K02000001', '2020-11-09', 31046, 1275982),
 ('overview', 'United Kingdom', 'K02000001', '2020-11-08', 19960, 1244936),
 ('overview', 'United Kingdom', 'K02000001', '2020-11-07', 18528, 1224976),
 ('overview', 'United Kingdom', 'K02000001', '2020-11-06', 23329, 1206448),
 ('overview', 'United Kingdom', 'K02000001', '2020-11-05', 23752, 1183119),
 ('overview', 'United Kingdom', 'K02000001', '2020-11-04', 23680, 1159367),
 ('overview', 'United Kingdom', 'K02000001', '2020-11-03', 25595, 1135687),
 ('overview', 'United Kingdom', 'K02000001', '2020-11-02', 31505, 1110092),
 ('overview', 'United Kingdom', 'K02000001', '2020-11-01', 15757, 1078587),
 ('overview', 'United Kingdom', 'K02000001', '2020-10-31', 16479, 1062830),
 ('overview', 'United Kingdom', 'K02000001', '2020-10-30', 22682, 1046351),
 ('overview', 'United Kingdom', 'K02000001', '2020-10-29', 23356, 1023669),
 ('overview', 'United Kingdom', 'K02000001', '2020-10-28', 23613, 1000313),
 ('overview', 'United Kingdom', 'K02000001', '2020-10-27', 24098, 976700),
 ('overview', 'United Kingdom', 'K02000001', '2020-10-26', 26550, 952602),
 ('overview', 'United Kingdom', 'K02000001', '2020-10-25', 15724, 926052),
 ('overview', 'United Kingdom', 'K02000001', '2020-10-24', 16241, 910328),
 ('overview', 'United Kingdom', 'K02000001', '2020-10-23', 21475, 894087),
 ('overview', 'United Kingdom', 'K02000001', '2020-10-22', 23248, 872612),
 ('overview', 'United Kingdom', 'K02000001', '2020-10-21', 25450, 849364),
 ('overview', 'United Kingdom', 'K02000001', '2020-10-20', 25326, 823914),
 ('overview', 'United Kingdom', 'K02000001', '2020-10-19', 25611, 798588),
 ('overview', 'United Kingdom', 'K02000001', '2020-10-18', 14192, 772977),
 ('overview', 'United Kingdom', 'K02000001', '2020-10-17', 14766, 758785),
 ('overview', 'United Kingdom', 'K02000001', '2020-10-16', 17724, 744019),
 ('overview', 'United Kingdom', 'K02000001', '2020-10-15', 18437, 726295),
 ('overview', 'United Kingdom', 'K02000001', '2020-10-14', 19705, 707858),
 ('overview', 'United Kingdom', 'K02000001', '2020-10-13', 18899, 688153),
 ('overview', 'United Kingdom', 'K02000001', '2020-10-12', 19444, 669254),
 ('overview', 'United Kingdom', 'K02000001', '2020-10-11', 12072, 649810),
 ('overview', 'United Kingdom', 'K02000001', '2020-10-10', 12518, 637738),
 ('overview', 'United Kingdom', 'K02000001', '2020-10-09', 15727, 625220),
 ('overview', 'United Kingdom', 'K02000001', '2020-10-08', 18244, 609493),
 ('overview', 'United Kingdom', 'K02000001', '2020-10-07', 18329, 591249),
 ('overview', 'United Kingdom', 'K02000001', '2020-10-06', 17055, 572920),
 ('overview', 'United Kingdom', 'K02000001', '2020-10-05', 16548, 555865),
 ('overview', 'United Kingdom', 'K02000001', '2020-10-04', 11804, 539317),
 ('overview', 'United Kingdom', 'K02000001', '2020-10-03', 11545, 527513),
 ('overview', 'United Kingdom', 'K02000001', '2020-10-02', 13692, 515968),
 ('overview', 'United Kingdom', 'K02000001', '2020-10-01', 13191, 502276),
 ('overview', 'United Kingdom', 'K02000001', '2020-09-30', 12558, 489085),
 ('overview', 'United Kingdom', 'K02000001', '2020-09-29', 10240, 476527),
 ('overview', 'United Kingdom', 'K02000001', '2020-09-28', 9927, 466287),
 ('overview', 'United Kingdom', 'K02000001', '2020-09-27', 6971, 456360),
 ('overview', 'United Kingdom', 'K02000001', '2020-09-26', 6761, 449389),
 ('overview', 'United Kingdom', 'K02000001', '2020-09-25', 7241, 442628),
 ('overview', 'United Kingdom', 'K02000001', '2020-09-24', 7604, 435387),
 ('overview', 'United Kingdom', 'K02000001', '2020-09-23', 7057, 427783),
 ('overview', 'United Kingdom', 'K02000001', '2020-09-22', 6401, 420726),
 ('overview', 'United Kingdom', 'K02000001', '2020-09-21', 5599, 414325),
 ('overview', 'United Kingdom', 'K02000001', '2020-09-20', 5319, 408726),
 ('overview', 'United Kingdom', 'K02000001', '2020-09-19', 4854, 403407),
 ('overview', 'United Kingdom', 'K02000001', '2020-09-18', 4956, 398553),
 ('overview', 'United Kingdom', 'K02000001', '2020-09-17', 4628, 393597),
 ('overview', 'United Kingdom', 'K02000001', '2020-09-16', 4362, 388969),
 ('overview', 'United Kingdom', 'K02000001', '2020-09-15', 3549, 384607),
 ('overview', 'United Kingdom', 'K02000001', '2020-09-14', 3393, 381058),
 ('overview', 'United Kingdom', 'K02000001', '2020-09-13', 2141, 377665),
 ('overview', 'United Kingdom', 'K02000001', '2020-09-12', 2669, 375524),
 ('overview', 'United Kingdom', 'K02000001', '2020-09-11', 3289, 372855),
 ('overview', 'United Kingdom', 'K02000001', '2020-09-10', 3593, 369566),
 ('overview', 'United Kingdom', 'K02000001', '2020-09-09', 3329, 365973),
 ('overview', 'United Kingdom', 'K02000001', '2020-09-08', 3303, 362644),
 ('overview', 'United Kingdom', 'K02000001', '2020-09-07', 3861, 359341),
 ('overview', 'United Kingdom', 'K02000001', '2020-09-06', 2445, 355480),
 ('overview', 'United Kingdom', 'K02000001', '2020-09-05', 2543, 353035),
 ('overview', 'United Kingdom', 'K02000001', '2020-09-04', 3041, 350492),
 ('overview', 'United Kingdom', 'K02000001', '2020-09-03', 3098, 347451),
 ('overview', 'United Kingdom', 'K02000001', '2020-09-02', 2995, 344353),
 ('overview', 'United Kingdom', 'K02000001', '2020-09-01', 2250, 341358),
 ('overview', 'United Kingdom', 'K02000001', '2020-08-31', 1501, 339108),
 ('overview', 'United Kingdom', 'K02000001', '2020-08-30', 1159, 337607),
 ('overview', 'United Kingdom', 'K02000001', '2020-08-29', 1222, 336448),
 ('overview', 'United Kingdom', 'K02000001', '2020-08-28', 1626, 335226),
 ('overview', 'United Kingdom', 'K02000001', '2020-08-27', 1550, 333600),
 ('overview', 'United Kingdom', 'K02000001', '2020-08-26', 1348, 332050),
 ('overview', 'United Kingdom', 'K02000001', '2020-08-25', 1248, 330702),
 ('overview', 'United Kingdom', 'K02000001', '2020-08-24', 1272, 329454),
 ('overview', 'United Kingdom', 'K02000001', '2020-08-23', 826, 328182),
 ('overview', 'United Kingdom', 'K02000001', '2020-08-22', 826, 327356),
 ('overview', 'United Kingdom', 'K02000001', '2020-08-21', 1200, 326530),
 ('overview', 'United Kingdom', 'K02000001', '2020-08-20', 1462, 325330),
 ('overview', 'United Kingdom', 'K02000001', '2020-08-19', 1240, 323868),
 ('overview', 'United Kingdom', 'K02000001', '2020-08-18', 1084, 322628),
 ('overview', 'United Kingdom', 'K02000001', '2020-08-17', 1285, 321544),
 ('overview', 'United Kingdom', 'K02000001', '2020-08-16', 600, 320259),
 ('overview', 'United Kingdom', 'K02000001', '2020-08-15', 695, 319659),

Same operation for the rest of the CSV

2. Deaths_wihing_28_days

In [13]:
c.execute('''DROP TABLE IF EXISTS Deaths_wihing_28_days''')
c.execute('''CREATE TABLE Deaths_wihing_28_days (areaType ,areaName ,areaCode ,date ,newDeaths28DaysByDeathDate ,cumDeaths28DaysByDeathDate)''')
Deaths_wihing_28_days.to_sql('Deaths_wihing_28_days', conn, if_exists='append', index = False)

In [14]:
# To visualise the table
#c.execute('''SELECT * FROM Deaths_wihing_28_days''').fetchall()

[('overview', 'United Kingdom', 'K02000001', '2021-05-05', 3, 127583),
 ('overview', 'United Kingdom', 'K02000001', '2021-05-04', 7, 127580),
 ('overview', 'United Kingdom', 'K02000001', '2021-05-03', 6, 127573),
 ('overview', 'United Kingdom', 'K02000001', '2021-05-02', 8, 127567),
 ('overview', 'United Kingdom', 'K02000001', '2021-05-01', 8, 127559),
 ('overview', 'United Kingdom', 'K02000001', '2021-04-30', 9, 127551),
 ('overview', 'United Kingdom', 'K02000001', '2021-04-29', 9, 127542),
 ('overview', 'United Kingdom', 'K02000001', '2021-04-28', 12, 127533),
 ('overview', 'United Kingdom', 'K02000001', '2021-04-27', 12, 127521),
 ('overview', 'United Kingdom', 'K02000001', '2021-04-26', 11, 127509),
 ('overview', 'United Kingdom', 'K02000001', '2021-04-25', 15, 127498),
 ('overview', 'United Kingdom', 'K02000001', '2021-04-24', 8, 127483),
 ('overview', 'United Kingdom', 'K02000001', '2021-04-23', 21, 127475),
 ('overview', 'United Kingdom', 'K02000001', '2021-04-22', 16, 127454),
 ('overview', 'United Kingdom', 'K02000001', '2021-04-21', 24, 127438),
 ('overview', 'United Kingdom', 'K02000001', '2021-04-20', 19, 127414),
 ('overview', 'United Kingdom', 'K02000001', '2021-04-19', 16, 127395),
 ('overview', 'United Kingdom', 'K02000001', '2021-04-18', 16, 127379),
 ('overview', 'United Kingdom', 'K02000001', '2021-04-17', 21, 127363),
 ('overview', 'United Kingdom', 'K02000001', '2021-04-16', 17, 127342),
 ('overview', 'United Kingdom', 'K02000001', '2021-04-15', 21, 127325),
 ('overview', 'United Kingdom', 'K02000001', '2021-04-14', 17, 127304),
 ('overview', 'United Kingdom', 'K02000001', '2021-04-13', 20, 127287),
 ('overview', 'United Kingdom', 'K02000001', '2021-04-12', 27, 127267),
 ('overview', 'United Kingdom', 'K02000001', '2021-04-11', 21, 127240),
 ('overview', 'United Kingdom', 'K02000001', '2021-04-10', 24, 127219),
 ('overview', 'United Kingdom', 'K02000001', '2021-04-09', 23, 127195),
 ('overview', 'United Kingdom', 'K02000001', '2021-04-08', 35, 127172),
 ('overview', 'United Kingdom', 'K02000001', '2021-04-07', 28, 127137),
 ('overview', 'United Kingdom', 'K02000001', '2021-04-06', 28, 127109),
 ('overview', 'United Kingdom', 'K02000001', '2021-04-05', 17, 127081),
 ('overview', 'United Kingdom', 'K02000001', '2021-04-04', 25, 127064),
 ('overview', 'United Kingdom', 'K02000001', '2021-04-03', 30, 127039),
 ('overview', 'United Kingdom', 'K02000001', '2021-04-02', 28, 127009),
 ('overview', 'United Kingdom', 'K02000001', '2021-04-01', 31, 126981),
 ('overview', 'United Kingdom', 'K02000001', '2021-03-31', 38, 126950),
 ('overview', 'United Kingdom', 'K02000001', '2021-03-30', 41, 126912),
 ('overview', 'United Kingdom', 'K02000001', '2021-03-29', 34, 126871),
 ('overview', 'United Kingdom', 'K02000001', '2021-03-28', 34, 126837),
 ('overview', 'United Kingdom', 'K02000001', '2021-03-27', 36, 126803),
 ('overview', 'United Kingdom', 'K02000001', '2021-03-26', 48, 126767),
 ('overview', 'United Kingdom', 'K02000001', '2021-03-25', 45, 126719),
 ('overview', 'United Kingdom', 'K02000001', '2021-03-24', 39, 126674),
 ('overview', 'United Kingdom', 'K02000001', '2021-03-23', 49, 126635),
 ('overview', 'United Kingdom', 'K02000001', '2021-03-22', 63, 126586),
 ('overview', 'United Kingdom', 'K02000001', '2021-03-21', 80, 126523),
 ('overview', 'United Kingdom', 'K02000001', '2021-03-20', 64, 126443),
 ('overview', 'United Kingdom', 'K02000001', '2021-03-19', 69, 126379),
 ('overview', 'United Kingdom', 'K02000001', '2021-03-18', 59, 126310),
 ('overview', 'United Kingdom', 'K02000001', '2021-03-17', 78, 126251),
 ('overview', 'United Kingdom', 'K02000001', '2021-03-16', 81, 126173),
 ('overview', 'United Kingdom', 'K02000001', '2021-03-15', 90, 126092),
 ('overview', 'United Kingdom', 'K02000001', '2021-03-14', 94, 126002),
 ('overview', 'United Kingdom', 'K02000001', '2021-03-13', 105, 125908),
 ('overview', 'United Kingdom', 'K02000001', '2021-03-12', 93, 125803),
 ('overview', 'United Kingdom', 'K02000001', '2021-03-11', 119, 125710),
 ('overview', 'United Kingdom', 'K02000001', '2021-03-10', 115, 125591),
 ('overview', 'United Kingdom', 'K02000001', '2021-03-09', 134, 125476),
 ('overview', 'United Kingdom', 'K02000001', '2021-03-08', 142, 125342),
 ('overview', 'United Kingdom', 'K02000001', '2021-03-07', 131, 125200),
 ('overview', 'United Kingdom', 'K02000001', '2021-03-06', 153, 125069),
 ('overview', 'United Kingdom', 'K02000001', '2021-03-05', 169, 124916),
 ('overview', 'United Kingdom', 'K02000001', '2021-03-04', 154, 124747),
 ('overview', 'United Kingdom', 'K02000001', '2021-03-03', 146, 124593),
 ('overview', 'United Kingdom', 'K02000001', '2021-03-02', 182, 124447),
 ('overview', 'United Kingdom', 'K02000001', '2021-03-01', 223, 124265),
 ('overview', 'United Kingdom', 'K02000001', '2021-02-28', 211, 124042),
 ('overview', 'United Kingdom', 'K02000001', '2021-02-27', 228, 123831),
 ('overview', 'United Kingdom', 'K02000001', '2021-02-26', 225, 123603),
 ('overview', 'United Kingdom', 'K02000001', '2021-02-25', 257, 123378),
 ('overview', 'United Kingdom', 'K02000001', '2021-02-24', 272, 123121),
 ('overview', 'United Kingdom', 'K02000001', '2021-02-23', 286, 122849),
 ('overview', 'United Kingdom', 'K02000001', '2021-02-22', 282, 122563),
 ('overview', 'United Kingdom', 'K02000001', '2021-02-21', 325, 122281),
 ('overview', 'United Kingdom', 'K02000001', '2021-02-20', 348, 121956),
 ('overview', 'United Kingdom', 'K02000001', '2021-02-19', 380, 121608),
 ('overview', 'United Kingdom', 'K02000001', '2021-02-18', 416, 121228),
 ('overview', 'United Kingdom', 'K02000001', '2021-02-17', 428, 120812),
 ('overview', 'United Kingdom', 'K02000001', '2021-02-16', 444, 120384),
 ('overview', 'United Kingdom', 'K02000001', '2021-02-15', 516, 119940),
 ('overview', 'United Kingdom', 'K02000001', '2021-02-14', 494, 119424),
 ('overview', 'United Kingdom', 'K02000001', '2021-02-13', 489, 118930),
 ('overview', 'United Kingdom', 'K02000001', '2021-02-12', 526, 118441),
 ('overview', 'United Kingdom', 'K02000001', '2021-02-11', 569, 117915),
 ('overview', 'United Kingdom', 'K02000001', '2021-02-10', 607, 117346),
 ('overview', 'United Kingdom', 'K02000001', '2021-02-09', 604, 116739),
 ('overview', 'United Kingdom', 'K02000001', '2021-02-08', 680, 116135),
 ('overview', 'United Kingdom', 'K02000001', '2021-02-07', 634, 115455),
 ('overview', 'United Kingdom', 'K02000001', '2021-02-06', 700, 114821),
 ('overview', 'United Kingdom', 'K02000001', '2021-02-05', 750, 114121),
 ('overview', 'United Kingdom', 'K02000001', '2021-02-04', 717, 113371),
 ('overview', 'United Kingdom', 'K02000001', '2021-02-03', 857, 112654),
 ('overview', 'United Kingdom', 'K02000001', '2021-02-02', 847, 111797),
 ('overview', 'United Kingdom', 'K02000001', '2021-02-01', 889, 110950),
 ('overview', 'United Kingdom', 'K02000001', '2021-01-31', 891, 110061),
 ('overview', 'United Kingdom', 'K02000001', '2021-01-30', 911, 109170),
 ('overview', 'United Kingdom', 'K02000001', '2021-01-29', 1067, 108259),
 ('overview', 'United Kingdom', 'K02000001', '2021-01-28', 1108, 107192),
 ('overview', 'United Kingdom', 'K02000001', '2021-01-27', 1108, 106084),
 ('overview', 'United Kingdom', 'K02000001', '2021-01-26', 1061, 104976),
 ('overview', 'United Kingdom', 'K02000001', '2021-01-25', 1162, 103915),
 ('overview', 'United Kingdom', 'K02000001', '2021-01-24', 1157, 102753),
 ('overview', 'United Kingdom', 'K02000001', '2021-01-23', 1163, 101596),
 ('overview', 'United Kingdom', 'K02000001', '2021-01-22', 1241, 100433),
 ('overview', 'United Kingdom', 'K02000001', '2021-01-21', 1235, 99192),
 ('overview', 'United Kingdom', 'K02000001', '2021-01-20', 1296, 97957),
 ('overview', 'United Kingdom', 'K02000001', '2021-01-19', 1357, 96661),
 ('overview', 'United Kingdom', 'K02000001', '2021-01-18', 1296, 95304),
 ('overview', 'United Kingdom', 'K02000001', '2021-01-17', 1265, 94008),
 ('overview', 'United Kingdom', 'K02000001', '2021-01-16', 1305, 92743),
 ('overview', 'United Kingdom', 'K02000001', '2021-01-15', 1226, 91438),
 ('overview', 'United Kingdom', 'K02000001', '2021-01-14', 1225, 90212),
 ('overview', 'United Kingdom', 'K02000001', '2021-01-13', 1211, 88987),
 ('overview', 'United Kingdom', 'K02000001', '2021-01-12', 1208, 87776),
 ('overview', 'United Kingdom', 'K02000001', '2021-01-11', 1129, 86568),
 ('overview', 'United Kingdom', 'K02000001', '2021-01-10', 1097, 85439),
 ('overview', 'United Kingdom', 'K02000001', '2021-01-09', 1019, 84342),
 ('overview', 'United Kingdom', 'K02000001', '2021-01-08', 983, 83323),
 ('overview', 'United Kingdom', 'K02000001', '2021-01-07', 994, 82340),
 ('overview', 'United Kingdom', 'K02000001', '2021-01-06', 931, 81346),
 ('overview', 'United Kingdom', 'K02000001', '2021-01-05', 906, 80415),
 ('overview', 'United Kingdom', 'K02000001', '2021-01-04', 840, 79509),
 ('overview', 'United Kingdom', 'K02000001', '2021-01-03', 758, 78669),
 ('overview', 'United Kingdom', 'K02000001', '2021-01-02', 759, 77911),
 ('overview', 'United Kingdom', 'K02000001', '2021-01-01', 750, 77152),
 ('overview', 'United Kingdom', 'K02000001', '2020-12-31', 756, 76402),
 ('overview', 'United Kingdom', 'K02000001', '2020-12-30', 719, 75646),
 ('overview', 'United Kingdom', 'K02000001', '2020-12-29', 656, 74927),
 ('overview', 'United Kingdom', 'K02000001', '2020-12-28', 677, 74271),
 ('overview', 'United Kingdom', 'K02000001', '2020-12-27', 651, 73594),
 ('overview', 'United Kingdom', 'K02000001', '2020-12-26', 653, 72943),
 ('overview', 'United Kingdom', 'K02000001', '2020-12-25', 612, 72290),
 ('overview', 'United Kingdom', 'K02000001', '2020-12-24', 582, 71678),
 ('overview', 'United Kingdom', 'K02000001', '2020-12-23', 564, 71096),
 ('overview', 'United Kingdom', 'K02000001', '2020-12-22', 562, 70532),
 ('overview', 'United Kingdom', 'K02000001', '2020-12-21', 575, 69970),
 ('overview', 'United Kingdom', 'K02000001', '2020-12-20', 506, 69395),
 ('overview', 'United Kingdom', 'K02000001', '2020-12-19', 489, 68889),
 ('overview', 'United Kingdom', 'K02000001', '2020-12-18', 516, 68400),
 ('overview', 'United Kingdom', 'K02000001', '2020-12-17', 537, 67884),
 ('overview', 'United Kingdom', 'K02000001', '2020-12-16', 433, 67347),
 ('overview', 'United Kingdom', 'K02000001', '2020-12-15', 459, 66914),
 ('overview', 'United Kingdom', 'K02000001', '2020-12-14', 479, 66455),
 ('overview', 'United Kingdom', 'K02000001', '2020-12-13', 418, 65976),
 ('overview', 'United Kingdom', 'K02000001', '2020-12-12', 437, 65558),
 ('overview', 'United Kingdom', 'K02000001', '2020-12-11', 452, 65121),
 ('overview', 'United Kingdom', 'K02000001', '2020-12-10', 449, 64669),
 ('overview', 'United Kingdom', 'K02000001', '2020-12-09', 430, 64220),
 ('overview', 'United Kingdom', 'K02000001', '2020-12-08', 435, 63790),
 ('overview', 'United Kingdom', 'K02000001', '2020-12-07', 420, 63355),
 ('overview', 'United Kingdom', 'K02000001', '2020-12-06', 420, 62935),
 ('overview', 'United Kingdom', 'K02000001', '2020-12-05', 395, 62515),
 ('overview', 'United Kingdom', 'K02000001', '2020-12-04', 472, 62120),
 ('overview', 'United Kingdom', 'K02000001', '2020-12-03', 474, 61648),
 ('overview', 'United Kingdom', 'K02000001', '2020-12-02', 386, 61174),
 ('overview', 'United Kingdom', 'K02000001', '2020-12-01', 399, 60788),
 ('overview', 'United Kingdom', 'K02000001', '2020-11-30', 423, 60389),
 ('overview', 'United Kingdom', 'K02000001', '2020-11-29', 464, 59966),
 ('overview', 'United Kingdom', 'K02000001', '2020-11-28', 467, 59502),
 ('overview', 'United Kingdom', 'K02000001', '2020-11-27', 423, 59035),
 ('overview', 'United Kingdom', 'K02000001', '2020-11-26', 433, 58612),
 ('overview', 'United Kingdom', 'K02000001', '2020-11-25', 484, 58179),
 ('overview', 'United Kingdom', 'K02000001', '2020-11-24', 461, 57695),
 ('overview', 'United Kingdom', 'K02000001', '2020-11-23', 464, 57234),
 ('overview', 'United Kingdom', 'K02000001', '2020-11-22', 475, 56770),
 ('overview', 'United Kingdom', 'K02000001', '2020-11-21', 467, 56295),
 ('overview', 'United Kingdom', 'K02000001', '2020-11-20', 451, 55828),
 ('overview', 'United Kingdom', 'K02000001', '2020-11-19', 462, 55377),
 ('overview', 'United Kingdom', 'K02000001', '2020-11-18', 487, 54915),
 ('overview', 'United Kingdom', 'K02000001', '2020-11-17', 440, 54428),
 ('overview', 'United Kingdom', 'K02000001', '2020-11-16', 423, 53988),
 ('overview', 'United Kingdom', 'K02000001', '2020-11-15', 454, 53565),
 ('overview', 'United Kingdom', 'K02000001', '2020-11-14', 430, 53111),
 ('overview', 'United Kingdom', 'K02000001', '2020-11-13', 435, 52681),
 ('overview', 'United Kingdom', 'K02000001', '2020-11-12', 421, 52246),
 ('overview', 'United Kingdom', 'K02000001', '2020-11-11', 390, 51825),
 ('overview', 'United Kingdom', 'K02000001', '2020-11-10', 389, 51435),
 ('overview', 'United Kingdom', 'K02000001', '2020-11-09', 480, 51046),
 ('overview', 'United Kingdom', 'K02000001', '2020-11-08', 415, 50566),
 ('overview', 'United Kingdom', 'K02000001', '2020-11-07', 392, 50151),
 ('overview', 'United Kingdom', 'K02000001', '2020-11-06', 400, 49759),
 ('overview', 'United Kingdom', 'K02000001', '2020-11-05', 379, 49359),
 ('overview', 'United Kingdom', 'K02000001', '2020-11-04', 329, 48980),
 ('overview', 'United Kingdom', 'K02000001', '2020-11-03', 360, 48651),
 ('overview', 'United Kingdom', 'K02000001', '2020-11-02', 334, 48291),
 ('overview', 'United Kingdom', 'K02000001', '2020-11-01', 358, 47957),
 ('overview', 'United Kingdom', 'K02000001', '2020-10-31', 320, 47599),
 ('overview', 'United Kingdom', 'K02000001', '2020-10-30', 339, 47279),
 ('overview', 'United Kingdom', 'K02000001', '2020-10-29', 311, 46940),
 ('overview', 'United Kingdom', 'K02000001', '2020-10-28', 286, 46629),
 ('overview', 'United Kingdom', 'K02000001', '2020-10-27', 267, 46343),
 ('overview', 'United Kingdom', 'K02000001', '2020-10-26', 277, 46076),
 ('overview', 'United Kingdom', 'K02000001', '2020-10-25', 250, 45799),
 ('overview', 'United Kingdom', 'K02000001', '2020-10-24', 214, 45549),
 ('overview', 'United Kingdom', 'K02000001', '2020-10-23', 222, 45335),
 ('overview', 'United Kingdom', 'K02000001', '2020-10-22', 236, 45113),
 ('overview', 'United Kingdom', 'K02000001', '2020-10-21', 221, 44877),
 ('overview', 'United Kingdom', 'K02000001', '2020-10-20', 195, 44656),
 ('overview', 'United Kingdom', 'K02000001', '2020-10-19', 191, 44461),
 ('overview', 'United Kingdom', 'K02000001', '2020-10-18', 159, 44270),
 ('overview', 'United Kingdom', 'K02000001', '2020-10-17', 177, 44111),
 ('overview', 'United Kingdom', 'K02000001', '2020-10-16', 150, 43934),
 ('overview', 'United Kingdom', 'K02000001', '2020-10-15', 151, 43784),
 ('overview', 'United Kingdom', 'K02000001', '2020-10-14', 116, 43633),
 ('overview', 'United Kingdom', 'K02000001', '2020-10-13', 110, 43517),
 ('overview', 'United Kingdom', 'K02000001', '2020-10-12', 113, 43407),
 ('overview', 'United Kingdom', 'K02000001', '2020-10-11', 123, 43294),
 ('overview', 'United Kingdom', 'K02000001', '2020-10-10', 103, 43171),
 ('overview', 'United Kingdom', 'K02000001', '2020-10-09', 79, 43068),
 ('overview', 'United Kingdom', 'K02000001', '2020-10-08', 93, 42989),
 ('overview', 'United Kingdom', 'K02000001', '2020-10-07', 102, 42896),
 ('overview', 'United Kingdom', 'K02000001', '2020-10-06', 71, 42794),
 ('overview', 'United Kingdom', 'K02000001', '2020-10-05', 72, 42723),
 ('overview', 'United Kingdom', 'K02000001', '2020-10-04', 60, 42651),
 ('overview', 'United Kingdom', 'K02000001', '2020-10-03', 67, 42591),
 ('overview', 'United Kingdom', 'K02000001', '2020-10-02', 68, 42524),
 ('overview', 'United Kingdom', 'K02000001', '2020-10-01', 67, 42456),
 ('overview', 'United Kingdom', 'K02000001', '2020-09-30', 57, 42389),
 ('overview', 'United Kingdom', 'K02000001', '2020-09-29', 48, 42332),
 ('overview', 'United Kingdom', 'K02000001', '2020-09-28', 54, 42284),
 ('overview', 'United Kingdom', 'K02000001', '2020-09-27', 47, 42230),
 ('overview', 'United Kingdom', 'K02000001', '2020-09-26', 39, 42183),
 ('overview', 'United Kingdom', 'K02000001', '2020-09-25', 32, 42144),
 ('overview', 'United Kingdom', 'K02000001', '2020-09-24', 35, 42112),
 ('overview', 'United Kingdom', 'K02000001', '2020-09-23', 56, 42077),
 ('overview', 'United Kingdom', 'K02000001', '2020-09-22', 39, 42021),
 ('overview', 'United Kingdom', 'K02000001', '2020-09-21', 27, 41982),
 ('overview', 'United Kingdom', 'K02000001', '2020-09-20', 31, 41955),
 ('overview', 'United Kingdom', 'K02000001', '2020-09-19', 20, 41924),
 ('overview', 'United Kingdom', 'K02000001', '2020-09-18', 24, 41904),
 ('overview', 'United Kingdom', 'K02000001', '2020-09-17', 27, 41880),
 ('overview', 'United Kingdom', 'K02000001', '2020-09-16', 26, 41853),
 ('overview', 'United Kingdom', 'K02000001', '2020-09-15', 18, 41827),
 ('overview', 'United Kingdom', 'K02000001', '2020-09-14', 21, 41809),
 ('overview', 'United Kingdom', 'K02000001', '2020-09-13', 16, 41788),
 ('overview', 'United Kingdom', 'K02000001', '2020-09-12', 18, 41772),
 ('overview', 'United Kingdom', 'K02000001', '2020-09-11', 13, 41754),
 ('overview', 'United Kingdom', 'K02000001', '2020-09-10', 13, 41741),
 ('overview', 'United Kingdom', 'K02000001', '2020-09-09', 9, 41728),
 ('overview', 'United Kingdom', 'K02000001', '2020-09-08', 9, 41719),
 ('overview', 'United Kingdom', 'K02000001', '2020-09-07', 15, 41710),
 ('overview', 'United Kingdom', 'K02000001', '2020-09-06', 8, 41695),
 ('overview', 'United Kingdom', 'K02000001', '2020-09-05', 13, 41687),
 ('overview', 'United Kingdom', 'K02000001', '2020-09-04', 7, 41674),
 ('overview', 'United Kingdom', 'K02000001', '2020-09-03', 10, 41667),
 ('overview', 'United Kingdom', 'K02000001', '2020-09-02', 9, 41657),
 ('overview', 'United Kingdom', 'K02000001', '2020-09-01', 3, 41648),
 ('overview', 'United Kingdom', 'K02000001', '2020-08-31', 9, 41645),
 ('overview', 'United Kingdom', 'K02000001', '2020-08-30', 6, 41636),
 ('overview', 'United Kingdom', 'K02000001', '2020-08-29', 5, 41630),
 ('overview', 'United Kingdom', 'K02000001', '2020-08-28', 10, 41625),
 ('overview', 'United Kingdom', 'K02000001', '2020-08-27', 8, 41615),
 ('overview', 'United Kingdom', 'K02000001', '2020-08-26', 11, 41607),
 ('overview', 'United Kingdom', 'K02000001', '2020-08-25', 12, 41596),
 ('overview', 'United Kingdom', 'K02000001', '2020-08-24', 6, 41584),
 ('overview', 'United Kingdom', 'K02000001', '2020-08-23', 14, 41578),
 ('overview', 'United Kingdom', 'K02000001', '2020-08-22', 8, 41564),
 ('overview', 'United Kingdom', 'K02000001', '2020-08-21', 7, 41556),
 ('overview', 'United Kingdom', 'K02000001', '2020-08-20', 8, 41549),
 ('overview', 'United Kingdom', 'K02000001', '2020-08-19', 3, 41541),
 ('overview', 'United Kingdom', 'K02000001', '2020-08-18', 9, 41538),
 ('overview', 'United Kingdom', 'K02000001', '2020-08-17', 12, 41529),
 ('overview', 'United Kingdom', 'K02000001', '2020-08-16', 4, 41517),
 ('overview', 'United Kingdom', 'K02000001', '2020-08-15', 12, 41513),
 ('overview', 'United Kingdom', 'K02000001', '2020-08-14', 7, 41501),
 ('overview', 'United Kingdom', 'K02000001', '2020-08-13', 9, 41494),
 ('overview', 'United Kingdom', 'K02000001', '2020-08-12', 7, 41485),
 ('overview', 'United Kingdom', 'K02000001', '2020-08-11', 10, 41478),
 ('overview', 'United Kingdom', 'K02000001', '2020-08-10', 13, 41468),
 ('overview', 'United Kingdom', 'K02000001', '2020-08-09', 8, 41455),
 ('overview', 'United Kingdom', 'K02000001', '2020-08-08', 14, 41447),
 ('overview', 'United Kingdom', 'K02000001', '2020-08-07', 12, 41433),
 ('overview', 'United Kingdom', 'K02000001', '2020-08-06', 9, 41421),
 ('overview', 'United Kingdom', 'K02000001', '2020-08-05', 6, 41412),
 ('overview', 'United Kingdom', 'K02000001', '2020-08-04', 14, 41406),
 ('overview', 'United Kingdom', 'K02000001', '2020-08-03', 15, 41392),
 ('overview', 'United Kingdom', 'K02000001', '2020-08-02', 10, 41377),
 ('overview', 'United Kingdom', 'K02000001', '2020-08-01', 11, 41367),

3. Patient's admitted

In [15]:
c.execute('''DROP TABLE IF EXISTS patients_adm''')
c.execute('''CREATE TABLE patients_adm ( areaType, areaName, areaCode, date, newAdmissions, cumAdmissions)''')
patients_adm.to_sql('patients_adm', conn, if_exists='append', index = False)
#c.execute('''SELECT * FROM patients_adm''').fetchall()

[('overview', 'United Kingdom', 'K02000001', '2021-05-02', 120, 463596),
 ('overview', 'United Kingdom', 'K02000001', '2021-05-01', 98, 463476),
 ('overview', 'United Kingdom', 'K02000001', '2021-04-30', 109, 463378),
 ('overview', 'United Kingdom', 'K02000001', '2021-04-29', 100, 463269),
 ('overview', 'United Kingdom', 'K02000001', '2021-04-28', 108, 463169),
 ('overview', 'United Kingdom', 'K02000001', '2021-04-27', 164, 463061),
 ('overview', 'United Kingdom', 'K02000001', '2021-04-26', 134, 462897),
 ('overview', 'United Kingdom', 'K02000001', '2021-04-25', 136, 462763),
 ('overview', 'United Kingdom', 'K02000001', '2021-04-24', 127, 462627),
 ('overview', 'United Kingdom', 'K02000001', '2021-04-23', 154, 462500),
 ('overview', 'United Kingdom', 'K02000001', '2021-04-22', 119, 462346),
 ('overview', 'United Kingdom', 'K02000001', '2021-04-21', 172, 462227),
 ('overview', 'United Kingdom', 'K02000001', '2021-04-20', 134, 462055),
 ('overview', 'United Kingdom', 'K02000001', '2021-04-19', 175, 461921),
 ('overview', 'United Kingdom', 'K02000001', '2021-04-18', 141, 461746),
 ('overview', 'United Kingdom', 'K02000001', '2021-04-17', 157, 461605),
 ('overview', 'United Kingdom', 'K02000001', '2021-04-16', 157, 461448),
 ('overview', 'United Kingdom', 'K02000001', '2021-04-15', 161, 461291),
 ('overview', 'United Kingdom', 'K02000001', '2021-04-14', 196, 461130),
 ('overview', 'United Kingdom', 'K02000001', '2021-04-13', 180, 460934),
 ('overview', 'United Kingdom', 'K02000001', '2021-04-12', 206, 460754),
 ('overview', 'United Kingdom', 'K02000001', '2021-04-11', 202, 460548),
 ('overview', 'United Kingdom', 'K02000001', '2021-04-10', 183, 460346),
 ('overview', 'United Kingdom', 'K02000001', '2021-04-09', 204, 460163),
 ('overview', 'United Kingdom', 'K02000001', '2021-04-08', 206, 459959),
 ('overview', 'United Kingdom', 'K02000001', '2021-04-07', 234, 459753),
 ('overview', 'United Kingdom', 'K02000001', '2021-04-06', 222, 459519),
 ('overview', 'United Kingdom', 'K02000001', '2021-04-05', 234, 459297),
 ('overview', 'United Kingdom', 'K02000001', '2021-04-04', 196, 459063),
 ('overview', 'United Kingdom', 'K02000001', '2021-04-03', 222, 458867),
 ('overview', 'United Kingdom', 'K02000001', '2021-04-02', 237, 458645),
 ('overview', 'United Kingdom', 'K02000001', '2021-04-01', 234, 458408),
 ('overview', 'United Kingdom', 'K02000001', '2021-03-31', 269, 458174),
 ('overview', 'United Kingdom', 'K02000001', '2021-03-30', 257, 457905),
 ('overview', 'United Kingdom', 'K02000001', '2021-03-29', 250, 457648),
 ('overview', 'United Kingdom', 'K02000001', '2021-03-28', 272, 457398),
 ('overview', 'United Kingdom', 'K02000001', '2021-03-27', 272, 457126),
 ('overview', 'United Kingdom', 'K02000001', '2021-03-26', 299, 456854),
 ('overview', 'United Kingdom', 'K02000001', '2021-03-25', 338, 456555),
 ('overview', 'United Kingdom', 'K02000001', '2021-03-24', 348, 456217),
 ('overview', 'United Kingdom', 'K02000001', '2021-03-23', 366, 455869),
 ('overview', 'United Kingdom', 'K02000001', '2021-03-22', 360, 455503),
 ('overview', 'United Kingdom', 'K02000001', '2021-03-21', 357, 455143),
 ('overview', 'United Kingdom', 'K02000001', '2021-03-20', 364, 454786),
 ('overview', 'United Kingdom', 'K02000001', '2021-03-19', 381, 454422),
 ('overview', 'United Kingdom', 'K02000001', '2021-03-18', 449, 454041),
 ('overview', 'United Kingdom', 'K02000001', '2021-03-17', 446, 453592),
 ('overview', 'United Kingdom', 'K02000001', '2021-03-16', 440, 453146),
 ('overview', 'United Kingdom', 'K02000001', '2021-03-15', 500, 452706),
 ('overview', 'United Kingdom', 'K02000001', '2021-03-14', 425, 452206),
 ('overview', 'United Kingdom', 'K02000001', '2021-03-13', 461, 451781),
 ('overview', 'United Kingdom', 'K02000001', '2021-03-12', 480, 451320),
 ('overview', 'United Kingdom', 'K02000001', '2021-03-11', 550, 450840),
 ('overview', 'United Kingdom', 'K02000001', '2021-03-10', 567, 450290),
 ('overview', 'United Kingdom', 'K02000001', '2021-03-09', 579, 449723),
 ('overview', 'United Kingdom', 'K02000001', '2021-03-08', 576, 449144),
 ('overview', 'United Kingdom', 'K02000001', '2021-03-07', 536, 448568),
 ('overview', 'United Kingdom', 'K02000001', '2021-03-06', 637, 448032),
 ('overview', 'United Kingdom', 'K02000001', '2021-03-05', 599, 447395),
 ('overview', 'United Kingdom', 'K02000001', '2021-03-04', 702, 446796),
 ('overview', 'United Kingdom', 'K02000001', '2021-03-03', 714, 446094),
 ('overview', 'United Kingdom', 'K02000001', '2021-03-02', 834, 445380),
 ('overview', 'United Kingdom', 'K02000001', '2021-03-01', 821, 444546),
 ('overview', 'United Kingdom', 'K02000001', '2021-02-28', 770, 443725),
 ('overview', 'United Kingdom', 'K02000001', '2021-02-27', 741, 442955),
 ('overview', 'United Kingdom', 'K02000001', '2021-02-26', 862, 442214),
 ('overview', 'United Kingdom', 'K02000001', '2021-02-25', 968, 441352),
 ('overview', 'United Kingdom', 'K02000001', '2021-02-24', 1020, 440384),
 ('overview', 'United Kingdom', 'K02000001', '2021-02-23', 1119, 439364),
 ('overview', 'United Kingdom', 'K02000001', '2021-02-22', 1119, 438245),
 ('overview', 'United Kingdom', 'K02000001', '2021-02-21', 1155, 437126),
 ('overview', 'United Kingdom', 'K02000001', '2021-02-20', 1087, 435971),
 ('overview', 'United Kingdom', 'K02000001', '2021-02-19', 1270, 434884),
 ('overview', 'United Kingdom', 'K02000001', '2021-02-18', 1335, 433614),
 ('overview', 'United Kingdom', 'K02000001', '2021-02-17', 1408, 432279),
 ('overview', 'United Kingdom', 'K02000001', '2021-02-16', 1492, 430871),
 ('overview', 'United Kingdom', 'K02000001', '2021-02-15', 1503, 429379),
 ('overview', 'United Kingdom', 'K02000001', '2021-02-14', 1534, 427876),
 ('overview', 'United Kingdom', 'K02000001', '2021-02-13', 1426, 426342),
 ('overview', 'United Kingdom', 'K02000001', '2021-02-12', 1507, 424916),
 ('overview', 'United Kingdom', 'K02000001', '2021-02-11', 1678, 423409),
 ('overview', 'United Kingdom', 'K02000001', '2021-02-10', 1725, 421731),
 ('overview', 'United Kingdom', 'K02000001', '2021-02-09', 1753, 420006),
 ('overview', 'United Kingdom', 'K02000001', '2021-02-08', 1919, 418253),
 ('overview', 'United Kingdom', 'K02000001', '2021-02-07', 1849, 416334),
 ('overview', 'United Kingdom', 'K02000001', '2021-02-06', 1891, 414485),
 ('overview', 'United Kingdom', 'K02000001', '2021-02-05', 2005, 412594),
 ('overview', 'United Kingdom', 'K02000001', '2021-02-04', 2142, 410589),
 ('overview', 'United Kingdom', 'K02000001', '2021-02-03', 2358, 408447),
 ('overview', 'United Kingdom', 'K02000001', '2021-02-02', 2479, 406089),
 ('overview', 'United Kingdom', 'K02000001', '2021-02-01', 2600, 403610),
 ('overview', 'United Kingdom', 'K02000001', '2021-01-31', 2402, 401010),
 ('overview', 'United Kingdom', 'K02000001', '2021-01-30', 2471, 398608),
 ('overview', 'United Kingdom', 'K02000001', '2021-01-29', 2685, 396137),
 ('overview', 'United Kingdom', 'K02000001', '2021-01-28', 3041, 393452),
 ('overview', 'United Kingdom', 'K02000001', '2021-01-27', 3058, 390411),
 ('overview', 'United Kingdom', 'K02000001', '2021-01-26', 3144, 387353),
 ('overview', 'United Kingdom', 'K02000001', '2021-01-25', 2930, 384209),
 ('overview', 'United Kingdom', 'K02000001', '2021-01-24', 3110, 381279),
 ('overview', 'United Kingdom', 'K02000001', '2021-01-23', 3112, 378169),
 ('overview', 'United Kingdom', 'K02000001', '2021-01-22', 3391, 375057),
 ('overview', 'United Kingdom', 'K02000001', '2021-01-21', 3632, 371666),
 ('overview', 'United Kingdom', 'K02000001', '2021-01-20', 4044, 368034),
 ('overview', 'United Kingdom', 'K02000001', '2021-01-19', 4158, 363990),
 ('overview', 'United Kingdom', 'K02000001', '2021-01-18', 4063, 359832),
 ('overview', 'United Kingdom', 'K02000001', '2021-01-17', 3748, 355769),
 ('overview', 'United Kingdom', 'K02000001', '2021-01-16', 3938, 352021),
 ('overview', 'United Kingdom', 'K02000001', '2021-01-15', 3675, 348083),
 ('overview', 'United Kingdom', 'K02000001', '2021-01-14', 4099, 344408),
 ('overview', 'United Kingdom', 'K02000001', '2021-01-13', 4224, 340309),
 ('overview', 'United Kingdom', 'K02000001', '2021-01-12', 4577, 336085),
 ('overview', 'United Kingdom', 'K02000001', '2021-01-11', 4309, 331508),
 ('overview', 'United Kingdom', 'K02000001', '2021-01-10', 3931, 327199),
 ('overview', 'United Kingdom', 'K02000001', '2021-01-09', 4126, 323268),
 ('overview', 'United Kingdom', 'K02000001', '2021-01-08', 3997, 319142),
 ('overview', 'United Kingdom', 'K02000001', '2021-01-07', 4291, 315145),
 ('overview', 'United Kingdom', 'K02000001', '2021-01-06', 4394, 310854),
 ('overview', 'United Kingdom', 'K02000001', '2021-01-05', 4116, 306460),
 ('overview', 'United Kingdom', 'K02000001', '2021-01-04', 3936, 302344),
 ('overview', 'United Kingdom', 'K02000001', '2021-01-03', 3648, 298408),
 ('overview', 'United Kingdom', 'K02000001', '2021-01-02', 3439, 294760),
 ('overview', 'United Kingdom', 'K02000001', '2021-01-01', 3368, 291321),
 ('overview', 'United Kingdom', 'K02000001', '2020-12-31', 2915, 287953),
 ('overview', 'United Kingdom', 'K02000001', '2020-12-30', 3286, 285038),
 ('overview', 'United Kingdom', 'K02000001', '2020-12-29', 3250, 281752),
 ('overview', 'United Kingdom', 'K02000001', '2020-12-28', 3131, 278502),
 ('overview', 'United Kingdom', 'K02000001', '2020-12-27', 2871, 275371),
 ('overview', 'United Kingdom', 'K02000001', '2020-12-26', 2529, 272500),
 ('overview', 'United Kingdom', 'K02000001', '2020-12-25', 2182, 269971),
 ('overview', 'United Kingdom', 'K02000001', '2020-12-24', 2082, 267789),
 ('overview', 'United Kingdom', 'K02000001', '2020-12-23', 2274, 265707),
 ('overview', 'United Kingdom', 'K02000001', '2020-12-22', 2478, 263433),
 ('overview', 'United Kingdom', 'K02000001', '2020-12-21', 2369, 260955),
 ('overview', 'United Kingdom', 'K02000001', '2020-12-20', 2167, 258586),
 ('overview', 'United Kingdom', 'K02000001', '2020-12-19', 2044, 256419),
 ('overview', 'United Kingdom', 'K02000001', '2020-12-18', 1918, 254375),
 ('overview', 'United Kingdom', 'K02000001', '2020-12-17', 2144, 252457),
 ('overview', 'United Kingdom', 'K02000001', '2020-12-16', 2079, 250313),
 ('overview', 'United Kingdom', 'K02000001', '2020-12-15', 1957, 248234),
 ('overview', 'United Kingdom', 'K02000001', '2020-12-14', 1954, 246277),
 ('overview', 'United Kingdom', 'K02000001', '2020-12-13', 1753, 244323),
 ('overview', 'United Kingdom', 'K02000001', '2020-12-12', 1799, 242570),
 ('overview', 'United Kingdom', 'K02000001', '2020-12-11', 1686, 240771),
 ('overview', 'United Kingdom', 'K02000001', '2020-12-10', 1751, 239085),
 ('overview', 'United Kingdom', 'K02000001', '2020-12-09', 1752, 237334),
 ('overview', 'United Kingdom', 'K02000001', '2020-12-08', 1783, 235582),
 ('overview', 'United Kingdom', 'K02000001', '2020-12-07', 1660, 233799),
 ('overview', 'United Kingdom', 'K02000001', '2020-12-06', 1470, 232139),
 ('overview', 'United Kingdom', 'K02000001', '2020-12-05', 1378, 230669),
 ('overview', 'United Kingdom', 'K02000001', '2020-12-04', 1433, 229291),
 ('overview', 'United Kingdom', 'K02000001', '2020-12-03', 1502, 227858),
 ('overview', 'United Kingdom', 'K02000001', '2020-12-02', 1488, 226356),
 ('overview', 'United Kingdom', 'K02000001', '2020-12-01', 1491, 224868),
 ('overview', 'United Kingdom', 'K02000001', '2020-11-30', 1404, 223377),
 ('overview', 'United Kingdom', 'K02000001', '2020-11-29', 1384, 221973),
 ('overview', 'United Kingdom', 'K02000001', '2020-11-28', 1220, 220589),
 ('overview', 'United Kingdom', 'K02000001', '2020-11-27', 1280, 219369),
 ('overview', 'United Kingdom', 'K02000001', '2020-11-26', 1424, 218089),
 ('overview', 'United Kingdom', 'K02000001', '2020-11-25', 1613, 216665),
 ('overview', 'United Kingdom', 'K02000001', '2020-11-24', 1496, 215052),
 ('overview', 'United Kingdom', 'K02000001', '2020-11-23', 1587, 213556),
 ('overview', 'United Kingdom', 'K02000001', '2020-11-22', 1488, 211969),
 ('overview', 'United Kingdom', 'K02000001', '2020-11-21', 1460, 210481),
 ('overview', 'United Kingdom', 'K02000001', '2020-11-20', 1547, 209021),
 ('overview', 'United Kingdom', 'K02000001', '2020-11-19', 1685, 207474),
 ('overview', 'United Kingdom', 'K02000001', '2020-11-18', 1782, 205789),
 ('overview', 'United Kingdom', 'K02000001', '2020-11-17', 1715, 204007),
 ('overview', 'United Kingdom', 'K02000001', '2020-11-16', 1768, 202292),
 ('overview', 'United Kingdom', 'K02000001', '2020-11-15', 1670, 200524),
 ('overview', 'United Kingdom', 'K02000001', '2020-11-14', 1612, 198854),
 ('overview', 'United Kingdom', 'K02000001', '2020-11-13', 1647, 197242),
 ('overview', 'United Kingdom', 'K02000001', '2020-11-12', 1914, 195595),
 ('overview', 'United Kingdom', 'K02000001', '2020-11-11', 1970, 193681),
 ('overview', 'United Kingdom', 'K02000001', '2020-11-10', 1847, 191711),
 ('overview', 'United Kingdom', 'K02000001', '2020-11-09', 1763, 189864),
 ('overview', 'United Kingdom', 'K02000001', '2020-11-08', 1687, 188101),
 ('overview', 'United Kingdom', 'K02000001', '2020-11-07', 1555, 186414),
 ('overview', 'United Kingdom', 'K02000001', '2020-11-06', 1414, 184859),
 ('overview', 'United Kingdom', 'K02000001', '2020-11-05', 1586, 183445),
 ('overview', 'United Kingdom', 'K02000001', '2020-11-04', 1677, 181859),
 ('overview', 'United Kingdom', 'K02000001', '2020-11-03', 1515, 180182),
 ('overview', 'United Kingdom', 'K02000001', '2020-11-02', 1566, 178667),
 ('overview', 'United Kingdom', 'K02000001', '2020-11-01', 1487, 177101),
 ('overview', 'United Kingdom', 'K02000001', '2020-10-31', 1458, 175614),
 ('overview', 'United Kingdom', 'K02000001', '2020-10-30', 1373, 174156),
 ('overview', 'United Kingdom', 'K02000001', '2020-10-29', 1584, 172783),
 ('overview', 'United Kingdom', 'K02000001', '2020-10-28', 1485, 171199),
 ('overview', 'United Kingdom', 'K02000001', '2020-10-27', 1489, 169714),
 ('overview', 'United Kingdom', 'K02000001', '2020-10-26', 1532, 168225),
 ('overview', 'United Kingdom', 'K02000001', '2020-10-25', 1420, 166693),
 ('overview', 'United Kingdom', 'K02000001', '2020-10-24', 1256, 165273),
 ('overview', 'United Kingdom', 'K02000001', '2020-10-23', 1290, 164017),
 ('overview', 'United Kingdom', 'K02000001', '2020-10-22', 1275, 162727),
 ('overview', 'United Kingdom', 'K02000001', '2020-10-21', 1258, 161452),
 ('overview', 'United Kingdom', 'K02000001', '2020-10-20', 1187, 160194),
 ('overview', 'United Kingdom', 'K02000001', '2020-10-19', 1094, 159007),
 ('overview', 'United Kingdom', 'K02000001', '2020-10-18', 1086, 157913),
 ('overview', 'United Kingdom', 'K02000001', '2020-10-17', 1025, 156827),
 ('overview', 'United Kingdom', 'K02000001', '2020-10-16', 911, 155802),
 ('overview', 'United Kingdom', 'K02000001', '2020-10-15', 1044, 154891),
 ('overview', 'United Kingdom', 'K02000001', '2020-10-14', 980, 153847),
 ('overview', 'United Kingdom', 'K02000001', '2020-10-13', 1022, 152867),
 ('overview', 'United Kingdom', 'K02000001', '2020-10-12', 884, 151845),
 ('overview', 'United Kingdom', 'K02000001', '2020-10-11', 823, 150961),
 ('overview', 'United Kingdom', 'K02000001', '2020-10-10', 720, 150138),
 ('overview', 'United Kingdom', 'K02000001', '2020-10-09', 703, 149418),
 ('overview', 'United Kingdom', 'K02000001', '2020-10-08', 711, 148715),
 ('overview', 'United Kingdom', 'K02000001', '2020-10-07', 683, 148004),
 ('overview', 'United Kingdom', 'K02000001', '2020-10-06', 722, 147321),
 ('overview', 'United Kingdom', 'K02000001', '2020-10-05', 623, 146599),
 ('overview', 'United Kingdom', 'K02000001', '2020-10-04', 628, 145976),
 ('overview', 'United Kingdom', 'K02000001', '2020-10-03', 532, 145348),
 ('overview', 'United Kingdom', 'K02000001', '2020-10-02', 528, 144816),
 ('overview', 'United Kingdom', 'K02000001', '2020-10-01', 523, 144288),
 ('overview', 'United Kingdom', 'K02000001', '2020-09-30', 452, 143765),
 ('overview', 'United Kingdom', 'K02000001', '2020-09-29', 440, 143313),
 ('overview', 'United Kingdom', 'K02000001', '2020-09-28', 443, 142873),
 ('overview', 'United Kingdom', 'K02000001', '2020-09-27', 340, 142430),
 ('overview', 'United Kingdom', 'K02000001', '2020-09-26', 351, 142090),
 ('overview', 'United Kingdom', 'K02000001', '2020-09-25', 383, 141739),
 ('overview', 'United Kingdom', 'K02000001', '2020-09-24', 422, 141356),
 ('overview', 'United Kingdom', 'K02000001', '2020-09-23', 421, 140934),
 ('overview', 'United Kingdom', 'K02000001', '2020-09-22', 350, 140513),
 ('overview', 'United Kingdom', 'K02000001', '2020-09-21', 369, 140163),
 ('overview', 'United Kingdom', 'K02000001', '2020-09-20', 289, 139794),
 ('overview', 'United Kingdom', 'K02000001', '2020-09-19', 260, 139505),
 ('overview', 'United Kingdom', 'K02000001', '2020-09-18', 262, 139245),
 ('overview', 'United Kingdom', 'K02000001', '2020-09-17', 264, 138983),
 ('overview', 'United Kingdom', 'K02000001', '2020-09-16', 284, 138719),
 ('overview', 'United Kingdom', 'K02000001', '2020-09-15', 270, 138435),
 ('overview', 'United Kingdom', 'K02000001', '2020-09-14', 255, 138165),
 ('overview', 'United Kingdom', 'K02000001', '2020-09-13', 226, 137910),
 ('overview', 'United Kingdom', 'K02000001', '2020-09-12', 216, 137684),
 ('overview', 'United Kingdom', 'K02000001', '2020-09-11', 231, 137468),
 ('overview', 'United Kingdom', 'K02000001', '2020-09-10', 218, 137237),
 ('overview', 'United Kingdom', 'K02000001', '2020-09-09', 202, 137019),
 ('overview', 'United Kingdom', 'K02000001', '2020-09-08', 184, 136817),
 ('overview', 'United Kingdom', 'K02000001', '2020-09-07', 142, 136633),
 ('overview', 'United Kingdom', 'K02000001', '2020-09-06', 138, 136491),
 ('overview', 'United Kingdom', 'K02000001', '2020-09-05', 130, 136353),
 ('overview', 'United Kingdom', 'K02000001', '2020-09-04', 153, 136223),
 ('overview', 'United Kingdom', 'K02000001', '2020-09-03', 145, 136070),
 ('overview', 'United Kingdom', 'K02000001', '2020-09-02', 146, 135925),
 ('overview', 'United Kingdom', 'K02000001', '2020-09-01', 134, 135779),
 ('overview', 'United Kingdom', 'K02000001', '2020-08-31', 91, 135645),
 ('overview', 'United Kingdom', 'K02000001', '2020-08-30', 77, 135554),
 ('overview', 'United Kingdom', 'K02000001', '2020-08-29', 110, 135477),
 ('overview', 'United Kingdom', 'K02000001', '2020-08-28', 137, 135367),
 ('overview', 'United Kingdom', 'K02000001', '2020-08-27', 152, 135230),
 ('overview', 'United Kingdom', 'K02000001', '2020-08-26', 132, 135078),
 ('overview', 'United Kingdom', 'K02000001', '2020-08-25', 121, 134946),
 ('overview', 'United Kingdom', 'K02000001', '2020-08-24', 91, 134825),
 ('overview', 'United Kingdom', 'K02000001', '2020-08-23', 74, 134734),
 ('overview', 'United Kingdom', 'K02000001', '2020-08-22', 72, 134660),
 ('overview', 'United Kingdom', 'K02000001', '2020-08-21', 109, 134588),
 ('overview', 'United Kingdom', 'K02000001', '2020-08-20', 98, 134479),
 ('overview', 'United Kingdom', 'K02000001', '2020-08-19', 115, 134381),
 ('overview', 'United Kingdom', 'K02000001', '2020-08-18', 130, 134266),
 ('overview', 'United Kingdom', 'K02000001', '2020-08-17', 96, 134136),
 ('overview', 'United Kingdom', 'K02000001', '2020-08-16', 80, 134040),
 ('overview', 'United Kingdom', 'K02000001', '2020-08-15', 99, 133960),
 ('overview', 'United Kingdom', 'K02000001', '2020-08-14', 102, 133861),
 ('overview', 'United Kingdom', 'K02000001', '2020-08-13', 130, 133759),
 ('overview', 'United Kingdom', 'K02000001', '2020-08-12', 101, 133629),
 ('overview', 'United Kingdom', 'K02000001', '2020-08-11', 114, 133528),
 ('overview', 'United Kingdom', 'K02000001', '2020-08-10', 86, 133414),
 ('overview', 'United Kingdom', 'K02000001', '2020-08-09', 106, 133328),
 ('overview', 'United Kingdom', 'K02000001', '2020-08-08', 141, 133222),
 ('overview', 'United Kingdom', 'K02000001', '2020-08-07', 117, 133081),
 ('overview', 'United Kingdom', 'K02000001', '2020-08-06', 101, 132964),
 ('overview', 'United Kingdom', 'K02000001', '2020-08-05', 140, 132863),
 ('overview', 'United Kingdom', 'K02000001', '2020-08-04', 127, 132723),

4. Virus testes conductes

In [16]:
c.execute('''DROP TABLE IF EXISTS Virus_tested''')
c.execute('''CREATE TABLE Virus_tested ( areaType,areaName,areaCode, date,newVirusTests,cumVirusTests)''')
Virus_tested.to_sql('Virus_tested', conn, if_exists='append', index = False)
#c.execute('''SELECT * FROM Virus_tested''').fetchall()

[('overview',
  'United Kingdom',
  'K02000001',
  '2021-05-06',
  1067566.0,
  159580869),
 ('overview',
  'United Kingdom',
  'K02000001',
  '2021-05-05',
  1214689.0,
  158363333),
 ('overview',
  'United Kingdom',
  'K02000001',
  '2021-05-04',
  860368.0,
  157088742),
 ('overview',
  'United Kingdom',
  'K02000001',
  '2021-05-03',
  1069724.0,
  156093792),
 ('overview',
  'United Kingdom',
  'K02000001',
  '2021-05-02',
  832918.0,
  154880126),
 ('overview',
  'United Kingdom',
  'K02000001',
  '2021-05-01',
  485640.0,
  154011981),
 ('overview',
  'United Kingdom',
  'K02000001',
  '2021-04-30',
  667686.0,
  153491922),
 ('overview',
  'United Kingdom',
  'K02000001',
  '2021-04-29',
  1072576.0,
  152743200),
 ('overview',
  'United Kingdom',
  'K02000001',
  '2021-04-28',
  1360719.0,
  151516625),
 ('overview',
  'United Kingdom',
  'K02000001',
  '2021-04-27',
  730262.0,
  150101360),
 ('overview',
  'United Kingdom',
  'K02000001',
  '2021-04-26',
  1034181.0,
  149291858),
 ('overview',
  'United Kingdom',
  'K02000001',
  '2021-04-25',
  1477709.0,
  148076928),
 ('overview',
  'United Kingdom',
  'K02000001',
  '2021-04-24',
  502663.0,
  146560366),
 ('overview',
  'United Kingdom',
  'K02000001',
  '2021-04-23',
  722997.0,
  146022203),
 ('overview',
  'United Kingdom',
  'K02000001',
  '2021-04-22',
  1111876.0,
  145213900),
 ('overview',
  'United Kingdom',
  'K02000001',
  '2021-04-21',
  1371393.0,
  143949153),
 ('overview',
  'United Kingdom',
  'K02000001',
  '2021-04-20',
  730210.0,
  142527783),
 ('overview',
  'United Kingdom',
  'K02000001',
  '2021-04-19',
  1041368.0,
  141704576),
 ('overview',
  'United Kingdom',
  'K02000001',
  '2021-04-18',
  1673788.0,
  140486853),
 ('overview',
  'United Kingdom',
  'K02000001',
  '2021-04-17',
  492826.0,
  138771896),
 ('overview',
  'United Kingdom',
  'K02000001',
  '2021-04-16',
  681887.0,
  138241531),
 ('overview',
  'United Kingdom',
  'K02000001',
  '2021-04-15',
  988311.0,
  137478788),
 ('overview',
  'United Kingdom',
  'K02000001',
  '2021-04-14',
  1162840.0,
  136363617),
 ('overview',
  'United Kingdom',
  'K02000001',
  '2021-04-13',
  679109.0,
  135152009),
 ('overview',
  'United Kingdom',
  'K02000001',
  '2021-04-12',
  874399.0,
  134397573),
 ('overview',
  'United Kingdom',
  'K02000001',
  '2021-04-11',
  1218037.0,
  133375844),
 ('overview',
  'United Kingdom',
  'K02000001',
  '2021-04-10',
  482153.0,
  132121175),
 ('overview',
  'United Kingdom',
  'K02000001',
  '2021-04-09',
  676307.0,
  131601153),
 ('overview',
  'United Kingdom',
  'K02000001',
  '2021-04-08',
  931579.0,
  130849530),
 ('overview',
  'United Kingdom',
  'K02000001',
  '2021-04-07',
  1034088.0,
  129798698),
 ('overview',
  'United Kingdom',
  'K02000001',
  '2021-04-06',
  631846.0,
  128712320),
 ('overview',
  'United Kingdom',
  'K02000001',
  '2021-04-05',
  741323.0,
  128000297),
 ('overview',
  'United Kingdom',
  'K02000001',
  '2021-04-04',
  813693.0,
  127128065),
 ('overview',
  'United Kingdom',
  'K02000001',
  '2021-04-03',
  405634.0,
  126284831),
 ('overview',
  'United Kingdom',
  'K02000001',
  '2021-04-02',
  555613.0,
  125844450),
 ('overview',
  'United Kingdom',
  'K02000001',
  '2021-04-01',
  953206.0,
  125225481),
 ('overview',
  'United Kingdom',
  'K02000001',
  '2021-03-31',
  1266685.0,
  124147198),
 ('overview',
  'United Kingdom',
  'K02000001',
  '2021-03-30',
  695477.0,
  122824208),
 ('overview',
  'United Kingdom',
  'K02000001',
  '2021-03-29',
  972317.0,
  122092382),
 ('overview',
  'United Kingdom',
  'K02000001',
  '2021-03-28',
  1641942.0,
  121071863),
 ('overview',
  'United Kingdom',
  'K02000001',
  '2021-03-27',
  471328.0,
  119404185),
 ('overview',
  'United Kingdom',
  'K02000001',
  '2021-03-26',
  722814.0,
  118903237),
 ('overview',
  'United Kingdom',
  'K02000001',
  '2021-03-25',
  1275285.0,
  118144044),
 ('overview',
  'United Kingdom',
  'K02000001',
  '2021-03-24',
  1813842.0,
  116704955),
 ('overview',
  'United Kingdom',
  'K02000001',
  '2021-03-23',
  839954.0,
  114841325),
 ('overview',
  'United Kingdom',
  'K02000001',
  '2021-03-22',
  1191048.0,
  113930657),
 ('overview',
  'United Kingdom',
  'K02000001',
  '2021-03-21',
  1893830.0,
  112602641),
 ('overview',
  'United Kingdom',
  'K02000001',
  '2021-03-20',
  473050.0,
  110684841),
 ('overview',
  'United Kingdom',
  'K02000001',
  '2021-03-19',
  933234.0,
  110180128),
 ('overview',
  'United Kingdom',
  'K02000001',
  '2021-03-18',
  1437257.0,
  109160007),
 ('overview',
  'United Kingdom',
  'K02000001',
  '2021-03-17',
  1635141.0,
  107584947),
 ('overview',
  'United Kingdom',
  'K02000001',
  '2021-03-16',
  1319784.0,
  105849755),
 ('overview',
  'United Kingdom',
  'K02000001',
  '2021-03-15',
  1573774.0,
  104422879),
 ('overview',
  'United Kingdom',
  'K02000001',
  '2021-03-14',
  965127.0,
  102739526),
 ('overview',
  'United Kingdom',
  'K02000001',
  '2021-03-13',
  437958.0,
  101747711),
 ('overview',
  'United Kingdom',
  'K02000001',
  '2021-03-12',
  1402203.0,
  101275568),
 ('overview',
  'United Kingdom',
  'K02000001',
  '2021-03-11',
  1614145.0,
  99753919),
 ('overview',
  'United Kingdom',
  'K02000001',
  '2021-03-10',
  1554080.0,
  98018418),
 ('overview',
  'United Kingdom',
  'K02000001',
  '2021-03-09',
  1374579.0,
  96352115),
 ('overview',
  'United Kingdom',
  'K02000001',
  '2021-03-08',
  1529525.0,
  94863125),
 ('overview', 'United Kingdom', 'K02000001', '2021-03-07', 805744.0, 93252192),
 ('overview', 'United Kingdom', 'K02000001', '2021-03-06', 452750.0, 92427640),
 ('overview', 'United Kingdom', 'K02000001', '2021-03-05', 953671.0, 91944455),
 ('overview', 'United Kingdom', 'K02000001', '2021-03-04', 992812.0, 90933060),
 ('overview', 'United Kingdom', 'K02000001', '2021-03-03', 863658.0, 89887019),
 ('overview', 'United Kingdom', 'K02000001', '2021-03-02', 675543.0, 88994478),
 ('overview', 'United Kingdom', 'K02000001', '2021-03-01', 727972.0, 88264597),
 ('overview', 'United Kingdom', 'K02000001', '2021-02-28', 526679.0, 87496888),
 ('overview', 'United Kingdom', 'K02000001', '2021-02-27', 383946.0, 86950527),
 ('overview', 'United Kingdom', 'K02000001', '2021-02-26', 604745.0, 86554704),
 ('overview', 'United Kingdom', 'K02000001', '2021-02-25', 731410.0, 85925041),
 ('overview', 'United Kingdom', 'K02000001', '2021-02-24', 740717.0, 85153541),
 ('overview', 'United Kingdom', 'K02000001', '2021-02-23', 594629.0, 84392344),
 ('overview', 'United Kingdom', 'K02000001', '2021-02-22', 670560.0, 83769892),
 ('overview', 'United Kingdom', 'K02000001', '2021-02-21', 590591.0, 83063780),
 ('overview', 'United Kingdom', 'K02000001', '2021-02-20', 408118.0, 82463979),
 ('overview', 'United Kingdom', 'K02000001', '2021-02-19', 521230.0, 82046229),
 ('overview', 'United Kingdom', 'K02000001', '2021-02-18', 560400.0, 81507154),
 ('overview', 'United Kingdom', 'K02000001', '2021-02-17', 578844.0, 80926591),
 ('overview', 'United Kingdom', 'K02000001', '2021-02-16', 488578.0, 80331919),
 ('overview', 'United Kingdom', 'K02000001', '2021-02-15', 457144.0, 79818755),
 ('overview', 'United Kingdom', 'K02000001', '2021-02-14', 401786.0, 79338077),
 ('overview', 'United Kingdom', 'K02000001', '2021-02-13', 403600.0, 78928253),
 ('overview', 'United Kingdom', 'K02000001', '2021-02-12', 626243.0, 78511498),
 ('overview', 'United Kingdom', 'K02000001', '2021-02-11', 730223.0, 77862609),
 ('overview', 'United Kingdom', 'K02000001', '2021-02-10', 763311.0, 77090265),
 ('overview', 'United Kingdom', 'K02000001', '2021-02-09', 579266.0, 76297866),
 ('overview', 'United Kingdom', 'K02000001', '2021-02-08', 616718.0, 75693515),
 ('overview', 'United Kingdom', 'K02000001', '2021-02-07', 584933.0, 75043566),
 ('overview', 'United Kingdom', 'K02000001', '2021-02-06', 454008.0, 74437279),
 ('overview', 'United Kingdom', 'K02000001', '2021-02-05', 671585.0, 73971219),
 ('overview', 'United Kingdom', 'K02000001', '2021-02-04', 783851.0, 73277874),
 ('overview', 'United Kingdom', 'K02000001', '2021-02-03', 801949.0, 72464146),
 ('overview', 'United Kingdom', 'K02000001', '2021-02-02', 606382.0, 71642534),
 ('overview', 'United Kingdom', 'K02000001', '2021-02-01', 643204.0, 71011933),
 ('overview', 'United Kingdom', 'K02000001', '2021-01-31', 574012.0, 70340312),
 ('overview', 'United Kingdom', 'K02000001', '2021-01-30', 439006.0, 69736280),
 ('overview', 'United Kingdom', 'K02000001', '2021-01-29', 662675.0, 69288509),
 ('overview', 'United Kingdom', 'K02000001', '2021-01-28', 753031.0, 68606924),
 ('overview', 'United Kingdom', 'K02000001', '2021-01-27', 771710.0, 67828936),
 ('overview', 'United Kingdom', 'K02000001', '2021-01-26', 596845.0, 67040373),
 ('overview', 'United Kingdom', 'K02000001', '2021-01-25', 542893.0, 66422967),
 ('overview', 'United Kingdom', 'K02000001', '2021-01-24', 412204.0, 65861305),
 ('overview', 'United Kingdom', 'K02000001', '2021-01-23', 484485.0, 65442601),
 ('overview', 'United Kingdom', 'K02000001', '2021-01-22', 629416.0, 64951149),
 ('overview', 'United Kingdom', 'K02000001', '2021-01-21', 665330.0, 64303048),
 ('overview', 'United Kingdom', 'K02000001', '2021-01-20', 640856.0, 63623219),
 ('overview', 'United Kingdom', 'K02000001', '2021-01-19', 579194.0, 62956912),
 ('overview', 'United Kingdom', 'K02000001', '2021-01-18', 556689.0, 62357805),
 ('overview', 'United Kingdom', 'K02000001', '2021-01-17', 417329.0, 61774304),
 ('overview', 'United Kingdom', 'K02000001', '2021-01-16', 491137.0, 61349606),
 ('overview', 'United Kingdom', 'K02000001', '2021-01-15', 596727.0, 60848505),
 ('overview', 'United Kingdom', 'K02000001', '2021-01-14', 695148.0, 60242686),
 ('overview', 'United Kingdom', 'K02000001', '2021-01-13', 628556.0, 59538320),
 ('overview', 'United Kingdom', 'K02000001', '2021-01-12', 584760.0, 58891289),
 ('overview', 'United Kingdom', 'K02000001', '2021-01-11', 536947.0, 58297536),
 ('overview', 'United Kingdom', 'K02000001', '2021-01-10', 485874.0, 57747184),
 ('overview', 'United Kingdom', 'K02000001', '2021-01-09', 567302.0, 57258926),
 ('overview', 'United Kingdom', 'K02000001', '2021-01-08', 680215.0, 56689419),
 ('overview', 'United Kingdom', 'K02000001', '2021-01-07', 619941.0, 56003851),
 ('overview', 'United Kingdom', 'K02000001', '2021-01-06', 557441.0, 55378721),
 ('overview', 'United Kingdom', 'K02000001', '2021-01-05', 498624.0, 54808079),
 ('overview', 'United Kingdom', 'K02000001', '2021-01-04', 464611.0, 54302701),
 ('overview', 'United Kingdom', 'K02000001', '2021-01-03', 428770.0, 53825846),
 ('overview', 'United Kingdom', 'K02000001', '2021-01-02', 411523.0, 53396177),
 ('overview', 'United Kingdom', 'K02000001', '2021-01-01', 422804.0, 52983845),
 ('overview', 'United Kingdom', 'K02000001', '2020-12-31', 482473.0, 52560089),
 ('overview', 'United Kingdom', 'K02000001', '2020-12-30', 420492.0, 52058247),
 ('overview', 'United Kingdom', 'K02000001', '2020-12-29', 344775.0, 51635380),
 ('overview', 'United Kingdom', 'K02000001', '2020-12-28', 357238.0, 51289157),
 ('overview', 'United Kingdom', 'K02000001', '2020-12-27', 352702.0, 50931123),
 ('overview', 'United Kingdom', 'K02000001', '2020-12-26', 269876.0, 50509650),
 ('overview', 'United Kingdom', 'K02000001', '2020-12-25', 339024.0, 50239228),
 ('overview', 'United Kingdom', 'K02000001', '2020-12-24', 463123.0, 49899989),
 ('overview', 'United Kingdom', 'K02000001', '2020-12-23', 509507.0, 49436437),
 ('overview', 'United Kingdom', 'K02000001', '2020-12-22', 453903.0, 48926548),
 ('overview', 'United Kingdom', 'K02000001', '2020-12-21', 423675.0, 48469931),
 ('overview', 'United Kingdom', 'K02000001', '2020-12-20', 433470.0, 48036807),
 ('overview', 'United Kingdom', 'K02000001', '2020-12-19', 440584.0, 47603238),
 ('overview', 'United Kingdom', 'K02000001', '2020-12-18', 390130.0, 47162512),
 ('overview', 'United Kingdom', 'K02000001', '2020-12-17', 375185.0, 46771368),
 ('overview', 'United Kingdom', 'K02000001', '2020-12-16', 364388.0, 46373777),
 ('overview', 'United Kingdom', 'K02000001', '2020-12-15', 304360.0, 46009318),
 ('overview', 'United Kingdom', 'K02000001', '2020-12-14', 275772.0, 45696137),
 ('overview', 'United Kingdom', 'K02000001', '2020-12-13', 312273.0, 45420339),
 ('overview', 'United Kingdom', 'K02000001', '2020-12-12', 358491.0, 45108048),
 ('overview', 'United Kingdom', 'K02000001', '2020-12-11', 391531.0, 44749538),
 ('overview', 'United Kingdom', 'K02000001', '2020-12-10', 400646.0, 44357906),
 ('overview', 'United Kingdom', 'K02000001', '2020-12-09', 369586.0, 43957226),
 ('overview', 'United Kingdom', 'K02000001', '2020-12-08', 294966.0, 43574642),
 ('overview', 'United Kingdom', 'K02000001', '2020-12-07', 215981.0, 43279583),
 ('overview', 'United Kingdom', 'K02000001', '2020-12-06', 272787.0, 43061173),
 ('overview', 'United Kingdom', 'K02000001', '2020-12-05', 354799.0, 42788342),
 ('overview', 'United Kingdom', 'K02000001', '2020-12-04', 380886.0, 42433500),
 ('overview', 'United Kingdom', 'K02000001', '2020-12-03', 389476.0, 42052539),
 ('overview', 'United Kingdom', 'K02000001', '2020-12-02', 352990.0, 41660895),
 ('overview', 'United Kingdom', 'K02000001', '2020-12-01', 312003.0, 41307854),
 ('overview', 'United Kingdom', 'K02000001', '2020-11-30', 214835.0, 40989701),
 ('overview', 'United Kingdom', 'K02000001', '2020-11-29', 219899.0, 40756444),
 ('overview', 'United Kingdom', 'K02000001', '2020-11-28', 311126.0, 40534403),
 ('overview', 'United Kingdom', 'K02000001', '2020-11-27', 333917.0, 40223088),
 ('overview', 'United Kingdom', 'K02000001', '2020-11-26', 383521.0, 39888901),
 ('overview', 'United Kingdom', 'K02000001', '2020-11-25', 356026.0, 39504682),
 ('overview', 'United Kingdom', 'K02000001', '2020-11-24', 311763.0, 39149830),
 ('overview', 'United Kingdom', 'K02000001', '2020-11-23', 212533.0, 38834497),
 ('overview', 'United Kingdom', 'K02000001', '2020-11-22', 279041.0, 38620055),
 ('overview', 'United Kingdom', 'K02000001', '2020-11-21', 369040.0, 38336683),
 ('overview', 'United Kingdom', 'K02000001', '2020-11-20', 391667.0, 37967604),
 ('overview', 'United Kingdom', 'K02000001', '2020-11-19', 395436.0, 37575856),
 ('overview', 'United Kingdom', 'K02000001', '2020-11-18', 364490.0, 37172632),
 ('overview', 'United Kingdom', 'K02000001', '2020-11-17', 283358.0, 36797786),
 ('overview', 'United Kingdom', 'K02000001', '2020-11-16', 234189.0, 36513502),
 ('overview', 'United Kingdom', 'K02000001', '2020-11-15', 283866.0, 36260720),
 ('overview', 'United Kingdom', 'K02000001', '2020-11-14', 343784.0, 35978280),
 ('overview', 'United Kingdom', 'K02000001', '2020-11-13', 382110.0, 35634389),
 ('overview', 'United Kingdom', 'K02000001', '2020-11-12', 379955.0, 35252165),
 ('overview', 'United Kingdom', 'K02000001', '2020-11-11', 377608.0, 34871387),
 ('overview', 'United Kingdom', 'K02000001', '2020-11-10', 304843.0, 34490306),
 ('overview', 'United Kingdom', 'K02000001', '2020-11-09', 243245.0, 34185815),
 ('overview', 'United Kingdom', 'K02000001', '2020-11-08', 283397.0, 33941724),
 ('overview', 'United Kingdom', 'K02000001', '2020-11-07', 329430.0, 33655295),
 ('overview', 'United Kingdom', 'K02000001', '2020-11-06', 355032.0, 33325865),
 ('overview', 'United Kingdom', 'K02000001', '2020-11-05', 344159.0, 32970741),
 ('overview', 'United Kingdom', 'K02000001', '2020-11-04', 301288.0, 32622996),
 ('overview', 'United Kingdom', 'K02000001', '2020-11-03', 265136.0, 32309598),
 ('overview', 'United Kingdom', 'K02000001', '2020-11-02', 207831.0, 32038760),
 ('overview', 'United Kingdom', 'K02000001', '2020-11-01', 270473.0, 31817159),
 ('overview', 'United Kingdom', 'K02000001', '2020-10-31', 292573.0, 31544773),
 ('overview', 'United Kingdom', 'K02000001', '2020-10-30', 305207.0, 31249759),
 ('overview', 'United Kingdom', 'K02000001', '2020-10-29', 347632.0, 30941157),
 ('overview', 'United Kingdom', 'K02000001', '2020-10-28', 308810.0, 30591229),
 ('overview', 'United Kingdom', 'K02000001', '2020-10-27', 280997.0, 30282279),
 ('overview', 'United Kingdom', 'K02000001', '2020-10-26', 261861.0, 29994334),
 ('overview', 'United Kingdom', 'K02000001', '2020-10-25', 321114.0, 29729976),
 ('overview', 'United Kingdom', 'K02000001', '2020-10-24', 317896.0, 29408862),
 ('overview', 'United Kingdom', 'K02000001', '2020-10-23', 346682.0, 29090966),
 ('overview', 'United Kingdom', 'K02000001', '2020-10-22', 340137.0, 28744122),
 ('overview', 'United Kingdom', 'K02000001', '2020-10-21', 310331.0, 28399160),
 ('overview', 'United Kingdom', 'K02000001', '2020-10-20', 279996.0, 28078061),
 ('overview', 'United Kingdom', 'K02000001', '2020-10-19', 260338.0, 27795752),
 ('overview', 'United Kingdom', 'K02000001', '2020-10-18', 306893.0, 27533164),
 ('overview', 'United Kingdom', 'K02000001', '2020-10-17', 308416.0, 27226271),
 ('overview', 'United Kingdom', 'K02000001', '2020-10-16', 312178.0, 26917855),
 ('overview', 'United Kingdom', 'K02000001', '2020-10-15', 304315.0, 26605703),
 ('overview', 'United Kingdom', 'K02000001', '2020-10-14', 295690.0, 26301012),
 ('overview', 'United Kingdom', 'K02000001', '2020-10-13', 264713.0, 25999507),
 ('overview', 'United Kingdom', 'K02000001', '2020-10-12', 219074.0, 25697164),
 ('overview', 'United Kingdom', 'K02000001', '2020-10-11', 258955.0, 25476034),
 ('overview', 'United Kingdom', 'K02000001', '2020-10-10', 279606.0, 25217079),
 ('overview', 'United Kingdom', 'K02000001', '2020-10-09', 296559.0, 24937474),
 ('overview', 'United Kingdom', 'K02000001', '2020-10-08', 285015.0, 24640915),
 ('overview', 'United Kingdom', 'K02000001', '2020-10-07', 254579.0, 24337590),
 ('overview', 'United Kingdom', 'K02000001', '2020-10-06', 261336.0, 24081522),
 ('overview', 'United Kingdom', 'K02000001', '2020-10-05', 273100.0, 23818928),
 ('overview', 'United Kingdom', 'K02000001', '2020-10-04', 250348.0, 23545565),
 ('overview', 'United Kingdom', 'K02000001', '2020-10-03', 286802.0, 23295217),
 ('overview', 'United Kingdom', 'K02000001', '2020-10-02', 269820.0, 23008415),
 ('overview', 'United Kingdom', 'K02000001', '2020-10-01', 264979.0, 22738421),
 ('overview', 'United Kingdom', 'K02000001', '2020-09-30', 255915.0, 22468246),
 ('overview', 'United Kingdom', 'K02000001', '2020-09-29', 232212.0, 22209600),
 ('overview', 'United Kingdom', 'K02000001', '2020-09-28', 227038.0, 21963666),
 ('overview', 'United Kingdom', 'K02000001', '2020-09-27', 263526.0, 21736150),
 ('overview', 'United Kingdom', 'K02000001', '2020-09-26', 255488.0, 21472624),
 ('overview', 'United Kingdom', 'K02000001', '2020-09-25', 288701.0, 21217136),
 ('overview', 'United Kingdom', 'K02000001', '2020-09-24', 262109.0, 20927096),
 ('overview', 'United Kingdom', 'K02000001', '2020-09-23', 259221.0, 20652193),
 ('overview', 'United Kingdom', 'K02000001', '2020-09-22', 234815.0, 20391992),
 ('overview', 'United Kingdom', 'K02000001', '2020-09-21', 206782.0, 20180930),
 ('overview', 'United Kingdom', 'K02000001', '2020-09-20', 234786.0, 19974148),
 ('overview', 'United Kingdom', 'K02000001', '2020-09-19', 250954.0, 19739363),
 ('overview', 'United Kingdom', 'K02000001', '2020-09-18', 266308.0, 19488409),
 ('overview', 'United Kingdom', 'K02000001', '2020-09-17', 240202.0, 19221203),
 ('overview', 'United Kingdom', 'K02000001', '2020-09-16', 242273.0, 18979747),
 ('overview', 'United Kingdom', 'K02000001', '2020-09-15', 236827.0, 18734356),
 ('overview', 'United Kingdom', 'K02000001', '2020-09-14', 216526.0, 18496398),
 ('overview', 'United Kingdom', 'K02000001', '2020-09-13', 225380.0, 18279872),
 ('overview', 'United Kingdom', 'K02000001', '2020-09-12', 228748.0, 18054492),
 ('overview', 'United Kingdom', 'K02000001', '2020-09-11', 241650.0, 17825744),
 ('overview', 'United Kingdom', 'K02000001', '2020-09-10', 233125.0, 17544471),
 ('overview', 'United Kingdom', 'K02000001', '2020-09-09', 220626.0, 17302598),
 ('overview', 'United Kingdom', 'K02000001', '2020-09-08', 202809.0, 17076613),

5. People vaccinated

In [17]:
c.execute('''DROP TABLE IF EXISTS People_vaccinated''')
c.execute('''CREATE TABLE People_vaccinated (areaType, areaName,areaCode,date,newPeopleVaccinatedFirstDoseByPublishDate,cumPeopleVaccinatedFirstDoseByPublishDate)''')
People_vaccinated.to_sql('People_vaccinated', conn, if_exists='append', index = False)
#c.execute('''SELECT * FROM People_vaccinated''').fetchall()

[('overview', 'United Kingdom', 'K02000001', '2021-05-08', 169027.0, 35371669),
 ('overview', 'United Kingdom', 'K02000001', '2021-05-07', 133001.0, 35202642),
 ('overview', 'United Kingdom', 'K02000001', '2021-05-06', 135470.0, 35069641),
 ('overview', 'United Kingdom', 'K02000001', '2021-05-05', 139097.0, 34934171),
 ('overview', 'United Kingdom', 'K02000001', '2021-05-04', 127170.0, 34795074),
 ('overview', 'United Kingdom', 'K02000001', '2021-05-03', 72600.0, 34667904),
 ('overview', 'United Kingdom', 'K02000001', '2021-05-02', 89924.0, 34595304),
 ('overview', 'United Kingdom', 'K02000001', '2021-05-01', 143175.0, 34505380),
 ('overview', 'United Kingdom', 'K02000001', '2021-04-30', 145589.0, 34362205),
 ('overview', 'United Kingdom', 'K02000001', '2021-04-29', 122568.0, 34216616),
 ('overview', 'United Kingdom', 'K02000001', '2021-04-28', 134140.0, 34094048),
 ('overview', 'United Kingdom', 'K02000001', '2021-04-27', 116328.0, 33959908),
 ('overview', 'United Kingdom', 'K02000001', '2021-04-26', 90695.0, 33843580),
 ('overview', 'United Kingdom', 'K02000001', '2021-04-25', 79695.0, 33752885),
 ('overview', 'United Kingdom', 'K02000001', '2021-04-24', 148767.0, 33673190),
 ('overview', 'United Kingdom', 'K02000001', '2021-04-23', 135786.0, 33524423),
 ('overview', 'United Kingdom', 'K02000001', '2021-04-22', 130986.0, 33388637),
 ('overview', 'United Kingdom', 'K02000001', '2021-04-21', 117909.0, 33257651),
 ('overview', 'United Kingdom', 'K02000001', '2021-04-20', 107622.0, 33139742),
 ('overview', 'United Kingdom', 'K02000001', '2021-04-19', 99672.0, 33032120),
 ('overview', 'United Kingdom', 'K02000001', '2021-04-18', 83225.0, 32932448),
 ('overview', 'United Kingdom', 'K02000001', '2021-04-17', 139445.0, 32849223),
 ('overview', 'United Kingdom', 'K02000001', '2021-04-16', 135557.0, 32709778),
 ('overview', 'United Kingdom', 'K02000001', '2021-04-15', 129782.0, 32574221),
 ('overview', 'United Kingdom', 'K02000001', '2021-04-14', 117835.0, 32444439),
 ('overview', 'United Kingdom', 'K02000001', '2021-04-13', 76123.0, 32326604),
 ('overview', 'United Kingdom', 'K02000001', '2021-04-12', 59905.0, 32250481),
 ('overview', 'United Kingdom', 'K02000001', '2021-04-11', 69223.0, 32190576),
 ('overview', 'United Kingdom', 'K02000001', '2021-04-10', 111109.0, 32121353),
 ('overview', 'United Kingdom', 'K02000001', '2021-04-09', 106878.0, 32010244),
 ('overview', 'United Kingdom', 'K02000001', '2021-04-08', 96242.0, 31903366),
 ('overview', 'United Kingdom', 'K02000001', '2021-04-07', 99530.0, 31807124),
 ('overview', 'United Kingdom', 'K02000001', '2021-04-06', 85227.0, 31707594),
 ('overview', 'United Kingdom', 'K02000001', '2021-04-05', 40744.0, 31622367),
 ('overview', 'United Kingdom', 'K02000001', '2021-04-04', 48055.0, 31581623),
 ('overview', 'United Kingdom', 'K02000001', '2021-04-03', 107886.0, 31533568),
 ('overview', 'United Kingdom', 'K02000001', '2021-04-02', 107420.0, 31425682),
 ('overview', 'United Kingdom', 'K02000001', '2021-04-01', 170818.0, 31318262),
 ('overview', 'United Kingdom', 'K02000001', '2021-03-31', 239434.0, 31147444),
 ('overview', 'United Kingdom', 'K02000001', '2021-03-30', 225917.0, 30908010),
 ('overview', 'United Kingdom', 'K02000001', '2021-03-29', 236809.0, 30682093),
 ('overview', 'United Kingdom', 'K02000001', '2021-03-28', 293548.0, 30445284),
 ('overview', 'United Kingdom', 'K02000001', '2021-03-27', 424301.0, 30151736),
 ('overview', 'United Kingdom', 'K02000001', '2021-03-26', 411305.0, 29727435),
 ('overview', 'United Kingdom', 'K02000001', '2021-03-25', 324942.0, 29316130),
 ('overview', 'United Kingdom', 'K02000001', '2021-03-24', 337665.0, 28991188),
 ('overview', 'United Kingdom', 'K02000001', '2021-03-23', 325650.0, 28653523),
 ('overview', 'United Kingdom', 'K02000001', '2021-03-22', 329897.0, 28327873),
 ('overview', 'United Kingdom', 'K02000001', '2021-03-21', 367006.0, 27997976),
 ('overview', 'United Kingdom', 'K02000001', '2021-03-20', 752308.0, 27630970),
 ('overview', 'United Kingdom', 'K02000001', '2021-03-19', 614930.0, 26878662),
 ('overview', 'United Kingdom', 'K02000001', '2021-03-18', 528260.0, 26263732),
 ('overview', 'United Kingdom', 'K02000001', '2021-03-17', 462246.0, 25735472),
 ('overview', 'United Kingdom', 'K02000001', '2021-03-16', 433320.0, 25273226),
 ('overview', 'United Kingdom', 'K02000001', '2021-03-15', 386685.0, 24839906),
 ('overview', 'United Kingdom', 'K02000001', '2021-03-14', 257010.0, 24453221),
 ('overview', 'United Kingdom', 'K02000001', '2021-03-13', 512108.0, 24196211),
 ('overview', 'United Kingdom', 'K02000001', '2021-03-12', 369578.0, 23684103),
 ('overview', 'United Kingdom', 'K02000001', '2021-03-11', 260809.0, 23314525),
 ('overview', 'United Kingdom', 'K02000001', '2021-03-10', 243887.0, 23053716),
 ('overview', 'United Kingdom', 'K02000001', '2021-03-09', 217301.0, 22809829),
 ('overview', 'United Kingdom', 'K02000001', '2021-03-08', 215273.0, 22592528),
 ('overview', 'United Kingdom', 'K02000001', '2021-03-07', 164143.0, 22377255),
 ('overview', 'United Kingdom', 'K02000001', '2021-03-06', 416834.0, 22213112),
 ('overview', 'United Kingdom', 'K02000001', '2021-03-05', 437463.0, 21796278),
 ('overview', 'United Kingdom', 'K02000001', '2021-03-04', 376244.0, 21358815),
 ('overview', 'United Kingdom', 'K02000001', '2021-03-03', 278956.0, 20982571),
 ('overview', 'United Kingdom', 'K02000001', '2021-03-02', 224996.0, 20703615),
 ('overview', 'United Kingdom', 'K02000001', '2021-03-01', 203168.0, 20478619),
 ('overview', 'United Kingdom', 'K02000001', '2021-02-28', 185900.0, 20275451),
 ('overview', 'United Kingdom', 'K02000001', '2021-02-27', 407503.0, 20089551),
 ('overview', 'United Kingdom', 'K02000001', '2021-02-26', 504493.0, 19682048),
 ('overview', 'United Kingdom', 'K02000001', '2021-02-25', 485720.0, 19177555),
 ('overview', 'United Kingdom', 'K02000001', '2021-02-24', 448962.0, 18691835),
 ('overview', 'United Kingdom', 'K02000001', '2021-02-23', 326692.0, 18242873),
 ('overview', 'United Kingdom', 'K02000001', '2021-02-22', 192341.0, 17916181),
 ('overview', 'United Kingdom', 'K02000001', '2021-02-21', 141719.0, 17723840),
 ('overview', 'United Kingdom', 'K02000001', '2021-02-20', 334679.0, 17582121),
 ('overview', 'United Kingdom', 'K02000001', '2021-02-19', 371906.0, 17247442),
 ('overview', 'United Kingdom', 'K02000001', '2021-02-18', 452454.0, 16875536),
 ('overview', 'United Kingdom', 'K02000001', '2021-02-17', 482110.0, 16423082),
 ('overview', 'United Kingdom', 'K02000001', '2021-02-16', 364865.0, 15940972),
 ('overview', 'United Kingdom', 'K02000001', '2021-02-15', 275956.0, 15576107),
 ('overview', 'United Kingdom', 'K02000001', '2021-02-14', 237962.0, 15300151),
 ('overview', 'United Kingdom', 'K02000001', '2021-02-13', 505362.0, 15062189),
 ('overview', 'United Kingdom', 'K02000001', '2021-02-12', 544603.0, 14556827),
 ('overview', 'United Kingdom', 'K02000001', '2021-02-11', 503116.0, 14012224),
 ('overview', 'United Kingdom', 'K02000001', '2021-02-10', 450810.0, 13509108),
 ('overview', 'United Kingdom', 'K02000001', '2021-02-09', 411812.0, 13058298),
 ('overview', 'United Kingdom', 'K02000001', '2021-02-08', 352480.0, 12646486),
 ('overview', 'United Kingdom', 'K02000001', '2021-02-07', 278988.0, 12294006),
 ('overview', 'United Kingdom', 'K02000001', '2021-02-06', 549808.0, 12015018),
 ('overview', 'United Kingdom', 'K02000001', '2021-02-05', 494163.0, 11465210),
 ('overview', 'United Kingdom', 'K02000001', '2021-02-04', 480560.0, 10971047),
 ('overview', 'United Kingdom', 'K02000001', '2021-02-03', 469016.0, 10490487),
 ('overview', 'United Kingdom', 'K02000001', '2021-02-02', 374756.0, 10021471),
 ('overview', 'United Kingdom', 'K02000001', '2021-02-01', 350348.0, 9646715),
 ('overview', 'United Kingdom', 'K02000001', '2021-01-31', 319038.0, 9296367),
 ('overview', 'United Kingdom', 'K02000001', '2021-01-30', 598389.0, 8977329),
 ('overview', 'United Kingdom', 'K02000001', '2021-01-29', 487756.0, 8378940),
 ('overview', 'United Kingdom', 'K02000001', '2021-01-28', 414419.0, 7891184),
 ('overview', 'United Kingdom', 'K02000001', '2021-01-27', 312378.0, 7476765),
 ('overview', 'United Kingdom', 'K02000001', '2021-01-26', 311060.0, 7164387),
 ('overview', 'United Kingdom', 'K02000001', '2021-01-25', 279757.0, 6853327),
 ('overview', 'United Kingdom', 'K02000001', '2021-01-24', 220249.0, 6573570),
 ('overview', 'United Kingdom', 'K02000001', '2021-01-23', 491970.0, 6353321),
 ('overview', 'United Kingdom', 'K02000001', '2021-01-22', 478248.0, 5861351),
 ('overview', 'United Kingdom', 'K02000001', '2021-01-21', 409855.0, 5383103),
 ('overview', 'United Kingdom', 'K02000001', '2021-01-20', 363508.0, 4973248),
 ('overview', 'United Kingdom', 'K02000001', '2021-01-19', 343163.0, 4609740),
 ('overview', 'United Kingdom', 'K02000001', '2021-01-18', 204076.0, 4266577),
 ('overview', 'United Kingdom', 'K02000001', '2021-01-17', 190107.0, 4062501),
 ('overview', 'United Kingdom', 'K02000001', '2021-01-16', 296131.0, 3872394),
 ('overview', 'United Kingdom', 'K02000001', '2021-01-15', 341317.0, 3576263),
 ('overview', 'United Kingdom', 'K02000001', '2021-01-14', 316694.0, 3234946),
 ('overview', 'United Kingdom', 'K02000001', '2021-01-13', 278943.0, 2918252),
 ('overview', 'United Kingdom', 'K02000001', '2021-01-12', 207661.0, 2639309),
 ('overview', 'United Kingdom', 'K02000001', '2021-01-11', 145076.0, 2431648),
 ('overview', 'United Kingdom', 'K02000001', '2021-01-10', None, 2286572)]

6. People vaccinated by regions

In [18]:
c.execute('''DROP TABLE IF EXISTS People_vaccinated_regions''')
c.execute('''CREATE TABLE People_vaccinated_regions (areaType, areaName,areaCode,date,newPeopleVaccinatedFirstDoseByPublishDate,cumPeopleVaccinatedFirstDoseByPublishDate)''')
People_vaccinated_regions.to_sql('People_vaccinated_regions', conn, if_exists='append', index = False)
#c.execute('''SELECT * FROM People_vaccinated_regions''').fetchall()

[('nation', 'England', 'E92000001', '2021-05-12', 146934.0, 29973113),
 ('nation', 'England', 'E92000001', '2021-05-11', 98515.0, 29826179),
 ('nation', 'England', 'E92000001', '2021-05-10', 76110.0, 29727664),
 ('nation', 'England', 'E92000001', '2021-05-09', 73338.0, 29651554),
 ('nation', 'England', 'E92000001', '2021-05-08', 137003.0, 29578216),
 ('nation', 'England', 'E92000001', '2021-05-07', 107518.0, 29441213),
 ('nation', 'England', 'E92000001', '2021-05-06', 101594.0, 29333695),
 ('nation', 'England', 'E92000001', '2021-05-05', 107791.0, 29232101),
 ('nation', 'England', 'E92000001', '2021-05-04', 99261.0, 29124310),
 ('nation', 'England', 'E92000001', '2021-05-03', 59113.0, 29025049),
 ('nation', 'England', 'E92000001', '2021-05-02', 70777.0, 28965936),
 ('nation', 'England', 'E92000001', '2021-05-01', 123619.0, 28895159),
 ('nation', 'England', 'E92000001', '2021-04-30', 115366.0, 28771540),
 ('nation', 'England', 'E92000001', '2021-04-29', 110976.0, 28656174),
 ('nation', 'England', 'E92000001', '2021-04-28', 103352.0, 28545198),
 ('nation', 'England', 'E92000001', '2021-04-27', 85067.0, 28441846),
 ('nation', 'England', 'E92000001', '2021-04-26', 67483.0, 28356779),
 ('nation', 'England', 'E92000001', '2021-04-25', 61586.0, 28289296),
 ('nation', 'England', 'E92000001', '2021-04-24', 124858.0, 28227710),
 ('nation', 'England', 'E92000001', '2021-04-23', 107656.0, 28102852),
 ('nation', 'England', 'E92000001', '2021-04-22', 103988.0, 27995196),
 ('nation', 'England', 'E92000001', '2021-04-21', 92703.0, 27891208),
 ('nation', 'England', 'E92000001', '2021-04-20', 84871.0, 27798505),
 ('nation', 'England', 'E92000001', '2021-04-19', 85055.0, 27713634),
 ('nation', 'England', 'E92000001', '2021-04-18', 69198.0, 27628579),
 ('nation', 'England', 'E92000001', '2021-04-17', 112095.0, 27559381),
 ('nation', 'England', 'E92000001', '2021-04-16', 102280.0, 27447286),
 ('nation', 'England', 'E92000001', '2021-04-15', 93587.0, 27345006),
 ('nation', 'England', 'E92000001', '2021-04-14', 79117.0, 27251419),
 ('nation', 'England', 'E92000001', '2021-04-13', 39361.0, 27172302),
 ('nation', 'England', 'E92000001', '2021-04-12', 25351.0, 27132941),
 ('nation', 'England', 'E92000001', '2021-04-11', 36599.0, 27107590),
 ('nation', 'England', 'E92000001', '2021-04-10', 74055.0, 27070991),
 ('nation', 'England', 'E92000001', '2021-04-09', 62274.0, 26996936),
 ('nation', 'England', 'E92000001', '2021-04-08', 55539.0, 26934662),
 ('nation', 'England', 'E92000001', '2021-04-07', 58962.0, 26879123),
 ('nation', 'England', 'E92000001', '2021-04-06', 54296.0, 26820161),
 ('nation', 'England', 'E92000001', '2021-04-05', 19826.0, 26765865),
 ('nation', 'England', 'E92000001', '2021-04-04', 26617.0, 26746039),
 ('nation', 'England', 'E92000001', '2021-04-03', 74512.0, 26719422),
 ('nation', 'England', 'E92000001', '2021-04-02', 68281.0, 26644910),
 ('nation', 'England', 'E92000001', '2021-04-01', 122410.0, 26576629),
 ('nation', 'England', 'E92000001', '2021-03-31', 188045.0, 26454219),
 ('nation', 'England', 'E92000001', '2021-03-30', 176063.0, 26266174),
 ('nation', 'England', 'E92000001', '2021-03-29', 186329.0, 26090111),
 ('nation', 'England', 'E92000001', '2021-03-28', 252376.0, 25903782),
 ('nation', 'England', 'E92000001', '2021-03-27', 367393.0, 25651406),
 ('nation', 'England', 'E92000001', '2021-03-26', 344008.0, 25284013),
 ('nation', 'England', 'E92000001', '2021-03-25', 258050.0, 24940005),
 ('nation', 'England', 'E92000001', '2021-03-24', 275881.0, 24681955),
 ('nation', 'England', 'E92000001', '2021-03-23', 268651.0, 24406074),
 ('nation', 'England', 'E92000001', '2021-03-22', 282561.0, 24137423),
 ('nation', 'England', 'E92000001', '2021-03-21', 295359.0, 23854862),
 ('nation', 'England', 'E92000001', '2021-03-20', 686424.0, 23559503),
 ('nation', 'England', 'E92000001', '2021-03-19', 535489.0, 22873079),
 ('nation', 'England', 'E92000001', '2021-03-18', 451465.0, 22337590),
 ('nation', 'England', 'E92000001', '2021-03-17', 392769.0, 21886125),
 ('nation', 'England', 'E92000001', '2021-03-16', 370842.0, 21493356),
 ('nation', 'England', 'E92000001', '2021-03-15', 330676.0, 21122514),
 ('nation', 'England', 'E92000001', '2021-03-14', 223017.0, 20791838),
 ('nation', 'England', 'E92000001', '2021-03-13', 457632.0, 20568821),
 ('nation', 'England', 'E92000001', '2021-03-12', 312716.0, 20111189),
 ('nation', 'England', 'E92000001', '2021-03-11', 211393.0, 19798473),
 ('nation', 'England', 'E92000001', '2021-03-10', 206720.0, 19587080),
 ('nation', 'England', 'E92000001', '2021-03-09', 181127.0, 19380360),
 ('nation', 'England', 'E92000001', '2021-03-08', 183736.0, 19199233),
 ('nation', 'England', 'E92000001', '2021-03-07', 140108.0, 19015497),
 ('nation', 'England', 'E92000001', '2021-03-06', 383618.0, 18875389),
 ('nation', 'England', 'E92000001', '2021-03-05', 385681.0, 18491771),
 ('nation', 'England', 'E92000001', '2021-03-04', 320388.0, 18106090),
 ('nation', 'England', 'E92000001', '2021-03-03', 231002.0, 17785702),
 ('nation', 'England', 'E92000001', '2021-03-02', 181316.0, 17554700),
 ('nation', 'England', 'E92000001', '2021-03-01', 160580.0, 17373384),
 ('nation', 'England', 'E92000001', '2021-02-28', 161559.0, 17212804),
 ('nation', 'England', 'E92000001', '2021-02-27', 371364.0, 17051245),
 ('nation', 'England', 'E92000001', '2021-02-26', 452777.0, 16679881),
 ('nation', 'England', 'E92000001', '2021-02-25', 432112.0, 16227104),
 ('nation', 'England', 'E92000001', '2021-02-24', 396937.0, 15794992),
 ('nation', 'England', 'E92000001', '2021-02-23', 284897.0, 15398055),
 ('nation', 'England', 'E92000001', '2021-02-22', 155084.0, 15113158),
 ('nation', 'England', 'E92000001', '2021-02-21', 113987.0, 14958074),
 ('nation', 'England', 'E92000001', '2021-02-20', 306109.0, 14844087),
 ('nation', 'England', 'E92000001', '2021-02-19', 323802.0, 14537978),
 ('nation', 'England', 'E92000001', '2021-02-18', 396262.0, 14214176),
 ('nation', 'England', 'E92000001', '2021-02-17', 422576.0, 13817914),
 ('nation', 'England', 'E92000001', '2021-02-16', 312669.0, 13395338),
 ('nation', 'England', 'E92000001', '2021-02-15', 219760.0, 13082669),
 ('nation', 'England', 'E92000001', '2021-02-14', 187246.0, 12862909),
 ('nation', 'England', 'E92000001', '2021-02-13', 429497.0, 12675663),
 ('nation', 'England', 'E92000001', '2021-02-12', 436925.0, 12246166),
 ('nation', 'England', 'E92000001', '2021-02-11', 386734.0, 11809241),
 ('nation', 'England', 'E92000001', '2021-02-10', 338855.0, 11422507),
 ('nation', 'England', 'E92000001', '2021-02-09', 311654.0, 11083652),
 ('nation', 'England', 'E92000001', '2021-02-08', 252269.0, 10771998),
 ('nation', 'England', 'E92000001', '2021-02-07', 229514.0, 10519729),
 ('nation', 'England', 'E92000001', '2021-02-06', 458318.0, 10290215),
 ('nation', 'England', 'E92000001', '2021-02-05', 401636.0, 9831897),
 ('nation', 'England', 'E92000001', '2021-02-04', 388426.0, 9430261),
 ('nation', 'England', 'E92000001', '2021-02-03', 378794.0, 9041835),
 ('nation', 'England', 'E92000001', '2021-02-02', 300173.0, 8663041),
 ('nation', 'England', 'E92000001', '2021-02-01', 280513.0, 8362868),
 ('nation', 'England', 'E92000001', '2021-01-31', 289359.0, 8082355),
 ('nation', 'England', 'E92000001', '2021-01-30', 539691.0, 7792996),
 ('nation', 'England', 'E92000001', '2021-01-29', 436360.0, 7253305),
 ('nation', 'England', 'E92000001', '2021-01-28', 343193.0, 6816945),
 ('nation', 'England', 'E92000001', '2021-01-27', 251902.0, 6473752),
 ('nation', 'England', 'E92000001', '2021-01-26', 259306.0, 6221850),
 ('nation', 'England', 'E92000001', '2021-01-25', 234851.0, 5962544),
 ('nation', 'England', 'E92000001', '2021-01-24', 198592.0, 5727693),
 ('nation', 'England', 'E92000001', '2021-01-23', 443330.0, 5529101),
 ('nation', 'England', 'E92000001', '2021-01-22', 424478.0, 5085771),
 ('nation', 'England', 'E92000001', '2021-01-21', 357563.0, 4661293),
 ('nation', 'England', 'E92000001', '2021-01-20', 318151.0, 4303730),
 ('nation', 'England', 'E92000001', '2021-01-19', 298373.0, 3985579),
 ('nation', 'England', 'E92000001', '2021-01-18', 167150.0, 3687206),
 ('nation', 'England', 'E92000001', '2021-01-17', 154564.0, 3520056),
 ('nation', 'England', 'E92000001', '2021-01-16', 275434.0, 3365492),
 ('nation', 'England', 'E92000001', '2021-01-15', 320894.0, 3090058),
 ('nation', 'England', 'E92000001', '2021-01-14', 274793.0, 2769164),
 ('nation', 'England', 'E92000001', '2021-01-13', 239815.0, 2494371),
 ('nation', 'England', 'E92000001', '2021-01-12', 174276.0, 2254556),
 ('nation', 'England', 'E92000001', '2021-01-11', 121129.0, 2080280),
 ('nation', 'England', 'E92000001', '2021-01-10', None, 1959151),
 ('nation', 'Northern Ireland', 'N92000002', '2021-05-12', 3561.0, 989569),
 ('nation', 'Northern Ireland', 'N92000002', '2021-05-11', 3970.0, 986008),
 ('nation', 'Northern Ireland', 'N92000002', '2021-05-10', 5456.0, 982038),
 ('nation', 'Northern Ireland', 'N92000002', '2021-05-09', 3985.0, 976582),
 ('nation', 'Northern Ireland', 'N92000002', '2021-05-08', 4211.0, 972597),
 ('nation', 'Northern Ireland', 'N92000002', '2021-05-07', 5071.0, 968386),
 ('nation', 'Northern Ireland', 'N92000002', '2021-05-06', 6252.0, 963315),
 ('nation', 'Northern Ireland', 'N92000002', '2021-05-05', 6285.0, 957063),
 ('nation', 'Northern Ireland', 'N92000002', '2021-05-04', 6084.0, 950778),
 ('nation', 'Northern Ireland', 'N92000002', '2021-05-03', 1672.0, 944694),
 ('nation', 'Northern Ireland', 'N92000002', '2021-05-02', 5240.0, 943022),
 ('nation', 'Northern Ireland', 'N92000002', '2021-05-01', 5356.0, 937782),
 ('nation', 'Northern Ireland', 'N92000002', '2021-04-30', 5100.0, 932426),
 ('nation', 'Northern Ireland', 'N92000002', '2021-04-29', 0.0, 927326),
 ('nation', 'Northern Ireland', 'N92000002', '2021-04-28', 7933.0, 935589),
 ('nation', 'Northern Ireland', 'N92000002', '2021-04-27', 8364.0, 927656),
 ('nation', 'Northern Ireland', 'N92000002', '2021-04-26', 6848.0, 919292),
 ('nation', 'Northern Ireland', 'N92000002', '2021-04-25', 6708.0, 912444),
 ('nation', 'Northern Ireland', 'N92000002', '2021-04-24', 6878.0, 905736),
 ('nation', 'Northern Ireland', 'N92000002', '2021-04-23', 6071.0, 898858),
 ('nation', 'Northern Ireland', 'N92000002', '2021-04-22', 8974.0, 892787),
 ('nation', 'Northern Ireland', 'N92000002', '2021-04-21', 7523.0, 883813),
 ('nation', 'Northern Ireland', 'N92000002', '2021-04-20', 6948.0, 876290),
 ('nation', 'Northern Ireland', 'N92000002', '2021-04-19', 5630.0, 869342),
 ('nation', 'Northern Ireland', 'N92000002', '2021-04-18', 3399.0, 863712),
 ('nation', 'Northern Ireland', 'N92000002', '2021-04-17', 4487.0, 860313),
 ('nation', 'Northern Ireland', 'N92000002', '2021-04-16', 5723.0, 855826),
 ('nation', 'Northern Ireland', 'N92000002', '2021-04-15', 5819.0, 850103),
 ('nation', 'Northern Ireland', 'N92000002', '2021-04-14', 6235.0, 844284),
 ('nation', 'Northern Ireland', 'N92000002', '2021-04-13', 6154.0, 838049),
 ('nation', 'Northern Ireland', 'N92000002', '2021-04-12', 5483.0, 831895),
 ('nation', 'Northern Ireland', 'N92000002', '2021-04-11', 6380.0, 826412),
 ('nation', 'Northern Ireland', 'N92000002', '2021-04-10', 6564.0, 820032),
 ('nation', 'Northern Ireland', 'N92000002', '2021-04-09', 7463.0, 813468),
 ('nation', 'Northern Ireland', 'N92000002', '2021-04-08', 6595.0, 806005),
 ('nation', 'Northern Ireland', 'N92000002', '2021-04-07', 8550.0, 799410),
 ('nation', 'Northern Ireland', 'N92000002', '2021-04-06', 5366.0, 790860),
 ('nation', 'Northern Ireland', 'N92000002', '2021-04-05', 5562.0, 785494),
 ('nation', 'Northern Ireland', 'N92000002', '2021-04-04', 2824.0, 779932),
 ('nation', 'Northern Ireland', 'N92000002', '2021-04-03', 4868.0, 777108),
 ('nation', 'Northern Ireland', 'N92000002', '2021-04-02', 7235.0, 772240),
 ('nation', 'Northern Ireland', 'N92000002', '2021-04-01', 8992.0, 765005),
 ('nation', 'Northern Ireland', 'N92000002', '2021-03-31', 6901.0, 756013),
 ('nation', 'Northern Ireland', 'N92000002', '2021-03-30', 8383.0, 749112),
 ('nation', 'Northern Ireland', 'N92000002', '2021-03-29', 10258.0, 740729),
 ('nation', 'Northern Ireland', 'N92000002', '2021-03-28', 3882.0, 730471),
 ('nation', 'Northern Ireland', 'N92000002', '2021-03-27', 7329.0, 726589),
 ('nation', 'Northern Ireland', 'N92000002', '2021-03-26', 7587.0, 719260),
 ('nation', 'Northern Ireland', 'N92000002', '2021-03-25', 8339.0, 711673),
 ('nation', 'Northern Ireland', 'N92000002', '2021-03-24', 8471.0, 703334),
 ('nation', 'Northern Ireland', 'N92000002', '2021-03-23', 7335.0, 694863),
 ('nation', 'Northern Ireland', 'N92000002', '2021-03-22', 0.0, 687528),
 ('nation', 'Northern Ireland', 'N92000002', '2021-03-21', 19770.0, 687528),
 ('nation', 'Northern Ireland', 'N92000002', '2021-03-20', 4785.0, 667758),
 ('nation', 'Northern Ireland', 'N92000002', '2021-03-19', 7392.0, 662973),
 ('nation', 'Northern Ireland', 'N92000002', '2021-03-18', 9391.0, 655581),
 ('nation', 'Northern Ireland', 'N92000002', '2021-03-17', 5389.0, 646190),
 ('nation', 'Northern Ireland', 'N92000002', '2021-03-16', 6782.0, 640801),
 ('nation', 'Northern Ireland', 'N92000002', '2021-03-15', 4558.0, 634019),
 ('nation', 'Northern Ireland', 'N92000002', '2021-03-14', 4266.0, 629461),
 ('nation', 'Northern Ireland', 'N92000002', '2021-03-13', 3733.0, 625195),
 ('nation', 'Northern Ireland', 'N92000002', '2021-03-12', 6833.0, 621462),
 ('nation', 'Northern Ireland', 'N92000002', '2021-03-11', 7934.0, 614629),
 ('nation', 'Northern Ireland', 'N92000002', '2021-03-10', 5594.0, 606695),
 ('nation', 'Northern Ireland', 'N92000002', '2021-03-09', 4574.0, 601101),
 ('nation', 'Northern Ireland', 'N92000002', '2021-03-08', 7724.0, 596527),
 ('nation', 'Northern Ireland', 'N92000002', '2021-03-07', 5889.0, 588803),
 ('nation', 'Northern Ireland', 'N92000002', '2021-03-06', 5695.0, 582914),
 ('nation', 'Northern Ireland', 'N92000002', '2021-03-05', 9208.0, 577219),
 ('nation', 'Northern Ireland', 'N92000002', '2021-03-04', 11290.0, 568011),
 ('nation', 'Northern Ireland', 'N92000002', '2021-03-03', 11702.0, 556721),
 ('nation', 'Northern Ireland', 'N92000002', '2021-03-02', 7630.0, 545019),
 ('nation', 'Northern Ireland', 'N92000002', '2021-03-01', 11989.0, 537389),
 ('nation', 'Northern Ireland', 'N92000002', '2021-02-28', 4404.0, 525400),
 ('nation', 'Northern Ireland', 'N92000002', '2021-02-27', 5318.0, 520996),
 ('nation', 'Northern Ireland', 'N92000002', '2021-02-26', 10490.0, 515678),
 ('nation', 'Northern Ireland', 'N92000002', '2021-02-25', 13595.0, 505188),
 ('nation', 'Northern Ireland', 'N92000002', '2021-02-24', 13358.0, 491593),
 ('nation', 'Northern Ireland', 'N92000002', '2021-02-23', 10106.0, 478235),
 ('nation', 'Northern Ireland', 'N92000002', '2021-02-22', 10099.0, 468129),
 ('nation', 'Northern Ireland', 'N92000002', '2021-02-21', 12021.0, 458030),
 ('nation', 'Northern Ireland', 'N92000002', '2021-02-20', 3092.0, 446009),
 ('nation', 'Northern Ireland', 'N92000002', '2021-02-19', 6774.0, 442917),
 ('nation', 'Northern Ireland', 'N92000002', '2021-02-18', 8574.0, 436143),
 ('nation', 'Northern Ireland', 'N92000002', '2021-02-17', 9360.0, 427569),
 ('nation', 'Northern Ireland', 'N92000002', '2021-02-16', 8702.0, 418209),
 ('nation', 'Northern Ireland', 'N92000002', '2021-02-15', 12264.0, 409507),
 ('nation', 'Northern Ireland', 'N92000002', '2021-02-14', 6142.0, 397243),
 ('nation', 'Northern Ireland', 'N92000002', '2021-02-13', 3330.0, 391101),
 ('nation', 'Northern Ireland', 'N92000002', '2021-02-12', 14357.0, 387771),
 ('nation', 'Northern Ireland', 'N92000002', '2021-02-11', 19657.0, 373414),
 ('nation', 'Northern Ireland', 'N92000002', '2021-02-10', 20099.0, 353757),
 ('nation', 'Northern Ireland', 'N92000002', '2021-02-09', 16052.0, 333658),
 ('nation', 'Northern Ireland', 'N92000002', '2021-02-08', 14128.0, 317606),
 ('nation', 'Northern Ireland', 'N92000002', '2021-02-07', 7563.0, 303478),
 ('nation', 'Northern Ireland', 'N92000002', '2021-02-06', 6026.0, 295915),
 ('nation', 'Northern Ireland', 'N92000002', '2021-02-05', 14657.0, 289889),
 ('nation', 'Northern Ireland', 'N92000002', '2021-02-04', 11497.0, 275232),
 ('nation', 'Northern Ireland', 'N92000002', '2021-02-03', 17064.0, 263735),
 ('nation', 'Northern Ireland', 'N92000002', '2021-02-02', 13242.0, 246671),
 ('nation', 'Northern Ireland', 'N92000002', '2021-02-01', 11620.0, 233429),
 ('nation', 'Northern Ireland', 'N92000002', '2021-01-31', 7208.0, 221809),
 ('nation', 'Northern Ireland', 'N92000002', '2021-01-30', 10536.0, 214601),
 ('nation', 'Northern Ireland', 'N92000002', '2021-01-29', 7934.0, 204065),
 ('nation', 'Northern Ireland', 'N92000002', '2021-01-28', 20847.0, 196131),
 ('nation', 'Northern Ireland', 'N92000002', '2021-01-27', 7144.0, 175284),
 ('nation', 'Northern Ireland', 'N92000002', '2021-01-26', 4823.0, 168140),
 ('nation', 'Northern Ireland', 'N92000002', '2021-01-25', 3675.0, 163317),
 ('nation', 'Northern Ireland', 'N92000002', '2021-01-24', 3998.0, 159642),
 ('nation', 'Northern Ireland', 'N92000002', '2021-01-23', 1278.0, 155644),
 ('nation', 'Northern Ireland', 'N92000002', '2021-01-22', 3327.0, 154366),
 ('nation', 'Northern Ireland', 'N92000002', '2021-01-21', 6827.0, 151039),
 ('nation', 'Northern Ireland', 'N92000002', '2021-01-20', 5776.0, 144212),
 ('nation', 'Northern Ireland', 'N92000002', '2021-01-19', 5579.0, 138436),
 ('nation', 'Northern Ireland', 'N92000002', '2021-01-18', 7140.0, 132857),
 ('nation', 'Northern Ireland', 'N92000002', '2021-01-17', 5330.0, 125717),
 ('nation', 'Northern Ireland', 'N92000002', '2021-01-16', 2481.0, 120387),
 ('nation', 'Northern Ireland', 'N92000002', '2021-01-15', 3339.0, 117906),
 ('nation', 'Northern Ireland', 'N92000002', '2021-01-14', 11866.0, 114567),
 ('nation', 'Northern Ireland', 'N92000002', '2021-01-13', 11284.0, 102701),
 ('nation', 'Northern Ireland', 'N92000002', '2021-01-12', 7230.0, 91417),
 ('nation', 'Northern Ireland', 'N92000002', '2021-01-11', 6182.0, 84187),
 ('nation', 'Northern Ireland', 'N92000002', '2021-01-10', None, 78005),
 ('nation', 'Scotland', 'S92000003', '2021-05-12', 19565.0, 2968169),
 ('nation', 'Scotland', 'S92000003', '2021-05-11', 19641.0, 2948604),
 ('nation', 'Scotland', 'S92000003', '2021-05-10', 19807.0, 2928963),
 ('nation', 'Scotland', 'S92000003', '2021-05-09', 11181.0, 2909156),
 ('nation', 'Scotland', 'S92000003', '2021-05-08', 14591.0, 2897975),
 ('nation', 'Scotland', 'S92000003', '2021-05-07', 6751.0, 2883384),
 ('nation', 'Scotland', 'S92000003', '2021-05-06', 15998.0, 2876633),
 ('nation', 'Scotland', 'S92000003', '2021-05-05', 13801.0, 2860635),
 ('nation', 'Scotland', 'S92000003', '2021-05-04', 13073.0, 2846834),
 ('nation', 'Scotland', 'S92000003', '2021-05-03', 8806.0, 2833761),
 ('nation', 'Scotland', 'S92000003', '2021-05-02', 7203.0, 2824955),
 ('nation', 'Scotland', 'S92000003', '2021-05-01', 6409.0, 2817752),
 ('nation', 'Scotland', 'S92000003', '2021-04-30', 9191.0, 2811343),
 ('nation', 'Scotland', 'S92000003', '2021-04-29', 5342.0, 2802152),
 ('nation', 'Scotland', 'S92000003', '2021-04-28', 6832.0, 2796810),
 ('nation', 'Scotland', 'S92000003', '2021-04-27', 7816.0, 2789978),
 ('nation', 'Scotland', 'S92000003', '2021-04-26', 8392.0, 2782162),
 ('nation', 'Scotland', 'S92000003', '2021-04-25', 2611.0, 2773770),
 ('nation', 'Scotland', 'S92000003', '2021-04-24', 6552.0, 2771159),
 ('nation', 'Scotland', 'S92000003', '2021-04-23', 6226.0, 2764607),
 ('nation', 'Scotland', 'S92000003', '2021-04-22', 3206.0, 2758381),
 ('nation', 'Scotland', 'S92000003', '2021-04-21', 2600.0, 2755175),
 ('nation', 'Scotland', 'S92000003', '2021-04-20', 2523.0, 2752575),
 ('nation', 'Scotland', 'S92000003', '2021-04-19', 2358.0, 2750052),
 ('nation', 'Scotland', 'S92000003', '2021-04-18', 3463.0, 2747694),
 ('nation', 'Scotland', 'S92000003', '2021-04-17', 10844.0, 2744231),
 ('nation', 'Scotland', 'S92000003', '2021-04-16', 11303.0, 2733387),
 ('nation', 'Scotland', 'S92000003', '2021-04-15', 13393.0, 2722084),

## Now we have a db with different tables created from a few CSV files

The dashboard will be created in the script *db2dashboard.py*

### Notebook details
<br>
<i>Notebook created by <strong>Manuel Dominguez</strong> 

Creation date: May 2021<br>